<header class="global-menu">
	<div class="title">
		@@if ( service == "portal" ) {<strong class="bespin-global"><span class="hidden">BESPIN GLOBAL</span></strong>}
		@@if ( service == "asset" ) {<strong class="service asset">ASSET MANAGEMENT</strong>}
		@@if ( service == "metering" ) {<strong class="service metering">METERING</strong>}
		<button type="button" class="btn-language">ENGLISH</button>
	</div>
	
	<figure class="user">
		<div class="thumb"><img src="/assets/images/company_profile.png" alt=""></div>
		<figcaption>
			<button type="button" class="name">김재희</button>
			<button type="button" class="company" title="NHN Asia Pacific">NHN Asia Pacific</button>
		</figcaption>
	</figure>
	<p class="uilts">
		<a href="#" class="btns notifications"><span class="hidden">새로운 알림</span><em class="badge">2</em>알림 바로가기</a>
		<button type="button" class="btns dashboard">대쉬보드 바로가기</button>
	</p>
</header>

@@if ( service == "asset" ) {
<nav class="sub-menus">
	<h2>하위 메뉴 바로가기</h2>
	
	<button type="button" class="all">전체 클라우드 회사</button>
	<ul class="list-menes">
		<li class="is-selected"><a href="#">DASHBOARD</a></li>
		<li><a href="#">SERVICE GROUP</a></li>
		<li><a href="#">STATUS</a></li>
		<li><a href="#">PERFORMANCE</a></li>
	</ul>
</nav>
}

@@if ( service == "metering" ) {
<nav class="sub-menus">
	<h2>하위 메뉴 바로가기</h2>

	<button type="button" class="all">전체 클라우드 회사</button>
	<ul class="list-menes">
		<li class="is-selected"><a href="#">DASHBOARD</a></li>
		<li><a href="#">BILLING</a></li>
		<li><a href="#">USAGE ANALYTICS</a></li>
		<li><a href="#">BUDGETING</a></li>
		<li><a href="#">RI(AWS) STATUS</a></li>
	</ul>
</nav>
}