<header class="global-menu">
	<div class="contents-inner">
		<a href="#" class="btn-home">BESPIN GLOBAL</a>

		<div class="title">
			@@if ( service == "portal" ) {<strong class="bespin-global"><span class="is-hidden">BESPIN GLOBAL</span></strong>}
			@@if ( service == "asset" ) {<strong class="service asset">ASSET MANAGEMENT</strong>}
			@@if ( service == "metering" ) {<strong class="service metering">METERING</strong>}

			<button type="button" class="btn-language language_open">ENGLISH</button>
			<ul id="language" class="list-select-popup small">
				<li><a href="#english" class="is-selected">ENGLISH</a></li>
				<li><a href="#korean">한국어</a></li>
				<li><a href="#chinese">中文</a></li>
			</ul>
		</div>
		
		<figure class="user">
			<div class="thumb"><img src="assets/images/company_profile.png" alt=""></div>
			<figcaption>
				<button type="button" class="name user-info_open">Jacob Kim</button>
				
				<button type="button" class="company company_open">NHN Asia Pacific</button>
				<ul id="company" class="list-select-popup">
					<li><a href="#NHNKorea" class="is-selected">NHN Korea</a></li>
					<li><a href="#NHNAsiaPacific">NHN Asia Pacific</a></li>
					<li><a href="#NHNAmerica">NHN America</a></li>
				</ul>
			</figcaption>
		</figure>
		<p class="uilts">
			<a href="#notification" class="btns notifications">
				<span class="hidden">new</span><em class="badge">2</em> notification
			</a>
			<button type="button" class="btns dashboard service-shortcut_open">shortcut service</button>
		</p>
	</div>

	<!-- service shortcut -->
	<aside id="service-shortcut" class="popover">
		<span class="point"></span>

		<nav class="global-shortcuts">
			<ul class="type-thumbnail">
				<li><a href="#" class="dashboard">My Bespin Dashboard</a></li>
				<li><a href="#" class="metering">Cost Metering</a></li>
				<li><a href="#" class="asset">Asset Management</a></li>
				<li><a href="#" class="monitoring">Realtime Monitoring</a></li>
				<li><a href="#" class="workflow">ITS Workflow</a></li>
			</ul>
		</nav>
	</aside>

	<!-- user info -->
	<aside id="user-info" class="popover">
		<span class="point" style="right: 50px; left: auto;"></span>

		<nav class="global-shortcuts">
			<ul class="type-list">
				<li class="is-selected"><a href="#">Home/Dashboard</a></li>
				<li><a href="#">Permission Groups</a></li>
				<li><a href="#">Cloud Vendor Accounts</a></li>
				<li><a href="#">Company Service Groups </a></li>
				<li><a href="#">Bespin Account &amp; Billing</a></li>
			</ul>
		</nav>
		<button type="button" class="btn-logout">Logout</button>
	</aside>
</header>



@@if ( service == "asset" ) {
<nav class="sub-menus">
	<div class="contents-inner">
		<h2>하위 메뉴 바로가기</h2>
		
		<button type="button" class="btn-settings">settings</button>
		<ul class="list-menes">
			<li @@if ( sub == "dashboard" ) { class="is-selected" }><a href="#">DASHBOARD</a></li>
			<li @@if ( sub == "service" ) { class="is-selected" }><a href="#">SERVICE GROUP</a></li>
			<li @@if ( sub == "usage" ) { class="is-selected" }><a href="#">USAGE</a></li>
			<li @@if ( sub == "performance" ) { class="is-selected" }><a href="#">PERFORMANCE</a></li>
		</ul>
	</div>
</nav>
}

@@if ( service == "metering" ) {
<nav class="sub-menus">
	<div class="contents-inner">
		<h2>하위 메뉴 바로가기</h2>

		<button type="button" class="btn-settings">settings</button>
		<ul class="list-menes">
			<li @@if ( sub == "dashboard" ) { class="is-selected" }><a href="#">DASHBOARD</a></li>
			<li @@if ( sub == "billing" ) { class="is-selected" }><a href="#">BILLING</a></li>
			<li @@if ( sub == "usage" ) { class="is-selected" }><a href="#">USAGE ANALYTICS</a></li>
			<li @@if ( sub == "budgeting" ) { class="is-selected" }><a href="#">BUDGETING</a></li>
			<li @@if ( sub == "status" ) { class="is-selected" }><a href="#">RI STATUS</a></li>
		</ul>
	</div>
</nav>
}

<script>
$(document).ready(function(e) {	
	/* GlobalMenu */
	var GlobalMenu = (function ($) {
		var scope,
			$container,
			$selectLanguage,
			$selectCompany,
			$userInfo,
			$service,
			init = function() {
				$container = $('.global-menu');
				$selectLanguage = $('#language');
				$selectCompany = $('#company');
				$service = $('#service-shortcut');
				$userInfo = $('#user-info');


				initLayout();
				initEvent();
			};

		function initLayout() {
		}

		function initEvent() {
			$selectLanguage.popup({
				type: 'tooltip',
				vertical: 'topedge',
				offsettop: -16,
				horizontal: 'leftedge',
				transition: '0.3s all 0.1s'
			});
			$selectCompany.popup({
				type: 'tooltip',
				vertical: 'topedge',
				offsettop: -12,
				offsetleft: -12,
				horizontal: 'leftedge',
				transition: '0.3s all 0.1s'
			});
			$service.popup({
				type: 'tooltip',
				vertical: 'bottom',
				offsettop: 50,
				horizontal: 'center',
				transition: '0.3s all 0.1s'
			});
			$userInfo.popup({
				type: 'tooltip',
				vertical: 'bottom',
				offsettop: 70,
				horizontal: 'rightedge',
				transition: '0.3s all 0.1s'
			});
		}

		return {
			init: function() {
				init();
			}
		};
	}(jQuery));

	GlobalMenu.init();
});
</script>