/**
	agGrid util
**/
.aggrid-uitls { clear: both; padding: 8px 0px; background-color: #fff;
	.right-content { float: right;
		.btn-text { margin-left: 26px; }
	}

	.left-content { float: left;
		.icheck { margin-right: 10px; }
	}

	.search { display: block;
		@include icon(search);
		&:before { display: inline-block; margin-right: 8px; color: #999; line-height: 20px; vertical-align: middle; }

		input[type=text] { height: 20px; width: 30%; font-size: 15px; font-weight: 500; color: #000; border: 0px; line-height: 20px; }
	}

	select { display: inline-block; box-sizing: border-box; padding: 0 30px 0 12px; height: 24px; width: auto; font-size: 0.750rem; font-weight: bold; color: #000; line-height: 24px; vertical-align: middle; border: 0px; border-radius: 0; background: #E7E7E7 url('/assets/images/select_arrow02.png') center right no-repeat; }
	.paging-status { font-size: 14px; font-weight: bold;
		.total { }
		.current { }
		.count { font-weight: normal;
			&:before { content: ''; display: inline-block; margin: -2px 10px 0 10px; height: 10px; width: 1px; vertical-align: middle; background-color: #A1A1A1; }
		}
	}

	.ri-status {
		label { display: inline-block; margin-right: 6px; font-size: 0.750rem; font-weight: 500; color: #000; line-height: 24px;
			~ label { margin-left: 20px; }
		}
		select { width: 130px; }
		.reference-date { height: 24px; width: 80px; font-size: 0.750rem; font-weight: 700; color: #000; text-align: center; border: 1px solid #E4E4E4; background-color: #fff; }
		.btn-reference-submit { margin-left: -5px; height: 26px; width: 66px; font-size: 0.750rem; font-weight: 700; color: #000; line-height: 24px; text-align: center; border: 1px solid #C7C7C7; background-color: #E7E7E7; }
	}
}


.grid-detail { display: block; box-sizing: border-box; position: absolute; top: 0px; right: -100%; bottom: 0; z-index: z("modaless"); padding: 23px 30px; width: 300px; color: #fff; background-color: #3E3E3E;
	transition: right 1s;

	.btn-close { position: absolute; top: 23px; right: 23px; color: #fff; }

	.title { font-size: 24px; font-weight: 500; }

	dl { display: block; box-sizing: border-box; overflow: auto; position: absolute; top: 100px; right: 0; bottom: 0; left: 0; height: auto;
		dt { padding: 15px 40px 12px; font-size: 12px; font-weight: 700; background-color: #4E4E4E; }
		dd { padding: 15px 40px 12px; font-size: 14px; font-weight: 500; }
	}


	&.is-opened { right: 0;
		transition: right 0.5s;
	}
}

.grid-bottom { padding: 20px 0 50px 0; text-align: center;
	.btn-more { font-size: 15px; font-weight: 700; color: #000; line-height: 30px; }

	a { display: inline-block; height: 30px; width: 30px; font-size: 16px; font-weight: 400; color: #000; line-height: 30px; vertical-align: middle; text-align: center; border-radius: 30px;
		&:hover { background-color: #ddd; }
		&.is-selected { color: #fff; background-color: #000; }

		&.btn-first,
		&.btn-prev,
		&.btn-next,
		&.btn-last { text-indent: -9999px;
			&:hover { color: #000; background-color: #fff; }
		}

		&.btn-first { @include retina-sprite($sc-btn-first-group); }
		&.btn-prev { margin-right: 20px; @include retina-sprite($sc-btn-prev-group); }
		&.btn-next { margin-left: 20px; @include retina-sprite($sc-btn-next-group); }
		&.btn-last { @include retina-sprite($sc-btn-last-group); }
	}
}

// popover
.popover.export {
	.point { }

	ul { display: block; width: 110px;
		> li { text-align: center; border-top: 2px solid #343434;
			&:first-child { border-top: 0px; }
			button { font-size: 16px; font-weight: 500; color: #fff; line-height: 48px; }
		}
	}
}



.ag-bespin-global {
	width: 100%;
	line-height: 1.4;
	font-family: inherit;
	font-size: 0.750rem;
	color: #4A4A4A;

	img {
		vertical-align: middle;
		border: 0;
	}
	.ag-hidden { display: none; }

	.ag-root {
		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
	}
	.ag-cell {
		font-weight: 400;
		line-height: 40px;
		padding-left: 10px;
	}
	.ag-cell-not-inline-editing {
		/*padding: 2px;*/
	}
	.ag-cell-range-selected-1:not(.ag-cell-focus) {
		background-color: rgba(120, 120, 120, 0.4);
	}
	.ag-cell-range-selected-2:not(.ag-cell-focus) {
		background-color: rgba(80, 80, 80, 0.4);
	}
	.ag-cell-range-selected-3:not(.ag-cell-focus) {
		background-color: rgba(40, 40, 40, 0.4);
	}
	.ag-cell-range-selected-4:not(.ag-cell-focus) {
		background-color: rgba(0, 0, 0, 0.4);
	}
	.ag-column-moving .ag-cell {
		transition: left 0.2s;
	}
	.ag-cell-focus {
		// border: 1px solid transparent;
	}
	.ag-cell-no-focus {
		// border-right: 1px solid transparent;
		// border-top: 1px solid transparent;
		// border-left: 1px solid transparent;
		// border-bottom: 1px solid transparent;
	}
	.ag-cell-first-right-pinned {
		// border-left: 1px solid #808080;
	}
	.ag-cell-last-left-pinned {
		// border-right: 1px solid #808080;
	}
	.ag-cell-highlight {
		border: 1px solid #006400;
	}
	.ag-cell-highlight-animation {
		transition: border 1s;
	}
	.ag-value-change-delta {
		padding-right: 2px;
	}
	.ag-value-change-delta-up {
		color: #006400;
	}
	.ag-value-change-delta-down {
		color: #8b0000;
	}
	.ag-value-change-value {
		background-color: transparent;
		border-radius: 1px;
		padding-left: 1px;
		padding-right: 1px;
		transition: background-color 1s;
	}
	.ag-value-change-value-highlight {
		background-color: #cec;
		transition: background-color 0.1s;
	}
	.ag-rich-select {
		font-size: 14px;
		border: 1px solid #808080;
		background-color: #fff;
	}
	.ag-rich-select-value {
		padding: 2px;
	}
	.ag-rich-select-list {
		border-top: 1px solid #d3d3d3;
	}
	.ag-rich-select-row {
		padding: 2px;
	}
	.ag-rich-select-row-selected {
		background-color: #bde2e5;
	}
	.ag-large-text {
		border: 1px solid #808080;
	}
	.ag-header {
		color: #000;
		background-color: #fff;
		border-bottom: 1px solid transparent;
		font-weight: 700;
	}
	.ag-header-icon {
		display: inline-block; margin: -2px 0 0 3px; vertical-align: middle;

		&.ag-hidden { display: none; }
		&.ag-sort-none-icon { @include retina-sprite($sc-sort-none-group); }
		&.ag-sort-ascending-icon { @include retina-sprite($sc-sort-asc-group); }
		&.ag-sort-descending-icon { @include retina-sprite($sc-sort-desc-group); }
	}
	.ag-no-scrolls .ag-header-container {
		background: linear-gradient(#fff, #d3d3d3);
		border-bottom: 1px solid #808080;
	}
	.ag-header-row { border-bottom: 1px solid #D6D6D6; }
	.ag-header-cell {
		text-align: left;
		padding-left: 10px;
		border-right: 1px solid transparent;
	}
	.ag-header-cell-resize { width: 3px; background: url('/assets/images/ag_cell_resize.png') center center no-repeat; background-size: 3px 30px; }
	.ag-header-cell-moving {
		.ag-header-cell-label {
			opacity: 0.5;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			filter: alpha(opacity = 50);
		}
		background-color: #bebebe;
	}
	.ag-header-group-cell {
	}
	.ag-header-group-cell-with-group { }
	.ag-header-cell-label {
		font-size: 12px;
		padding: 0;
		line-height: 40px;
	}
	.ag-header-cell-text {
		padding-left: 2px;
	}
	.ag-header-group-cell-label {
		// padding: 4px;
		padding-left: 10px;
	}
	.ag-header-group-text {
		line-height: 40px;
		margin-right: 2px;
	}
	.ag-header-cell-menu-button {
		position: absolute; top: 9px; right: 5px; z-index: 1;
		padding: 0px;
		height: 22px; width: 20px;
		border: 1px solid transparent;
		box-sizing: content-box;
		line-height: 40px;
		@include icon(menu);
		&:before { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; font-size: 18px; line-height: 24px; vertical-align: middle; }
	}
	.ag-filter-icon { display: block; box-sizing: border-box; position: absolute; top: 50%; right: 0px; bottom: 2px; left: -2px; margin-top: -14px; height: 28px; border: 2px solid #000;

	}
	.ag-pinned-right-header {
		// border-left: 1px solid #808080;
	}
	.ag-header-cell-menu-button:hover {
		// border: 1px solid #808080;
	}
	.ag-body {
		background-color: #fff;
		.ag-row {
			// transition: background-color 0.1s;
			border-bottom: 1px solid #EFEFEF;
		}
		.ag-row-odd {
			// background-color: #fff;
		}
		.ag-row-even {
			// background-color: #f6f6f6;
		}
		.ag-row-selected {
			background-color: #F6F6F6;
		}
	}
	.ag-floating-top .ag-row, .ag-floating-bottom .ag-row {
		background-color: #fff;
	}
	.ag-floating-bottom .ag-row { border-top: 2px solid #000;
		.ag-cell { line-height: 50px; }
	}
	.ag-floating-bottom { z-index: 1; height: 50px !important; border-bottom: 2px solid #000; }
	.ag-body-viewport-wrapper { border-top: 1px solid #D6D6D6; }
	.ag-overlay-loading-wrapper {
		background-color: rgba(255, 255, 255, 0.5);
	}
	.ag-overlay-loading-center {
		background-color: #fff;
		border: 1px solid #808080;
		border-radius: 10px;
		padding: 10px;
		color: #000;
	}
	.ag-overlay-no-rows-center {
		background-color: #fff;
		border: 1px solid #808080;
		border-radius: 10px;
		padding: 10px;
	}
	.ag-group-cell-entire-row, .ag-footer-cell-entire-row {
		background-color: #f6f6f6;
		padding: 2px;
	}
	.ag-group-cell {
		font-style: italic;
	}
	.ag-group-expanded, .ag-group-contracted {
		padding-right: 4px;
	}
	.ag-group-value, .ag-group-checkbox {
		padding-right: 2px;
	}
	.ag-footer-cell {
		font-style: italic;
	}
	.ag-menu {
		z-index: 1;
		padding: 10px;
		border: 2px solid #000;
		background-color: #fff;
		cursor: default;
		font-size: 14px;
		.ag-tab-header {
			display: none;
			background-color: #fff;
		}
		.ag-tab {
			padding: 6px 8px 6px 8px;
			margin: 2px 2px 0px 2px;
			display: inline-block;
			border-right: 1px solid transparent;
			border-left: 1px solid transparent;
			border-top: 1px solid transparent;
			border-top-right-radius: 2px;
			border-top-left-radius: 2px;
		}
		.ag-tab-selected {
			background-color: #f6f6f6;
			border-right: 1px solid #d3d3d3;
			border-left: 1px solid #d3d3d3;
			border-top: 1px solid #d3d3d3;
		}
	}
	.ag-menu-separator {
		border-top: 1px solid #d3d3d3;
	}
	.ag-menu-option-active {
		background-color: #bde2e5;
	}
	.ag-menu-option-icon, .ag-menu-option-text {
		padding: 2px 4px 2px 4px;
		vertical-align: middle;
	}
	.ag-menu-option-shortcut {
		padding: 2px 2px 2px 20px;
		vertical-align: middle;
	}
	.ag-menu-option-popup-pointer {
		padding: 2px 4px 2px 4px;
		vertical-align: middle;
	}
	.ag-menu-option-disabled {
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity = 50);
	}
	.ag-menu-column-select-wrapper {
		margin: 2px;
	}
	.ag-filter-checkbox {
		position: relative;
		top: 2px;
		left: 2px;
	}
	.ag-filter-header-container {
		// border-bottom: 1px solid #d3d3d3;
		.ag-filter-filter { box-sizing: border-box; padding-left: 20px; height: 27px; width: 100%; font-size: 16px; font-weight: 500; color: #000; border: 0px; background-color: #E7E7E7; }
		> label { display: block;  }
	}
	.ag-set-filter-list {
	}
	.ag-filter-apply-panel {
		border-top: 1px solid #d3d3d3;
		padding: 2px;
	}
	.ag-filter-value {
		margin-left: 4px;
	}
	.ag-selection-checkbox {
		padding-right: 4px;
	}
	.ag-paging-panel {
		padding: 4px;
	}
	.ag-paging-button {
		margin-left: 4px;
		margin-right: 4px;
	}
	.ag-paging-row-summary-panel {
		display: inline-block;
		width: 300px;
	}
	.ag-tool-panel {
		background-color: #f6f6f6;
		border-right: 1px solid #808080;
		border-bottom: 1px solid #808080;
		border-top: 1px solid #808080;
		color: #222;
	}
	.ag-status-bar {
		color: #222;
		background-color: #f6f6f6;
		font-size: 14px;
		height: 22px;
		border-bottom: 1px solid #808080;
		border-left: 1px solid #808080;
		border-right: 1px solid #808080;
		padding: 2px;
	}
	.ag-status-bar-aggregations {
		float: right;
	}
	.ag-status-bar-item {
		padding-left: 10px;
	}
	.ag-column-drop-cell {
		background: -webkit-linear-gradient(#fff, #d3d3d3);
		background: -moz-linear-gradient(#fff, #d3d3d3);
		background: -o-linear-gradient(#fff, #d3d3d3);
		background: -ms-linear-gradient(#fff, #d3d3d3);
		background: linear-gradient(#fff, #d3d3d3);
		color: #000;
		border: 1px solid #808080;
	}
	.ag-column-drop-cell-ghost {
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity = 50);
	}
	.ag-column-drop-cell-text {
		padding-left: 2px;
		padding-right: 2px;
	}
	.ag-column-drop-cell-button {
		border: 1px solid transparent;
		padding-left: 2px;
		padding-right: 2px;
		border-radius: 3px;
		&:hover {
			border: 1px solid #808080;
		}
	}
	.ag-column-drop-empty-message {
		padding-left: 2px;
		padding-right: 2px;
		color: #808080;
	}
	.ag-column-drop-icon {
		padding-right: 4px;
	}
	.ag-column-drop {
		background-color: #f6f6f6;
	}
	.ag-column-drop-horizontal {
		padding: 4px 4px 4px 4px;
		border-top: 1px solid #808080;
		border-left: 1px solid #808080;
		border-right: 1px solid #808080;
		.ag-column-drop-cell {
			padding: 2px;
		}
	}
	.ag-column-drop-vertical {
		padding: 4px 4px 10px 4px;
		border-bottom: 1px solid #808080;
		.ag-column-drop-cell {
			margin-top: 2px;
		}
		.ag-column-drop-empty-message {
			text-align: center;
			padding: 5px;
		}
	}
	.ag-pivot-mode {
		border-bottom: 1px solid #808080;
		padding: 4px;
		background-color: #f6f6f6;
	}
	.ag-tool-panel .ag-column-select-panel {
		border-bottom: 1px solid #808080;
	}
	.ag-select-agg-func-popup {
		cursor: default;
		position: absolute;
		font-size: 14px;
		background-color: #fff;
		border: 1px solid #808080;
	}
	.ag-select-agg-func-item {
		padding-left: 2px;
		padding-right: 2px;
		&:hover {
			background-color: #bde2e5;
		}
	}

	&.hidden-overflow-x {
		.ag-body-viewport { overflow-x: hidden; }
	}
}

.ag-bespin-global .ag-cell-focus.ag-cell.ag-cell-value.ag-cell-range-selected.ag-cell-range-selected-1.ag-cell-inline-editing input {height:36px;direction:RTL}
