
body.asset {
	.chart-container { clear: both; padding: 0 0 20px 0;
	}


	&.dashboard { background-color: #F5F5F5;
		.section-box { padding-top: 23px;
			.section-title { padding: 0 30px; font-size: 18px; font-weight: 700; color: #000; }
		}

		.box-item { 
			> .title.perfomance { display: block; float: left; position: relative; z-index: z("default"); padding-right: 15px; font-size: 16px; font-weight: 700; color: #000; line-height: 24px; background-color: #fff;
				@include icon(info, after);
				&:after { display: inline-block; margin: -2px 0 0 5px; color: #959595; vertical-align: middle; }
			}
		}

		// tooltip
		
		.asset-tooltip { padding: 10px; width: 200px;
			.point { top: 50%; left: -10px; margin-top: -15px; margin-left: 0; }

			p { font-size: 14px; font-weight: 500; color: #fff; line-height: 16px; }
		}

		.list-column-03 { padding-top: 15px; }

		.chart-container { padding: 0px;
			&:after { right: 0px; }

			.slick-arrow {
				&.slick-prev { left: 0px; }
				&.slick-next { right: 0px; }
			}
		}

		.running-small { display: inline-block; box-sizing: border-box; height: 20px; min-width: 30px; font-size: 0.750rem; font-weight: 400; color: #000; text-align: center; line-height: 20px; border-radius: 20px; background-color: #27B6ED; }
		.stopped-small { display: inline-block; box-sizing: border-box; height: 20px; min-width: 30px; font-size: 0.750rem; font-weight: 400; color: #000; text-align: center; line-height: 20px; border-radius: 20px; background-color: #D8D8D8; }

		@import "layout_dashboard";
		.asset-usage {
			.total { padding-bottom: 14px; height: 54px; font-family: $font-special-stack; font-size: 1.063rem; font-weight: 700; color: #000; vertical-align: bottom; line-height: 54px; 
				.total-cnt { display: inline-block; width: 220px;
					> em { display: inline-block; margin-left: 10px; font-size: 2.500rem; font-weight: 400; line-height: 54px; }
					.unit { font-family: $font-base-stack; font-size: 1.125rem; font-weight: 400; line-height: 54px; }
				}

				.status { display: inline-block; margin-right: 20px; font-size: 1.000rem;
					&:before { content: ''; display: inline-block; margin: -2px 4px 0 -3px; height: 15px; width: 15px; vertical-align: middle; border-radius: 15px; }

					&.running {
						&:before { background-color: #27B6ED; }
					}
					&.stopped {
						&:before { background-color: #D8D8D8; }
					}
					.cnt { font-size: 0.875rem;
						em { font-size: 1.000rem; }
					}
				}
			}

			.asset-usage-box { border-top: 2px solid #000; border-bottom: 2px solid #E4E4E4;
				&.region { float: left; height: 568px; width: 180px; }
				&.service-group { float: right; width: 350px; }
				&.instance-type { float: right; margin-top: 40px; width: 350px; }

				> .title { padding: 8px 0 0 0; height: 34px; font-family: $font-special-stack; font-size: 0.750rem; font-weight: 700; color: #000;
					em { color: #007AFF; }
				}

				// region graph
				.list-top-region { display: block; box-sizing: border-box; overflow: auto; height: 526px; border-top: 2px solid #E4E4E4;
					> li { position: relative; box-sizing: border-box; padding: 20px 0 20px 5px; border-bottom: 1px solid #D8D8D8;
						&:last-child { border-bottom: 0; }

						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3) {
							.region-count {
								em { font-size: 1.875rem; }
							}
						}

						.region-name { display: block; font-size: 0.750rem; font-weight: 400; color: #000; line-height: 17px; }
						.region-count { display: block; font-size: 1.125rem; font-weight: 400; color: #000; line-height: 17px;
							em { font-family: $font-special-stack; font-size: 1.250rem; font-weight: 400; }
						}
						
						.seperate-cnt { display: flex; flex-direction: column; align-content: center; justify-content: center; position: absolute; top: 0; right: 16px; bottom: 0; height: 100%; width: 30px; vertical-align: middle;
							span { margin: 3px 0 2px 0; }
						}
					}
				}
			}
		}

		.list-asset-counts { overflow: auto; box-sizing: border-box; padding: 10px 16px 0 3px; height: 220px; border-top: 2px solid #E4E4E4; background-color: #F8F8F8;
			&:after { content: ''; clear: both; }

			table { width: 100%; font-size: 0.875rem; font-weight: 500; color: #000; 
				tbody {
					th { padding: 7px 0; font-weight: 500; }
					td { padding: 7px 0; }
				}
				.rank { display: inline-block; height: 21px; width: 21px; font-family: $font-special-stack; font-size: 0.688rem; font-weight: 700; color: #F4F4F4; text-align: center; line-height: 21px; border-radius: 6px; background-color: #B3B3B3;
					&.high { background-color: #7C7C7C; }
				}
				.c { text-align: center; }
				.r { padding-right: 8px; text-align: right; }
			}
		}

		.asset-performance-box { position: relative; border-bottom: 2px solid #E4E4E4; 
			&:before { content: ''; display: block; position: absolute; top: 7px; right: 0; left: 0; height: 2px; background-color: #000; }
			
			> .title { float: left; position: relative; z-index: z("default"); margin-bottom: 33px; padding-right: 15px; font-family: $font-special-stack; font-size: 0.813rem; font-weight: 700; color: #000; background-color: #fff;
				@include icon(info, after);
				&:after { display: inline-block; margin: -2px 0 0 5px; font-size: 15px; color: #959595; vertical-align: middle; }
			}

			.performance-graph { clear: both; position: relative; overflow: hidden; margin: 0 auto 30px auto; text-align: center; @include retina-sprite($sc-bg-performance-group);
				.arc { display: block; overflow: hidden; position: absolute; height: 100%; width: 100%; @include retina-sprite($sc-performance-group); background-color: #fff;
					transform: rotate(0deg); transform-origin: 50% 100%;
				}

				.point { display: block; position: absolute; right: 0; bottom: 0; left: 0; font-family: $font-special-stack; font-size: 2.500rem; font-weight: 400; color: #000;
					.avg { display: block; margin-bottom: 5px; font-size: 1.125rem; }
				}
			}
		}
	}


	&.service-group {
		.box-item {
			.title {
				@include icon(cloud);
				&:before { display: inline-block; margin-top: -4px; height: 16px; width: 21px; font-size: 16px; line-height: 16px; vertical-align: middle; }
			}
		}

		.popover.service-group { position: absolute; padding: 15px;
			.point { top: -10px; z-index: z("default") - 1; }

			&.warning { font-size: 14px; font-weight: 500; color: #fff; line-height: 14px; width: 255px; background-color: #E74E0F;
				.point { 
					&:before { color: #E74E0F; }
				}
			}
		}
	}


	&.usage,
	&.performance {
		.usage-current {
			.list-usage-current { overflow: hidden; padding: 0 40px;
				li { display: block; box-sizing: border-box; float: left; padding-right: 30px; width: 310px;
					.chart { clear: both; padding-top: 15px; height: 215px; }
				}
			}
		}

		// usage - history chart
		.chart-container .amChartsLegend.amcharts-legend-div { max-height: 200px !important; overflow: auto !important; overflow-x: hidden !important; }		
	}

}
