
body.asset {
	.chart-container { clear: both; padding: 0 0 20px 0;
	}


	&.dashboard { background-color: #F5F5F5;
		.section-box { padding-top: 23px;
			.section-title { padding: 0 30px; font-size: 18px; font-weight: 700; color: #000; }
		}

		.box-item { 
			> .title.perfomance { display: block; float: left; position: relative; z-index: z("default"); padding-right: 15px; font-size: 16px; font-weight: 700; color: #000; line-height: 24px; background-color: #fff;
				@include icon(info, after);
				&:after { display: inline-block; margin: -2px 0 0 5px; color: #959595; vertical-align: middle; }
			}
		}

		// tooltip
		
		.asset-tooltip { padding: 10px; width: 200px;
			.point { top: 50%; left: -10px; margin-top: -15px; margin-left: 0; }

			p { font-size: 14px; font-weight: 500; color: #fff; line-height: 16px; }
		}

		.list-column-03 { padding-top: 15px; }

		.chart-container { padding: 0px;
			&:after { right: 0px; }

			.slick-arrow {
				&.slick-prev { left: 0px; }
				&.slick-next { right: 0px; }
			}
		}


		@import "layout_dashboard";
		.asset-usage {
			.total { padding-bottom: 14px; height: 54px; font-family: $font-special-stack; font-size: 1.063rem; font-weight: 700; color: #000; vertical-align: bottom; line-height: 54px; 
				em { display: inline-block; margin-left: 10px; font-size: 2.500rem; font-weight: 400; line-height: 54px; }
				.unit { font-family: $font-base-stack; font-size: 1.125rem; font-weight: 400; line-height: 54px; }
			}

			.asset-usage-box { border-top: 2px solid #000; border-bottom: 2px solid #E4E4E4;
				&.region { float: left; height: 568px; width: 180px; }
				&.service-group { float: right; width: 350px; }
				&.instance-type { float: right; margin-top: 40px; width: 350px; }

				> .title { padding: 8px 0 0 0; height: 34px; font-family: $font-special-stack; font-size: 0.750rem; font-weight: 700; color: #000; }

				// region graph
				.list-top-region { overflow: hidden; height: 526px;
					> li { position: relative; box-sizing: border-box; padding: 0 0 0 35px;
						&:before { content: ''; display: block; position: absolute; top: 0; bottom: 0; left: 0; z-index: z("default"); width: 20px; animation-name: linear-down; animation-duration: 0.3s; animation-fill-mode: both; animation-timing-function: linear; }
						&:after { content: ''; display: block; position: absolute; top: 0; right: 0; left: 0; height: 1px; background-color: #D8D8D8; }
						&:nth-child(1):before { z-index: z("tooltip") - 10; background-color: #0DACEA; animation-delay: 0s; }
						&:nth-child(2):before { z-index: z("tooltip") - 9; background-color: #F7A70C; animation-delay: 0.3s; }
						&:nth-child(3):before { z-index: z("tooltip") - 8; background-color: #DC6737; animation-delay: 0.6s; }
						&:nth-child(4):before { z-index: z("tooltip") - 7; background-color: #6651B3; animation-delay: 0.9s; }
						&:nth-child(5):before { z-index: z("tooltip") - 6; background-color: #9E945B; animation-delay: 1.2s; }
						&:nth-child(6):before { z-index: z("tooltip") - 5; background-color: #1C1C1C; animation-delay: 1.5s; }
						&:nth-child(7):before { z-index: z("tooltip") - 4; background-color: #7B7B7B; animation-delay: 1.8s; }
						&:nth-child(8):before { z-index: z("tooltip") - 3; background-color: #59C7C0; animation-delay: 2.1s; }
						&:nth-child(9):before { z-index: z("tooltip") - 2; background-color: #F8DD29; animation-delay: 2.4s; }
						&:nth-child(10):before { z-index: z("tooltip") - 1; background-color: #E44893; animation-delay: 2.7s; }

						.region-name { display: block; padding-top: 8px; font-size: 0.750rem; font-weight: 400; color: #000; line-height: 17px; }
						.region-count { display: block; font-size: 0.875rem; font-weight: 500; color: #000; line-height: 17px; }
					}
				}
			}
		}

		.list-asset-counts { overflow: auto; box-sizing: border-box; padding: 6px 35px 0 16px; height: 218px; border-top: 2px solid #E4E4E4; background-color: #F8F8F8;
			&:after { content: ''; clear: both; }

			.key { display: block; float: left; width: 70%; font-size: 0.750rem; font-weight: 400; color: #000; line-height: 34px; }
			.value { display: block; float: right; width: 30%; font-size: 0.875rem; font-weight: 500; color: #000; text-align: right; line-height: 34px; }
		}

		.asset-performance-box { position: relative; border-bottom: 2px solid #E4E4E4; 
			&:before { content: ''; display: block; position: absolute; top: 7px; right: 0; left: 0; height: 2px; background-color: #000; }
			
			> .title { float: left; position: relative; z-index: z("default"); margin-bottom: 33px; padding-right: 15px; font-family: $font-special-stack; font-size: 0.813rem; font-weight: 700; color: #000; background-color: #fff;
				@include icon(info, after);
				&:after { display: inline-block; margin: -2px 0 0 5px; font-size: 15px; color: #959595; vertical-align: middle; }
			}

			.performance-graph { clear: both; position: relative; overflow: hidden; margin: 0 auto 30px auto; text-align: center; @include retina-sprite($sc-bg-performance-group);
				.arc { display: block; overflow: hidden; position: absolute; height: 100%; width: 100%; @include retina-sprite($sc-performance-group); background-color: #fff;
					transform: rotate(0deg); transform-origin: 50% 100%;
				}

				.point { display: block; position: absolute; right: 0; bottom: 0; left: 0; font-family: $font-special-stack; font-size: 2.500rem; font-weight: 400; color: #000;
					.avg { display: block; margin-bottom: 5px; font-size: 1.125rem; }
				}
			}
		}
	}


	&.service-group {
		.box-item {
			.title {
				@include icon(cloud);
				&:before { display: inline-block; margin-top: -4px; height: 16px; width: 21px; font-size: 16px; line-height: 16px; vertical-align: middle; }
			}
		}
		.popover.service-group { position: absolute; padding: 15px; min-width: 120px; border: 2px solid #fff;
			.point { top: -10px; z-index: z("default") - 1; }

			.list-ea { overflow: hidden; position: relative; z-index: z("default"); font-size: 14px; font-weight: 500; color: #fff;
				dt { clear: both; overflow: hidden; float: left; height: 17px; width: 70%; line-height: 17px; text-overflow: ellipsis; white-space: nowrap; }
				dd { float: right; width: 30%; text-align: right; line-height: 17px; text-overflow: ellipsis; white-space: nowrap; }
			}

			&.warning { font-size: 14px; font-weight: 500; color: #fff; line-height: 14px; width: 255px; background-color: #E74E0F;
				.point { 
					&:before { color: #E74E0F; }
				}
			}
		}
	}


	&.usage,
	&.performance {
		.usage-current {
			.list-usage-current { overflow: hidden; padding: 0 40px;
				li { display: block; box-sizing: border-box; float: left; padding-right: 30px; width: 310px;
					.chart { clear: both; padding-top: 15px; height: 215px; }
				}
			}
		}

		// usage - history chart
		.chart-container .amChartsLegend.amcharts-legend-div { max-height: 200px !important; overflow: auto !important; overflow-x: hidden !important; }		
	}

}
