

/* global menu shortcuts popover */
.global-shortcuts {
	.type-list { min-width: 390px;
		> li { position: relative;
			&:after { content: none; display: block; position: absolute; top: 50%; right: 0; left: 0; margin-top: -2px; height: 3px; background-color: #fff; }

			&.is-selected {
				&:after { content: ''; }
				a { color: $white; }
			}

			a { display: inline-block; position: relative; z-index: z("default"); padding-right: 15px; font-size: 24px; color: #999; line-height: 63px; background-color: #000;
				&:hover { color: $white; }
			}
		}
	}

	.type-thumbnail { overflow: hidden; margin-bottom: -34px; width: 390px;
		> li { float: left; padding-right: 50px; padding-bottom: 34px; width: 90px;
			&:nth-child(3n+3) { padding-right: 0; }

			a { display: block; min-height: 90px; width: 90px; font-size: 18px; color: $white; line-height: 18px;
				&:before { content: ''; display: block; box-sizing: border-box; margin-bottom: 8px; padding-top: 5px; height: 85px; width: 100%; text-align: center; vertical-align: middle; border: 5px solid #fff; }

				&.metering {
					@include icon(metering);
					&:before { font-size: 58px; line-height: 63px; }
				}

				&.asset {
					@include icon(asset);
					&:before { font-size: 44px; line-height: 64px; }
				}

				&.none {
					&:before { border: 5px solid rgba(255, 255, 255, 0.23); }
				}
			}

		}
	}
}


/* popover */
.popover { display: block; position: relative; padding: 35px; background-color: #000;
	.point { display: block; position: absolute; top: -15px; left: 50%; margin-left: -20px; height: 41px; width: 41px;
		@include icon(arrow02);
		&:before { font-size: 41px; line-height: 41px; }
	}

	.btn-logout { float: right; font-size: 18px; color: $white; border-bottom: 1px solid #fff; }	
}



/* select layer popup */
.list-select-popup { display: block; min-width: 160px; border: 3px solid #000; background-color: #fff;
	> li { display: block;
		a { display: block; padding: 0 10px; font-size: 18px; color: $black; line-height: 42px;
			&.is-selected,
			&:hover { color: $white; background-color: #000; }
		}
	}

	&.small {
		a { font-size: 13px; }
	}
}

/* dropdown(selectbox) */
.selectize-control { position: relative; z-index: z("dropdown"); width: 100%;

	.selectize-input { display: inline-block; box-sizing: border-box; overflow: hidden; position: relative; z-index: z("default"); width: 100%; border: 0px; font-size: 20px; color: #000; line-height: 42px;
		.dropdown-language & { font-size: 13px; line-height: 18px; 
			> input { display: none; }
			> .item { display: inline-block; padding-right: 20px; line-height: 10px;
				@include icon(arrow01, after);
				&:after { position: absolute; top: 50%; right: 5px; margin-top: -5px; height: 9px; width: 13px; font-size: 11px; color: #000; line-height: 10px; }
			}
		}

		.dropdown-company & { font-size: 18px; color: rgba(0, 0, 0, 0.51);
			> input { display: none; }
			> .item { border-bottom: 2px solid #878787;
				@include icon(arrow01, after); 
				&:after { position: absolute; top: 50%; right: 6px; margin-top: -5px; height: 9px; width: 13px; font-size: 15px; line-height: 9px; color: #878787; }
			}
		}

		> input { display: inline-block;
			margin: 0 2px 0 0 !important;
			padding: 0 !important;
			min-height: 0 !important;
			max-height: none !important;
			max-width: 100% !important;
			text-indent: 0 !important;
			line-height: inherit !important;
			border: 0 none !important;
			box-shadow: none !important;
			background: none !important;
		}
	}


	.selectize-dropdown { display: inline-block; box-sizing: border-box; position: absolute; z-index: z("dropdown"); width: 190px !important; border: 3px solid #000; background-color: #fff;
		[data-selectable] { overflow: hidden; cursor: pointer; line-height: 42px;
			.highlight { background-color: #000; }
		}

		.selectize-dropdown-content { overflow-y: auto; overflow-x: hidden; max-height: 200px; }
		.option { padding: 0 10px; }
		.active { color: #fff; background-color: #000; }
	}
}



/* buttons */
.btn-settings { overflow: hidden; height: 28px; width: 28px;
	@include icon(settings); 
	&:before { display: block; height: 28px; width: 28px; font-size: 28px; color: #666; }
}


