@font-face {
	font-family: "Icons";
	src: url('../fonts/icons/Icons.eot');
	src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
		url('../fonts/icons/Icons.woff') format('woff'),
		url('../fonts/icons/Icons.ttf') format('truetype'),
		url('../fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow01 {
		$char: "\E001";
	}
	@if $filename == arrow02 {
		$char: "\E002";
	}
	@if $filename == arrow03 {
		$char: "\E003";
	}
	@if $filename == arrow04 {
		$char: "\E004";
	}
	@if $filename == asset {
		$char: "\E005";
	}
	@if $filename == calendar {
		$char: "\E006";
	}
	@if $filename == cancel {
		$char: "\E007";
	}
	@if $filename == check {
		$char: "\E008";
	}
	@if $filename == close {
		$char: "\E009";
	}
	@if $filename == close02 {
		$char: "\E00A";
	}
	@if $filename == dashboard {
		$char: "\E00B";
	}
	@if $filename == defaultview {
		$char: "\E00C";
	}
	@if $filename == delete {
		$char: "\E00D";
	}
	@if $filename == done {
		$char: "\E00E";
	}
	@if $filename == dot {
		$char: "\E00F";
	}
	@if $filename == download {
		$char: "\E010";
	}
	@if $filename == edit {
		$char: "\E011";
	}
	@if $filename == email {
		$char: "\E012";
	}
	@if $filename == export {
		$char: "\E013";
	}
	@if $filename == eyes {
		$char: "\E014";
	}
	@if $filename == filter {
		$char: "\E015";
	}
	@if $filename == grid {
		$char: "\E016";
	}
	@if $filename == growth {
		$char: "\E017";
	}
	@if $filename == iks {
		$char: "\E018";
	}
	@if $filename == iks02 {
		$char: "\E019";
	}
	@if $filename == info {
		$char: "\E01A";
	}
	@if $filename == menu {
		$char: "\E01B";
	}
	@if $filename == message {
		$char: "\E01C";
	}
	@if $filename == metering {
		$char: "\E01D";
	}
	@if $filename == monitoring {
		$char: "\E01E";
	}
	@if $filename == noticifation {
		$char: "\E01F";
	}
	@if $filename == phone {
		$char: "\E020";
	}
	@if $filename == refresh {
		$char: "\E021";
	}
	@if $filename == reset {
		$char: "\E022";
	}
	@if $filename == search {
		$char: "\E023";
	}
	@if $filename == search02 {
		$char: "\E024";
	}
	@if $filename == settings {
		$char: "\E025";
	}
	@if $filename == warning {
		$char: "\E026";
	}
	@if $filename == wideview {
		$char: "\E027";
	}
	@if $filename == workflow {
		$char: "\E028";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}


.icon-arrow01 {
	@include icon(arrow01);
}
.icon-arrow02 {
	@include icon(arrow02);
}
.icon-arrow03 {
	@include icon(arrow03);
}
.icon-arrow04 {
	@include icon(arrow04);
}
.icon-asset {
	@include icon(asset);
}
.icon-calendar {
	@include icon(calendar);
}
.icon-cancel {
	@include icon(cancel);
}
.icon-check {
	@include icon(check);
}
.icon-close {
	@include icon(close);
}
.icon-close02 {
	@include icon(close02);
}
.icon-dashboard {
	@include icon(dashboard);
}
.icon-defaultview {
	@include icon(defaultview);
}
.icon-delete {
	@include icon(delete);
}
.icon-done {
	@include icon(done);
}
.icon-dot {
	@include icon(dot);
}
.icon-download {
	@include icon(download);
}
.icon-edit {
	@include icon(edit);
}
.icon-email {
	@include icon(email);
}
.icon-export {
	@include icon(export);
}
.icon-eyes {
	@include icon(eyes);
}
.icon-filter {
	@include icon(filter);
}
.icon-grid {
	@include icon(grid);
}
.icon-growth {
	@include icon(growth);
}
.icon-iks {
	@include icon(iks);
}
.icon-iks02 {
	@include icon(iks02);
}
.icon-info {
	@include icon(info);
}
.icon-menu {
	@include icon(menu);
}
.icon-message {
	@include icon(message);
}
.icon-metering {
	@include icon(metering);
}
.icon-monitoring {
	@include icon(monitoring);
}
.icon-noticifation {
	@include icon(noticifation);
}
.icon-phone {
	@include icon(phone);
}
.icon-refresh {
	@include icon(refresh);
}
.icon-reset {
	@include icon(reset);
}
.icon-search {
	@include icon(search);
}
.icon-search02 {
	@include icon(search02);
}
.icon-settings {
	@include icon(settings);
}
.icon-warning {
	@include icon(warning);
}
.icon-wideview {
	@include icon(wideview);
}
.icon-workflow {
	@include icon(workflow);
}