/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sl-bsp-name: 'sl-bsp';
$sl-bsp-x: 148px;
$sl-bsp-y: 141px;
$sl-bsp-offset-x: -148px;
$sl-bsp-offset-y: -141px;
$sl-bsp-width: 78px;
$sl-bsp-height: 17px;
$sl-bsp-total-width: 570px;
$sl-bsp-total-height: 272px;
$sl-bsp-image: '../images/layout_sprites.png';
$sl-bsp: (148px, 141px, -148px, -141px, 78px, 17px, 570px, 272px, '../images/layout_sprites.png', 'sl-bsp', );
$sl-footer-cloud-name: 'sl-footer_cloud';
$sl-footer-cloud-x: 0px;
$sl-footer-cloud-y: 171px;
$sl-footer-cloud-offset-x: 0px;
$sl-footer-cloud-offset-y: -171px;
$sl-footer-cloud-width: 28px;
$sl-footer-cloud-height: 101px;
$sl-footer-cloud-total-width: 570px;
$sl-footer-cloud-total-height: 272px;
$sl-footer-cloud-image: '../images/layout_sprites.png';
$sl-footer-cloud: (0px, 171px, 0px, -171px, 28px, 101px, 570px, 272px, '../images/layout_sprites.png', 'sl-footer_cloud', );
$sl-footer-title-name: 'sl-footer_title';
$sl-footer-title-x: 0px;
$sl-footer-title-y: 0px;
$sl-footer-title-offset-x: 0px;
$sl-footer-title-offset-y: 0px;
$sl-footer-title-width: 244px;
$sl-footer-title-height: 52px;
$sl-footer-title-total-width: 570px;
$sl-footer-title-total-height: 272px;
$sl-footer-title-image: '../images/layout_sprites.png';
$sl-footer-title: (0px, 0px, 0px, 0px, 244px, 52px, 570px, 272px, '../images/layout_sprites.png', 'sl-footer_title', );
$sl-icon-arrow-name: 'sl-icon_arrow';
$sl-icon-arrow-x: 542px;
$sl-icon-arrow-y: 58px;
$sl-icon-arrow-offset-x: -542px;
$sl-icon-arrow-offset-y: -58px;
$sl-icon-arrow-width: 14px;
$sl-icon-arrow-height: 9px;
$sl-icon-arrow-total-width: 570px;
$sl-icon-arrow-total-height: 272px;
$sl-icon-arrow-image: '../images/layout_sprites.png';
$sl-icon-arrow: (542px, 58px, -542px, -58px, 14px, 9px, 570px, 272px, '../images/layout_sprites.png', 'sl-icon_arrow', );
$sl-icon-arrow-white-name: 'sl-icon_arrow_white';
$sl-icon-arrow-white-x: 542px;
$sl-icon-arrow-white-y: 73px;
$sl-icon-arrow-white-offset-x: -542px;
$sl-icon-arrow-white-offset-y: -73px;
$sl-icon-arrow-white-width: 14px;
$sl-icon-arrow-white-height: 9px;
$sl-icon-arrow-white-total-width: 570px;
$sl-icon-arrow-white-total-height: 272px;
$sl-icon-arrow-white-image: '../images/layout_sprites.png';
$sl-icon-arrow-white: (542px, 73px, -542px, -73px, 14px, 9px, 570px, 272px, '../images/layout_sprites.png', 'sl-icon_arrow_white', );
$sl-icon-notification-name: 'sl-icon_notification';
$sl-icon-notification-x: 34px;
$sl-icon-notification-y: 171px;
$sl-icon-notification-offset-x: -34px;
$sl-icon-notification-offset-y: -171px;
$sl-icon-notification-width: 23px;
$sl-icon-notification-height: 27px;
$sl-icon-notification-total-width: 570px;
$sl-icon-notification-total-height: 272px;
$sl-icon-notification-image: '../images/layout_sprites.png';
$sl-icon-notification: (34px, 171px, -34px, -171px, 23px, 27px, 570px, 272px, '../images/layout_sprites.png', 'sl-icon_notification', );
$sl-icon-submenu-name: 'sl-icon_submenu';
$sl-icon-submenu-x: 503px;
$sl-icon-submenu-y: 111px;
$sl-icon-submenu-offset-x: -503px;
$sl-icon-submenu-offset-y: -111px;
$sl-icon-submenu-width: 32px;
$sl-icon-submenu-height: 15px;
$sl-icon-submenu-total-width: 570px;
$sl-icon-submenu-total-height: 272px;
$sl-icon-submenu-image: '../images/layout_sprites.png';
$sl-icon-submenu: (503px, 111px, -503px, -111px, 32px, 15px, 570px, 272px, '../images/layout_sprites.png', 'sl-icon_submenu', );
$sl-title-asset-management-name: 'sl-title_asset_management';
$sl-title-asset-management-x: 0px;
$sl-title-asset-management-y: 58px;
$sl-title-asset-management-offset-x: 0px;
$sl-title-asset-management-offset-y: -58px;
$sl-title-asset-management-width: 266px;
$sl-title-asset-management-height: 24px;
$sl-title-asset-management-total-width: 570px;
$sl-title-asset-management-total-height: 272px;
$sl-title-asset-management-image: '../images/layout_sprites.png';
$sl-title-asset-management: (0px, 58px, 0px, -58px, 266px, 24px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_asset_management', );
$sl-title-bsp-name: 'sl-title_bsp';
$sl-title-bsp-x: 0px;
$sl-title-bsp-y: 88px;
$sl-title-bsp-offset-x: 0px;
$sl-title-bsp-offset-y: -88px;
$sl-title-bsp-width: 306px;
$sl-title-bsp-height: 17px;
$sl-title-bsp-total-width: 570px;
$sl-title-bsp-total-height: 272px;
$sl-title-bsp-image: '../images/layout_sprites.png';
$sl-title-bsp: (0px, 88px, 0px, -88px, 306px, 17px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_bsp', );
$sl-title-bsp-admin-name: 'sl-title_bsp_admin';
$sl-title-bsp-admin-x: 312px;
$sl-title-bsp-admin-y: 88px;
$sl-title-bsp-admin-offset-x: -312px;
$sl-title-bsp-admin-offset-y: -88px;
$sl-title-bsp-admin-width: 257px;
$sl-title-bsp-admin-height: 17px;
$sl-title-bsp-admin-total-width: 570px;
$sl-title-bsp-admin-total-height: 272px;
$sl-title-bsp-admin-image: '../images/layout_sprites.png';
$sl-title-bsp-admin: (312px, 88px, -312px, -88px, 257px, 17px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_bsp_admin', );
$sl-title-bsp-white-name: 'sl-title_bsp_white';
$sl-title-bsp-white-x: 250px;
$sl-title-bsp-white-y: 30px;
$sl-title-bsp-white-offset-x: -250px;
$sl-title-bsp-white-offset-y: -30px;
$sl-title-bsp-white-width: 306px;
$sl-title-bsp-white-height: 17px;
$sl-title-bsp-white-total-width: 570px;
$sl-title-bsp-white-total-height: 272px;
$sl-title-bsp-white-image: '../images/layout_sprites.png';
$sl-title-bsp-white: (250px, 30px, -250px, -30px, 306px, 17px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_bsp_white', );
$sl-title-dashboard-name: 'sl-title_dashboard';
$sl-title-dashboard-x: 224px;
$sl-title-dashboard-y: 111px;
$sl-title-dashboard-offset-x: -224px;
$sl-title-dashboard-offset-y: -111px;
$sl-title-dashboard-width: 207px;
$sl-title-dashboard-height: 24px;
$sl-title-dashboard-total-width: 570px;
$sl-title-dashboard-total-height: 272px;
$sl-title-dashboard-image: '../images/layout_sprites.png';
$sl-title-dashboard: (224px, 111px, -224px, -111px, 207px, 24px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_dashboard', );
$sl-title-its-name: 'sl-title_its';
$sl-title-its-x: 437px;
$sl-title-its-y: 111px;
$sl-title-its-offset-x: -437px;
$sl-title-its-offset-y: -111px;
$sl-title-its-width: 60px;
$sl-title-its-height: 24px;
$sl-title-its-total-width: 570px;
$sl-title-its-total-height: 272px;
$sl-title-its-image: '../images/layout_sprites.png';
$sl-title-its: (437px, 111px, -437px, -111px, 60px, 24px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_its', );
$sl-title-metering-name: 'sl-title_metering';
$sl-title-metering-x: 0px;
$sl-title-metering-y: 141px;
$sl-title-metering-offset-x: 0px;
$sl-title-metering-offset-y: -141px;
$sl-title-metering-width: 142px;
$sl-title-metering-height: 24px;
$sl-title-metering-total-width: 570px;
$sl-title-metering-total-height: 272px;
$sl-title-metering-image: '../images/layout_sprites.png';
$sl-title-metering: (0px, 141px, 0px, -141px, 142px, 24px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_metering', );
$sl-title-monitoring-name: 'sl-title_monitoring';
$sl-title-monitoring-x: 250px;
$sl-title-monitoring-y: 0px;
$sl-title-monitoring-offset-x: -250px;
$sl-title-monitoring-offset-y: 0px;
$sl-title-monitoring-width: 320px;
$sl-title-monitoring-height: 24px;
$sl-title-monitoring-total-width: 570px;
$sl-title-monitoring-total-height: 272px;
$sl-title-monitoring-image: '../images/layout_sprites.png';
$sl-title-monitoring: (250px, 0px, -250px, 0px, 320px, 24px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_monitoring', );
$sl-title-service-portal-name: 'sl-title_service_portal';
$sl-title-service-portal-x: 0px;
$sl-title-service-portal-y: 111px;
$sl-title-service-portal-offset-x: 0px;
$sl-title-service-portal-offset-y: -111px;
$sl-title-service-portal-width: 218px;
$sl-title-service-portal-height: 24px;
$sl-title-service-portal-total-width: 570px;
$sl-title-service-portal-total-height: 272px;
$sl-title-service-portal-image: '../images/layout_sprites.png';
$sl-title-service-portal: (0px, 111px, 0px, -111px, 218px, 24px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_service_portal', );
$sl-title-workflow-name: 'sl-title_workflow';
$sl-title-workflow-x: 272px;
$sl-title-workflow-y: 58px;
$sl-title-workflow-offset-x: -272px;
$sl-title-workflow-offset-y: -58px;
$sl-title-workflow-width: 264px;
$sl-title-workflow-height: 24px;
$sl-title-workflow-total-width: 570px;
$sl-title-workflow-total-height: 272px;
$sl-title-workflow-image: '../images/layout_sprites.png';
$sl-title-workflow: (272px, 58px, -272px, -58px, 264px, 24px, 570px, 272px, '../images/layout_sprites.png', 'sl-title_workflow', );
$sl-bsp-2x-name: 'sl-bsp@2x';
$sl-bsp-2x-x: 296px;
$sl-bsp-2x-y: 282px;
$sl-bsp-2x-offset-x: -296px;
$sl-bsp-2x-offset-y: -282px;
$sl-bsp-2x-width: 156px;
$sl-bsp-2x-height: 34px;
$sl-bsp-2x-total-width: 1140px;
$sl-bsp-2x-total-height: 544px;
$sl-bsp-2x-image: '../images/layout_sprites@2x.png';
$sl-bsp-2x: (296px, 282px, -296px, -282px, 156px, 34px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-bsp@2x', );
$sl-footer-cloud-2x-name: 'sl-footer_cloud@2x';
$sl-footer-cloud-2x-x: 0px;
$sl-footer-cloud-2x-y: 342px;
$sl-footer-cloud-2x-offset-x: 0px;
$sl-footer-cloud-2x-offset-y: -342px;
$sl-footer-cloud-2x-width: 56px;
$sl-footer-cloud-2x-height: 202px;
$sl-footer-cloud-2x-total-width: 1140px;
$sl-footer-cloud-2x-total-height: 544px;
$sl-footer-cloud-2x-image: '../images/layout_sprites@2x.png';
$sl-footer-cloud-2x: (0px, 342px, 0px, -342px, 56px, 202px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-footer_cloud@2x', );
$sl-footer-title-2x-name: 'sl-footer_title@2x';
$sl-footer-title-2x-x: 0px;
$sl-footer-title-2x-y: 0px;
$sl-footer-title-2x-offset-x: 0px;
$sl-footer-title-2x-offset-y: 0px;
$sl-footer-title-2x-width: 488px;
$sl-footer-title-2x-height: 104px;
$sl-footer-title-2x-total-width: 1140px;
$sl-footer-title-2x-total-height: 544px;
$sl-footer-title-2x-image: '../images/layout_sprites@2x.png';
$sl-footer-title-2x: (0px, 0px, 0px, 0px, 488px, 104px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-footer_title@2x', );
$sl-icon-arrow-2x-name: 'sl-icon_arrow@2x';
$sl-icon-arrow-2x-x: 1084px;
$sl-icon-arrow-2x-y: 116px;
$sl-icon-arrow-2x-offset-x: -1084px;
$sl-icon-arrow-2x-offset-y: -116px;
$sl-icon-arrow-2x-width: 28px;
$sl-icon-arrow-2x-height: 18px;
$sl-icon-arrow-2x-total-width: 1140px;
$sl-icon-arrow-2x-total-height: 544px;
$sl-icon-arrow-2x-image: '../images/layout_sprites@2x.png';
$sl-icon-arrow-2x: (1084px, 116px, -1084px, -116px, 28px, 18px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-icon_arrow@2x', );
$sl-icon-arrow-white-2x-name: 'sl-icon_arrow_white@2x';
$sl-icon-arrow-white-2x-x: 1084px;
$sl-icon-arrow-white-2x-y: 146px;
$sl-icon-arrow-white-2x-offset-x: -1084px;
$sl-icon-arrow-white-2x-offset-y: -146px;
$sl-icon-arrow-white-2x-width: 28px;
$sl-icon-arrow-white-2x-height: 18px;
$sl-icon-arrow-white-2x-total-width: 1140px;
$sl-icon-arrow-white-2x-total-height: 544px;
$sl-icon-arrow-white-2x-image: '../images/layout_sprites@2x.png';
$sl-icon-arrow-white-2x: (1084px, 146px, -1084px, -146px, 28px, 18px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-icon_arrow_white@2x', );
$sl-icon-notification-2x-name: 'sl-icon_notification@2x';
$sl-icon-notification-2x-x: 68px;
$sl-icon-notification-2x-y: 342px;
$sl-icon-notification-2x-offset-x: -68px;
$sl-icon-notification-2x-offset-y: -342px;
$sl-icon-notification-2x-width: 46px;
$sl-icon-notification-2x-height: 54px;
$sl-icon-notification-2x-total-width: 1140px;
$sl-icon-notification-2x-total-height: 544px;
$sl-icon-notification-2x-image: '../images/layout_sprites@2x.png';
$sl-icon-notification-2x: (68px, 342px, -68px, -342px, 46px, 54px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-icon_notification@2x', );
$sl-icon-submenu-2x-name: 'sl-icon_submenu@2x';
$sl-icon-submenu-2x-x: 1006px;
$sl-icon-submenu-2x-y: 222px;
$sl-icon-submenu-2x-offset-x: -1006px;
$sl-icon-submenu-2x-offset-y: -222px;
$sl-icon-submenu-2x-width: 64px;
$sl-icon-submenu-2x-height: 30px;
$sl-icon-submenu-2x-total-width: 1140px;
$sl-icon-submenu-2x-total-height: 544px;
$sl-icon-submenu-2x-image: '../images/layout_sprites@2x.png';
$sl-icon-submenu-2x: (1006px, 222px, -1006px, -222px, 64px, 30px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-icon_submenu@2x', );
$sl-title-asset-management-2x-name: 'sl-title_asset_management@2x';
$sl-title-asset-management-2x-x: 0px;
$sl-title-asset-management-2x-y: 116px;
$sl-title-asset-management-2x-offset-x: 0px;
$sl-title-asset-management-2x-offset-y: -116px;
$sl-title-asset-management-2x-width: 532px;
$sl-title-asset-management-2x-height: 48px;
$sl-title-asset-management-2x-total-width: 1140px;
$sl-title-asset-management-2x-total-height: 544px;
$sl-title-asset-management-2x-image: '../images/layout_sprites@2x.png';
$sl-title-asset-management-2x: (0px, 116px, 0px, -116px, 532px, 48px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_asset_management@2x', );
$sl-title-bsp-2x-name: 'sl-title_bsp@2x';
$sl-title-bsp-2x-x: 0px;
$sl-title-bsp-2x-y: 176px;
$sl-title-bsp-2x-offset-x: 0px;
$sl-title-bsp-2x-offset-y: -176px;
$sl-title-bsp-2x-width: 612px;
$sl-title-bsp-2x-height: 34px;
$sl-title-bsp-2x-total-width: 1140px;
$sl-title-bsp-2x-total-height: 544px;
$sl-title-bsp-2x-image: '../images/layout_sprites@2x.png';
$sl-title-bsp-2x: (0px, 176px, 0px, -176px, 612px, 34px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_bsp@2x', );
$sl-title-bsp-admin-2x-name: 'sl-title_bsp_admin@2x';
$sl-title-bsp-admin-2x-x: 624px;
$sl-title-bsp-admin-2x-y: 176px;
$sl-title-bsp-admin-2x-offset-x: -624px;
$sl-title-bsp-admin-2x-offset-y: -176px;
$sl-title-bsp-admin-2x-width: 514px;
$sl-title-bsp-admin-2x-height: 34px;
$sl-title-bsp-admin-2x-total-width: 1140px;
$sl-title-bsp-admin-2x-total-height: 544px;
$sl-title-bsp-admin-2x-image: '../images/layout_sprites@2x.png';
$sl-title-bsp-admin-2x: (624px, 176px, -624px, -176px, 514px, 34px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_bsp_admin@2x', );
$sl-title-bsp-white-2x-name: 'sl-title_bsp_white@2x';
$sl-title-bsp-white-2x-x: 500px;
$sl-title-bsp-white-2x-y: 60px;
$sl-title-bsp-white-2x-offset-x: -500px;
$sl-title-bsp-white-2x-offset-y: -60px;
$sl-title-bsp-white-2x-width: 612px;
$sl-title-bsp-white-2x-height: 34px;
$sl-title-bsp-white-2x-total-width: 1140px;
$sl-title-bsp-white-2x-total-height: 544px;
$sl-title-bsp-white-2x-image: '../images/layout_sprites@2x.png';
$sl-title-bsp-white-2x: (500px, 60px, -500px, -60px, 612px, 34px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_bsp_white@2x', );
$sl-title-dashboard-2x-name: 'sl-title_dashboard@2x';
$sl-title-dashboard-2x-x: 448px;
$sl-title-dashboard-2x-y: 222px;
$sl-title-dashboard-2x-offset-x: -448px;
$sl-title-dashboard-2x-offset-y: -222px;
$sl-title-dashboard-2x-width: 414px;
$sl-title-dashboard-2x-height: 48px;
$sl-title-dashboard-2x-total-width: 1140px;
$sl-title-dashboard-2x-total-height: 544px;
$sl-title-dashboard-2x-image: '../images/layout_sprites@2x.png';
$sl-title-dashboard-2x: (448px, 222px, -448px, -222px, 414px, 48px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_dashboard@2x', );
$sl-title-its-2x-name: 'sl-title_its@2x';
$sl-title-its-2x-x: 874px;
$sl-title-its-2x-y: 222px;
$sl-title-its-2x-offset-x: -874px;
$sl-title-its-2x-offset-y: -222px;
$sl-title-its-2x-width: 120px;
$sl-title-its-2x-height: 48px;
$sl-title-its-2x-total-width: 1140px;
$sl-title-its-2x-total-height: 544px;
$sl-title-its-2x-image: '../images/layout_sprites@2x.png';
$sl-title-its-2x: (874px, 222px, -874px, -222px, 120px, 48px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_its@2x', );
$sl-title-metering-2x-name: 'sl-title_metering@2x';
$sl-title-metering-2x-x: 0px;
$sl-title-metering-2x-y: 282px;
$sl-title-metering-2x-offset-x: 0px;
$sl-title-metering-2x-offset-y: -282px;
$sl-title-metering-2x-width: 284px;
$sl-title-metering-2x-height: 48px;
$sl-title-metering-2x-total-width: 1140px;
$sl-title-metering-2x-total-height: 544px;
$sl-title-metering-2x-image: '../images/layout_sprites@2x.png';
$sl-title-metering-2x: (0px, 282px, 0px, -282px, 284px, 48px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_metering@2x', );
$sl-title-monitoring-2x-name: 'sl-title_monitoring@2x';
$sl-title-monitoring-2x-x: 500px;
$sl-title-monitoring-2x-y: 0px;
$sl-title-monitoring-2x-offset-x: -500px;
$sl-title-monitoring-2x-offset-y: 0px;
$sl-title-monitoring-2x-width: 640px;
$sl-title-monitoring-2x-height: 48px;
$sl-title-monitoring-2x-total-width: 1140px;
$sl-title-monitoring-2x-total-height: 544px;
$sl-title-monitoring-2x-image: '../images/layout_sprites@2x.png';
$sl-title-monitoring-2x: (500px, 0px, -500px, 0px, 640px, 48px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_monitoring@2x', );
$sl-title-service-portal-2x-name: 'sl-title_service_portal@2x';
$sl-title-service-portal-2x-x: 0px;
$sl-title-service-portal-2x-y: 222px;
$sl-title-service-portal-2x-offset-x: 0px;
$sl-title-service-portal-2x-offset-y: -222px;
$sl-title-service-portal-2x-width: 436px;
$sl-title-service-portal-2x-height: 48px;
$sl-title-service-portal-2x-total-width: 1140px;
$sl-title-service-portal-2x-total-height: 544px;
$sl-title-service-portal-2x-image: '../images/layout_sprites@2x.png';
$sl-title-service-portal-2x: (0px, 222px, 0px, -222px, 436px, 48px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_service_portal@2x', );
$sl-title-workflow-2x-name: 'sl-title_workflow@2x';
$sl-title-workflow-2x-x: 544px;
$sl-title-workflow-2x-y: 116px;
$sl-title-workflow-2x-offset-x: -544px;
$sl-title-workflow-2x-offset-y: -116px;
$sl-title-workflow-2x-width: 528px;
$sl-title-workflow-2x-height: 48px;
$sl-title-workflow-2x-total-width: 1140px;
$sl-title-workflow-2x-total-height: 544px;
$sl-title-workflow-2x-image: '../images/layout_sprites@2x.png';
$sl-title-workflow-2x: (544px, 116px, -544px, -116px, 528px, 48px, 1140px, 544px, '../images/layout_sprites@2x.png', 'sl-title_workflow@2x', );
$spritesheet-width: 570px;
$spritesheet-height: 272px;
$spritesheet-image: '../images/layout_sprites.png';
$spritesheet-sprites: ($sl-bsp, $sl-footer-cloud, $sl-footer-title, $sl-icon-arrow, $sl-icon-arrow-white, $sl-icon-notification, $sl-icon-submenu, $sl-title-asset-management, $sl-title-bsp, $sl-title-bsp-admin, $sl-title-bsp-white, $sl-title-dashboard, $sl-title-its, $sl-title-metering, $sl-title-monitoring, $sl-title-service-portal, $sl-title-workflow, );
$spritesheet: (570px, 272px, '../images/layout_sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 1140px;
$retina-spritesheet-height: 544px;
$retina-spritesheet-image: '../images/layout_sprites@2x.png';
$retina-spritesheet-sprites: ($sl-bsp-2x, $sl-footer-cloud-2x, $sl-footer-title-2x, $sl-icon-arrow-2x, $sl-icon-arrow-white-2x, $sl-icon-notification-2x, $sl-icon-submenu-2x, $sl-title-asset-management-2x, $sl-title-bsp-2x, $sl-title-bsp-admin-2x, $sl-title-bsp-white-2x, $sl-title-dashboard-2x, $sl-title-its-2x, $sl-title-metering-2x, $sl-title-monitoring-2x, $sl-title-service-portal-2x, $sl-title-workflow-2x, );
$retina-spritesheet: (1140px, 544px, '../images/layout_sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sl-bsp-group-name: 'sl-bsp';
$sl-bsp-group: ('sl-bsp', $sl-bsp, $sl-bsp-2x, );
$sl-footer-cloud-group-name: 'sl-footer_cloud';
$sl-footer-cloud-group: ('sl-footer_cloud', $sl-footer-cloud, $sl-footer-cloud-2x, );
$sl-footer-title-group-name: 'sl-footer_title';
$sl-footer-title-group: ('sl-footer_title', $sl-footer-title, $sl-footer-title-2x, );
$sl-icon-arrow-group-name: 'sl-icon_arrow';
$sl-icon-arrow-group: ('sl-icon_arrow', $sl-icon-arrow, $sl-icon-arrow-2x, );
$sl-icon-arrow-white-group-name: 'sl-icon_arrow_white';
$sl-icon-arrow-white-group: ('sl-icon_arrow_white', $sl-icon-arrow-white, $sl-icon-arrow-white-2x, );
$sl-icon-notification-group-name: 'sl-icon_notification';
$sl-icon-notification-group: ('sl-icon_notification', $sl-icon-notification, $sl-icon-notification-2x, );
$sl-icon-submenu-group-name: 'sl-icon_submenu';
$sl-icon-submenu-group: ('sl-icon_submenu', $sl-icon-submenu, $sl-icon-submenu-2x, );
$sl-title-asset-management-group-name: 'sl-title_asset_management';
$sl-title-asset-management-group: ('sl-title_asset_management', $sl-title-asset-management, $sl-title-asset-management-2x, );
$sl-title-bsp-group-name: 'sl-title_bsp';
$sl-title-bsp-group: ('sl-title_bsp', $sl-title-bsp, $sl-title-bsp-2x, );
$sl-title-bsp-admin-group-name: 'sl-title_bsp_admin';
$sl-title-bsp-admin-group: ('sl-title_bsp_admin', $sl-title-bsp-admin, $sl-title-bsp-admin-2x, );
$sl-title-bsp-white-group-name: 'sl-title_bsp_white';
$sl-title-bsp-white-group: ('sl-title_bsp_white', $sl-title-bsp-white, $sl-title-bsp-white-2x, );
$sl-title-dashboard-group-name: 'sl-title_dashboard';
$sl-title-dashboard-group: ('sl-title_dashboard', $sl-title-dashboard, $sl-title-dashboard-2x, );
$sl-title-its-group-name: 'sl-title_its';
$sl-title-its-group: ('sl-title_its', $sl-title-its, $sl-title-its-2x, );
$sl-title-metering-group-name: 'sl-title_metering';
$sl-title-metering-group: ('sl-title_metering', $sl-title-metering, $sl-title-metering-2x, );
$sl-title-monitoring-group-name: 'sl-title_monitoring';
$sl-title-monitoring-group: ('sl-title_monitoring', $sl-title-monitoring, $sl-title-monitoring-2x, );
$sl-title-service-portal-group-name: 'sl-title_service_portal';
$sl-title-service-portal-group: ('sl-title_service_portal', $sl-title-service-portal, $sl-title-service-portal-2x, );
$sl-title-workflow-group-name: 'sl-title_workflow';
$sl-title-workflow-group: ('sl-title_workflow', $sl-title-workflow, $sl-title-workflow-2x, );
$retina-groups: ($sl-bsp-group, $sl-footer-cloud-group, $sl-footer-title-group, $sl-icon-arrow-group, $sl-icon-arrow-white-group, $sl-icon-notification-group, $sl-icon-submenu-group, $sl-title-asset-management-group, $sl-title-bsp-group, $sl-title-bsp-admin-group, $sl-title-bsp-white-group, $sl-title-dashboard-group, $sl-title-its-group, $sl-title-metering-group, $sl-title-monitoring-group, $sl-title-service-portal-group, $sl-title-workflow-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
