/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sl-bsp-name: 'sl-bsp';
$sl-bsp-x: 148px;
$sl-bsp-y: 118px;
$sl-bsp-offset-x: -148px;
$sl-bsp-offset-y: -118px;
$sl-bsp-width: 78px;
$sl-bsp-height: 17px;
$sl-bsp-total-width: 570px;
$sl-bsp-total-height: 249px;
$sl-bsp-image: '../images/layout_sprites.png';
$sl-bsp: (148px, 118px, -148px, -118px, 78px, 17px, 570px, 249px, '../images/layout_sprites.png', 'sl-bsp', );
$sl-footer-cloud-name: 'sl-footer_cloud';
$sl-footer-cloud-x: 0px;
$sl-footer-cloud-y: 148px;
$sl-footer-cloud-offset-x: 0px;
$sl-footer-cloud-offset-y: -148px;
$sl-footer-cloud-width: 28px;
$sl-footer-cloud-height: 101px;
$sl-footer-cloud-total-width: 570px;
$sl-footer-cloud-total-height: 249px;
$sl-footer-cloud-image: '../images/layout_sprites.png';
$sl-footer-cloud: (0px, 148px, 0px, -148px, 28px, 101px, 570px, 249px, '../images/layout_sprites.png', 'sl-footer_cloud', );
$sl-footer-title-name: 'sl-footer_title';
$sl-footer-title-x: 0px;
$sl-footer-title-y: 0px;
$sl-footer-title-offset-x: 0px;
$sl-footer-title-offset-y: 0px;
$sl-footer-title-width: 244px;
$sl-footer-title-height: 52px;
$sl-footer-title-total-width: 570px;
$sl-footer-title-total-height: 249px;
$sl-footer-title-image: '../images/layout_sprites.png';
$sl-footer-title: (0px, 0px, 0px, 0px, 244px, 52px, 570px, 249px, '../images/layout_sprites.png', 'sl-footer_title', );
$sl-title-asset-management-name: 'sl-title_asset_management';
$sl-title-asset-management-x: 0px;
$sl-title-asset-management-y: 58px;
$sl-title-asset-management-offset-x: 0px;
$sl-title-asset-management-offset-y: -58px;
$sl-title-asset-management-width: 266px;
$sl-title-asset-management-height: 24px;
$sl-title-asset-management-total-width: 570px;
$sl-title-asset-management-total-height: 249px;
$sl-title-asset-management-image: '../images/layout_sprites.png';
$sl-title-asset-management: (0px, 58px, 0px, -58px, 266px, 24px, 570px, 249px, '../images/layout_sprites.png', 'sl-title_asset_management', );
$sl-title-bsp-name: 'sl-title_bsp';
$sl-title-bsp-x: 250px;
$sl-title-bsp-y: 30px;
$sl-title-bsp-offset-x: -250px;
$sl-title-bsp-offset-y: -30px;
$sl-title-bsp-width: 306px;
$sl-title-bsp-height: 17px;
$sl-title-bsp-total-width: 570px;
$sl-title-bsp-total-height: 249px;
$sl-title-bsp-image: '../images/layout_sprites.png';
$sl-title-bsp: (250px, 30px, -250px, -30px, 306px, 17px, 570px, 249px, '../images/layout_sprites.png', 'sl-title_bsp', );
$sl-title-dashboard-name: 'sl-title_dashboard';
$sl-title-dashboard-x: 224px;
$sl-title-dashboard-y: 88px;
$sl-title-dashboard-offset-x: -224px;
$sl-title-dashboard-offset-y: -88px;
$sl-title-dashboard-width: 207px;
$sl-title-dashboard-height: 24px;
$sl-title-dashboard-total-width: 570px;
$sl-title-dashboard-total-height: 249px;
$sl-title-dashboard-image: '../images/layout_sprites.png';
$sl-title-dashboard: (224px, 88px, -224px, -88px, 207px, 24px, 570px, 249px, '../images/layout_sprites.png', 'sl-title_dashboard', );
$sl-title-its-name: 'sl-title_its';
$sl-title-its-x: 437px;
$sl-title-its-y: 88px;
$sl-title-its-offset-x: -437px;
$sl-title-its-offset-y: -88px;
$sl-title-its-width: 60px;
$sl-title-its-height: 24px;
$sl-title-its-total-width: 570px;
$sl-title-its-total-height: 249px;
$sl-title-its-image: '../images/layout_sprites.png';
$sl-title-its: (437px, 88px, -437px, -88px, 60px, 24px, 570px, 249px, '../images/layout_sprites.png', 'sl-title_its', );
$sl-title-metering-name: 'sl-title_metering';
$sl-title-metering-x: 0px;
$sl-title-metering-y: 118px;
$sl-title-metering-offset-x: 0px;
$sl-title-metering-offset-y: -118px;
$sl-title-metering-width: 142px;
$sl-title-metering-height: 24px;
$sl-title-metering-total-width: 570px;
$sl-title-metering-total-height: 249px;
$sl-title-metering-image: '../images/layout_sprites.png';
$sl-title-metering: (0px, 118px, 0px, -118px, 142px, 24px, 570px, 249px, '../images/layout_sprites.png', 'sl-title_metering', );
$sl-title-monitoring-name: 'sl-title_monitoring';
$sl-title-monitoring-x: 250px;
$sl-title-monitoring-y: 0px;
$sl-title-monitoring-offset-x: -250px;
$sl-title-monitoring-offset-y: 0px;
$sl-title-monitoring-width: 320px;
$sl-title-monitoring-height: 24px;
$sl-title-monitoring-total-width: 570px;
$sl-title-monitoring-total-height: 249px;
$sl-title-monitoring-image: '../images/layout_sprites.png';
$sl-title-monitoring: (250px, 0px, -250px, 0px, 320px, 24px, 570px, 249px, '../images/layout_sprites.png', 'sl-title_monitoring', );
$sl-title-service-portal-name: 'sl-title_service_portal';
$sl-title-service-portal-x: 0px;
$sl-title-service-portal-y: 88px;
$sl-title-service-portal-offset-x: 0px;
$sl-title-service-portal-offset-y: -88px;
$sl-title-service-portal-width: 218px;
$sl-title-service-portal-height: 24px;
$sl-title-service-portal-total-width: 570px;
$sl-title-service-portal-total-height: 249px;
$sl-title-service-portal-image: '../images/layout_sprites.png';
$sl-title-service-portal: (0px, 88px, 0px, -88px, 218px, 24px, 570px, 249px, '../images/layout_sprites.png', 'sl-title_service_portal', );
$sl-title-workflow-name: 'sl-title_workflow';
$sl-title-workflow-x: 272px;
$sl-title-workflow-y: 58px;
$sl-title-workflow-offset-x: -272px;
$sl-title-workflow-offset-y: -58px;
$sl-title-workflow-width: 264px;
$sl-title-workflow-height: 24px;
$sl-title-workflow-total-width: 570px;
$sl-title-workflow-total-height: 249px;
$sl-title-workflow-image: '../images/layout_sprites.png';
$sl-title-workflow: (272px, 58px, -272px, -58px, 264px, 24px, 570px, 249px, '../images/layout_sprites.png', 'sl-title_workflow', );
$sl-bsp-2x-name: 'sl-bsp@2x';
$sl-bsp-2x-x: 296px;
$sl-bsp-2x-y: 236px;
$sl-bsp-2x-offset-x: -296px;
$sl-bsp-2x-offset-y: -236px;
$sl-bsp-2x-width: 156px;
$sl-bsp-2x-height: 34px;
$sl-bsp-2x-total-width: 1140px;
$sl-bsp-2x-total-height: 498px;
$sl-bsp-2x-image: '../images/layout_sprites@2x.png';
$sl-bsp-2x: (296px, 236px, -296px, -236px, 156px, 34px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-bsp@2x', );
$sl-footer-cloud-2x-name: 'sl-footer_cloud@2x';
$sl-footer-cloud-2x-x: 0px;
$sl-footer-cloud-2x-y: 296px;
$sl-footer-cloud-2x-offset-x: 0px;
$sl-footer-cloud-2x-offset-y: -296px;
$sl-footer-cloud-2x-width: 56px;
$sl-footer-cloud-2x-height: 202px;
$sl-footer-cloud-2x-total-width: 1140px;
$sl-footer-cloud-2x-total-height: 498px;
$sl-footer-cloud-2x-image: '../images/layout_sprites@2x.png';
$sl-footer-cloud-2x: (0px, 296px, 0px, -296px, 56px, 202px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-footer_cloud@2x', );
$sl-footer-title-2x-name: 'sl-footer_title@2x';
$sl-footer-title-2x-x: 0px;
$sl-footer-title-2x-y: 0px;
$sl-footer-title-2x-offset-x: 0px;
$sl-footer-title-2x-offset-y: 0px;
$sl-footer-title-2x-width: 488px;
$sl-footer-title-2x-height: 104px;
$sl-footer-title-2x-total-width: 1140px;
$sl-footer-title-2x-total-height: 498px;
$sl-footer-title-2x-image: '../images/layout_sprites@2x.png';
$sl-footer-title-2x: (0px, 0px, 0px, 0px, 488px, 104px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-footer_title@2x', );
$sl-title-asset-management-2x-name: 'sl-title_asset_management@2x';
$sl-title-asset-management-2x-x: 0px;
$sl-title-asset-management-2x-y: 116px;
$sl-title-asset-management-2x-offset-x: 0px;
$sl-title-asset-management-2x-offset-y: -116px;
$sl-title-asset-management-2x-width: 532px;
$sl-title-asset-management-2x-height: 48px;
$sl-title-asset-management-2x-total-width: 1140px;
$sl-title-asset-management-2x-total-height: 498px;
$sl-title-asset-management-2x-image: '../images/layout_sprites@2x.png';
$sl-title-asset-management-2x: (0px, 116px, 0px, -116px, 532px, 48px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-title_asset_management@2x', );
$sl-title-bsp-2x-name: 'sl-title_bsp@2x';
$sl-title-bsp-2x-x: 500px;
$sl-title-bsp-2x-y: 60px;
$sl-title-bsp-2x-offset-x: -500px;
$sl-title-bsp-2x-offset-y: -60px;
$sl-title-bsp-2x-width: 612px;
$sl-title-bsp-2x-height: 34px;
$sl-title-bsp-2x-total-width: 1140px;
$sl-title-bsp-2x-total-height: 498px;
$sl-title-bsp-2x-image: '../images/layout_sprites@2x.png';
$sl-title-bsp-2x: (500px, 60px, -500px, -60px, 612px, 34px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-title_bsp@2x', );
$sl-title-dashboard-2x-name: 'sl-title_dashboard@2x';
$sl-title-dashboard-2x-x: 448px;
$sl-title-dashboard-2x-y: 176px;
$sl-title-dashboard-2x-offset-x: -448px;
$sl-title-dashboard-2x-offset-y: -176px;
$sl-title-dashboard-2x-width: 414px;
$sl-title-dashboard-2x-height: 48px;
$sl-title-dashboard-2x-total-width: 1140px;
$sl-title-dashboard-2x-total-height: 498px;
$sl-title-dashboard-2x-image: '../images/layout_sprites@2x.png';
$sl-title-dashboard-2x: (448px, 176px, -448px, -176px, 414px, 48px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-title_dashboard@2x', );
$sl-title-its-2x-name: 'sl-title_its@2x';
$sl-title-its-2x-x: 874px;
$sl-title-its-2x-y: 176px;
$sl-title-its-2x-offset-x: -874px;
$sl-title-its-2x-offset-y: -176px;
$sl-title-its-2x-width: 120px;
$sl-title-its-2x-height: 48px;
$sl-title-its-2x-total-width: 1140px;
$sl-title-its-2x-total-height: 498px;
$sl-title-its-2x-image: '../images/layout_sprites@2x.png';
$sl-title-its-2x: (874px, 176px, -874px, -176px, 120px, 48px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-title_its@2x', );
$sl-title-metering-2x-name: 'sl-title_metering@2x';
$sl-title-metering-2x-x: 0px;
$sl-title-metering-2x-y: 236px;
$sl-title-metering-2x-offset-x: 0px;
$sl-title-metering-2x-offset-y: -236px;
$sl-title-metering-2x-width: 284px;
$sl-title-metering-2x-height: 48px;
$sl-title-metering-2x-total-width: 1140px;
$sl-title-metering-2x-total-height: 498px;
$sl-title-metering-2x-image: '../images/layout_sprites@2x.png';
$sl-title-metering-2x: (0px, 236px, 0px, -236px, 284px, 48px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-title_metering@2x', );
$sl-title-monitoring-2x-name: 'sl-title_monitoring@2x';
$sl-title-monitoring-2x-x: 500px;
$sl-title-monitoring-2x-y: 0px;
$sl-title-monitoring-2x-offset-x: -500px;
$sl-title-monitoring-2x-offset-y: 0px;
$sl-title-monitoring-2x-width: 640px;
$sl-title-monitoring-2x-height: 48px;
$sl-title-monitoring-2x-total-width: 1140px;
$sl-title-monitoring-2x-total-height: 498px;
$sl-title-monitoring-2x-image: '../images/layout_sprites@2x.png';
$sl-title-monitoring-2x: (500px, 0px, -500px, 0px, 640px, 48px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-title_monitoring@2x', );
$sl-title-service-portal-2x-name: 'sl-title_service_portal@2x';
$sl-title-service-portal-2x-x: 0px;
$sl-title-service-portal-2x-y: 176px;
$sl-title-service-portal-2x-offset-x: 0px;
$sl-title-service-portal-2x-offset-y: -176px;
$sl-title-service-portal-2x-width: 436px;
$sl-title-service-portal-2x-height: 48px;
$sl-title-service-portal-2x-total-width: 1140px;
$sl-title-service-portal-2x-total-height: 498px;
$sl-title-service-portal-2x-image: '../images/layout_sprites@2x.png';
$sl-title-service-portal-2x: (0px, 176px, 0px, -176px, 436px, 48px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-title_service_portal@2x', );
$sl-title-workflow-2x-name: 'sl-title_workflow@2x';
$sl-title-workflow-2x-x: 544px;
$sl-title-workflow-2x-y: 116px;
$sl-title-workflow-2x-offset-x: -544px;
$sl-title-workflow-2x-offset-y: -116px;
$sl-title-workflow-2x-width: 528px;
$sl-title-workflow-2x-height: 48px;
$sl-title-workflow-2x-total-width: 1140px;
$sl-title-workflow-2x-total-height: 498px;
$sl-title-workflow-2x-image: '../images/layout_sprites@2x.png';
$sl-title-workflow-2x: (544px, 116px, -544px, -116px, 528px, 48px, 1140px, 498px, '../images/layout_sprites@2x.png', 'sl-title_workflow@2x', );
$spritesheet-width: 570px;
$spritesheet-height: 249px;
$spritesheet-image: '../images/layout_sprites.png';
$spritesheet-sprites: ($sl-bsp, $sl-footer-cloud, $sl-footer-title, $sl-title-asset-management, $sl-title-bsp, $sl-title-dashboard, $sl-title-its, $sl-title-metering, $sl-title-monitoring, $sl-title-service-portal, $sl-title-workflow, );
$spritesheet: (570px, 249px, '../images/layout_sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 1140px;
$retina-spritesheet-height: 498px;
$retina-spritesheet-image: '../images/layout_sprites@2x.png';
$retina-spritesheet-sprites: ($sl-bsp-2x, $sl-footer-cloud-2x, $sl-footer-title-2x, $sl-title-asset-management-2x, $sl-title-bsp-2x, $sl-title-dashboard-2x, $sl-title-its-2x, $sl-title-metering-2x, $sl-title-monitoring-2x, $sl-title-service-portal-2x, $sl-title-workflow-2x, );
$retina-spritesheet: (1140px, 498px, '../images/layout_sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sl-bsp-group-name: 'sl-bsp';
$sl-bsp-group: ('sl-bsp', $sl-bsp, $sl-bsp-2x, );
$sl-footer-cloud-group-name: 'sl-footer_cloud';
$sl-footer-cloud-group: ('sl-footer_cloud', $sl-footer-cloud, $sl-footer-cloud-2x, );
$sl-footer-title-group-name: 'sl-footer_title';
$sl-footer-title-group: ('sl-footer_title', $sl-footer-title, $sl-footer-title-2x, );
$sl-title-asset-management-group-name: 'sl-title_asset_management';
$sl-title-asset-management-group: ('sl-title_asset_management', $sl-title-asset-management, $sl-title-asset-management-2x, );
$sl-title-bsp-group-name: 'sl-title_bsp';
$sl-title-bsp-group: ('sl-title_bsp', $sl-title-bsp, $sl-title-bsp-2x, );
$sl-title-dashboard-group-name: 'sl-title_dashboard';
$sl-title-dashboard-group: ('sl-title_dashboard', $sl-title-dashboard, $sl-title-dashboard-2x, );
$sl-title-its-group-name: 'sl-title_its';
$sl-title-its-group: ('sl-title_its', $sl-title-its, $sl-title-its-2x, );
$sl-title-metering-group-name: 'sl-title_metering';
$sl-title-metering-group: ('sl-title_metering', $sl-title-metering, $sl-title-metering-2x, );
$sl-title-monitoring-group-name: 'sl-title_monitoring';
$sl-title-monitoring-group: ('sl-title_monitoring', $sl-title-monitoring, $sl-title-monitoring-2x, );
$sl-title-service-portal-group-name: 'sl-title_service_portal';
$sl-title-service-portal-group: ('sl-title_service_portal', $sl-title-service-portal, $sl-title-service-portal-2x, );
$sl-title-workflow-group-name: 'sl-title_workflow';
$sl-title-workflow-group: ('sl-title_workflow', $sl-title-workflow, $sl-title-workflow-2x, );
$retina-groups: ($sl-bsp-group, $sl-footer-cloud-group, $sl-footer-title-group, $sl-title-asset-management-group, $sl-title-bsp-group, $sl-title-dashboard-group, $sl-title-its-group, $sl-title-metering-group, $sl-title-monitoring-group, $sl-title-service-portal-group, $sl-title-workflow-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
