
// 2depth - sub
.sub-menus { position: relative; z-index: z("gnb") - 1; margin-top: 80px; background-color: #f6f6f6;
	.contents-inner { position: relative; margin: 0 auto; height: 60px; width: $contents-width; }

	h2 { display: none; }

	.list-menus { display: block; box-sizing: border-box; padding-left: 20px; height: 100%; width: 100%; text-align: center;
		> li { display: inline-block; padding: 0 15px;
			button, a { display: block; font-size: 0.875rem; font-weight: 500; color: #AFAFAF; line-height: 1em; letter-spacing: 0.1em; line-height: 60px;
				&:hover { color: #000; }
			}

			+ li { position: relative; padding-left: 38px;
				&:before { content: ''; display: block; position: absolute; top: 50%; left: 0; height: 1px; width: 23px; background-color: #d6d6d6; }
			}

			&.is-selected {
				button, a { font-weight: 700; color: #000; }
				.list-sub-menus { }
			}
			&:hover {
				.list-sub-menus { display: block; }
			}

			// sub menus
			.list-sub-menus { display: none; position: absolute; top: 100%; right: -23px; left: 0px; z-index: z("default"); padding: 15px 0; background-color: #DADADA;
				@include icon(arrow02, after);
				&:after { display: block; position: absolute; top: 0; left: 50%; margin-top: -15px; margin-left: -15px; height: 30px; width: 30px; font-size: 23px; color: #F6F6F6; text-align: center; line-height: 30px; }

				> li { position: relative; overflow: hidden; padding: 0 20px;
					&:before { content: ''; display: none; position: absolute; top: 50%; right: 20px; left: 20px; z-index: z("default") - 1; margin-top: -1px; height: 2px; background-color: #000; }

					button, a { display: block; float: left; position: relative; z-index: z("default"); padding-right: 15px; font-size: 0.875rem; color: rgba(155, 155, 155, 0.5); line-height: 25px; letter-spacing: -0.01em; white-space: nowrap; background-color: #DADADA;
						&:hover { color: #000; }
					}

					&.is-selected {
						&:before { display: block; }

						button, a { color: #000; }
					}
				}
			}

		}
	}

	+ main {
		article.contents { padding-top: 0; }
	}
}


// side menu
.side-menus { margin-top: 19px;
	li { position: relative;
		.btn-edit { display: none; margin-left: 5px; }
		.edit-mode { display: block; position: absolute; top: 0; right: 0; left: 0; z-index: z("default");
			input[type=text] { box-sizing: border-box; padding-left: 14px; height: 45px; width: 100%; font-size: 21px; font-weight: 500; color: #000; border: 2px solid #000; background-color: #F6F6F6; }
		}

		> button, a { display: block; position: relative; font-size: 0.875rem; font-weight: 300; color: #AFAFAF; line-height: 40px; text-align: left;
			&:before { content: ''; display: none; position: absolute; top: 21px; right: 0px; left: 0px; height: 2px; background-color: #000; }

			span { display: inline-block; position: relative; z-index: z("default"); padding-right: 11px; background-color: #fff;
				&:first-letter { text-transform: capitalize; }
			}

			&:hover { color: #000;
				&:before { display: block; }
			}

			&.is-selected { font-weight: 500; color: #000;
				&:before { display: block; }
			}


			&.vendor {
				&:before { top: 25px; }

				> span { padding-left: 50px; font-size: 0.875rem;
					&:before { content: ''; display: block; position: absolute; top: 50%; left: 0; margin-top: -19px; height: 39px; width: 39px; opacity: 0.4; }
				}
				.cost { margin-top: -5px; padding-left: 50px; font-family: $font-special-stack; font-size: 1.250rem; font-weight: 400; color: #9B9B9B; opacity: 0.4;
					.dollar { color: #000; }
				}

				&:hover,
				&.is-selected {
					> span:before { opacity: 1; }
					.cost { opacity: 1; }
				}

				&.total {
					> span:before { margin-top: -8px; @include retina-sprite($sc-icon-cloud-group); }
				}
				&.aws {
					> span:before { @include retina-sprite($sc-icon-aws-group); }
				}
				&.azure {
					> span:before { @include retina-sprite($sc-icon-azure-group); }
				}
				&.aliyun {
					> span:before { @include retina-sprite($sc-icon-aliyun-group); }
				}
			}
		}
	}

	&.is-editable {
		> button, a {
			&:hover {
				.btn-edit { display: inline-block; }
			}

			.btn-edit.is-selected { display: inline-block; }
		}
	}


	// metering
	.metering & { margin-bottom: 50px;
		> button, a { margin-bottom: 10px; font-size: 25px;

		}
	}
}




/* FOOTER */
.footer { overflow: hidden; height: 320px; background-color: #000;
	@mixin inner() { position: relative; box-sizing: border-box; margin: 0 auto; padding: 0 $column-padding; min-height: 100%; width: $contents-width; }
	.contents-inner { overflow: hidden; @include inner(); color: #fff;
		&:before { content: ''; display: block; position: absolute; top: 50px; left: 20px; @include retina-sprite($sc-footer-cloud-group); }
		&:after { content: ''; clear: both; }
	}

	.service { float: left; margin-top: 100px; padding-left: 70px; width: 30%;
		.title { display: block; text-indent: -9999px; @include retina-sprite($sc-footer-title-group); }
		.list-shortcut { margin-top: 15px;
			a { font-family: $font-special-stack; font-size: 0.750rem; font-weight: 700; color: #fff; line-height: 2.083em;
				&:hover { color: rgba(255, 255, 255, 0.5); }
			}
		}
	}

	.utils { display: block; float: right; font-size: 0.750rem; color: #6F6F6F; text-align: right;
		.policy { margin-top: 100px;
			a { font-weight: 700; color: #fff; opacity: 0.73;
				+ a {
					&:before { content: '|'; display: inline-block; margin: -4px 6px 0 4px; vertical-align: middle; }
				}
			}
		}

		.cs { margin-top: 30px; line-height: 1.667em;
			.btn-tech { display: inline-block; margin-bottom: 5px; color: #fff; opacity: 0.73; }
			.info { color: #6F6F6F; }
		}
		.copyright { display: block; margin-top: 43px; }
	}
}




/* CONTENTS */
main { min-height: 600px;
	&.scroll-left {
		article.contents { 
			.contents-inner { }

			.column-left { position: absolute; top: 0; bottom: 0; left: 30px; }
			.column-right { padding-top: 0px;
				.filter-container { margin-bottom: 15px; }
			}
		}
	}
}
article.contents { padding-top: 80px;
	@mixin inner() { position: relative; box-sizing: border-box; margin: 0 auto; padding: 0 $column-padding; width: $contents-width; }
	.contents-inner { overflow: hidden; @include inner(); padding-bottom: 0px;
		&.size-fit { margin-top: 0; padding: 0;
			&.fullsize { padding: 0 5%; width: 100%; }
		}
	}

	.button-container { padding: 50px 0px 0px 4px; text-align: right; }

	.column-left { float: left; box-sizing: border-box; position: relative; padding-top: 35px; padding-bottom: 30px; width: $column-left-width;
		.btn-normal { width: 100%; }

		.scroll { overflow: auto; position: absolute; top: 82px; right: 0px; bottom: 0px; left: 10px; padding: 0; }
		
		.its { position: absolute; top: 20px; right: -50px; left: 0; padding: 0 50px 0 10px; height: 47px; vertical-align: middle; line-height: 47px; background-color: #e7e7e7;
			.btn-normal { width: 100%;  }
		}
	}
	.column-right { float: right; overflow: hidden; padding-top: 35px; padding-bottom: 30px; width: $column-right-width;
		.asset & { padding-bottom: 100px; }
	}

	// protal
	.portal & {
		h1.title { background-color: #f6f6f6;
			.inner { @include inner(); padding-top: 0px; height: 100px; font-size: 1.875rem; font-weight: 700; line-height: 100px; vertical-align: middle; }

			.service { display: block; position: relative; font-size: 36px; line-height: 100px; 
				&:before { display: inline-block; margin: -2px 18px 0 0; height: 54px; width: 54px; font-size: 29px; color: #000; vertical-align: middle; line-height: 54px; text-align: center; border: 3px solid; background-color: #fff; }

				// asset
				&.asset { 
					@include icon(asset); 
				}
				// metering
				&.metering {
					@include icon(metering);
					&:before { font-size: 37px;	 }
				}
				// monitoring
				&.monitoring {
					@include icon(monitoring);
					&:before { font-size: 42px;	 }
				}
			}

			.last-logged { display: block; position: absolute; bottom: 0; right: $column-padding; font-size: 16px; font-weight: 500; color: #999; }
			.right { position: absolute; top: 26px; right: 30px; }
		}
	}

	// metering
	.metering & {
		h1.title {
			.inner { @include inner(); padding-top: 19px; height: 135px; font-size: 36px; font-weight: 500; }
			.inline { display: inline-block; margin-left: 20px; vertical-align: middle; }
			.right-content { float: right; }
		}
	}

	// list column 01
	.list-column-01 { overflow: hidden; padding: 30px;
		> li { display: block; clear: both; box-sizing: border-box; padding: 0 0 15px 0; }
	}

	// list column 03
	.list-column-03 { overflow: hidden; padding: 30px 0;
		> li { display: block; box-sizing: border-box; float: left; padding: 0 0 45px 0; width: 350px;
			&:nth-child(3n+2) { margin-right: 55px; margin-left: 55px; }
		}
	}

	.submit-btns { padding-top: 26px;
		.btn-normal { margin-right: 5px; }
	}
}
