/* FOOTER */
.footer { overflow: hidden; height: 320px; background-color: #000;
	@mixin inner() { position: relative; box-sizing: border-box; margin: 0 auto; padding: 0 $column-padding; min-height: 100%; width: $contents-width; }
	.contents-inner { overflow: hidden; @include inner(); color: #fff;
		&:before { content: ''; display: block; position: absolute; top: 50px; left: 20px; @include retina-sprite($sl-footer-cloud-group); }
		&:after { content: ''; clear: both; }
	}

	.service { float: left; margin-top: 100px; padding-left: 70px; width: 30%;
		.title { display: block; text-indent: -9999px; @include retina-sprite($sl-footer-title-group); }
		.list-shortcut { margin-top: 15px; text-align: left;
			a { font-family: $font-special-stack; font-size: 0.750rem; font-weight: 700; color: #fff; line-height: 2.083em;
				&:hover { color: rgba(255, 255, 255, 0.5); }
			}
		}
	}

	.utils { display: block; float: right; font-size: 0.750rem; color: #6F6F6F; text-align: right;
		.policy { margin-top: 100px;
			a { font-weight: 700; color: #fff; opacity: 0.73;
				+ a {
					&:before { content: '|'; display: inline-block; margin: -4px 6px 0 4px; vertical-align: middle; }
				}
			}
		}

		.cs { margin-top: 30px; line-height: 1.667em;
			.btn-tech { display: inline-block; margin-bottom: 5px; color: #fff; opacity: 0.73; }
			.info { color: #6F6F6F; }
		}
		.copyright { display: block; margin-top: 43px; }
	}
}
