body.metering {

	
	.multiple-select { display: inline-block; position: relative; z-index: z("dropdown"); width: auto; 
		.btn-filter { display: block; overflow: hidden; position: relative; box-sizing: border-box; padding: 0 30px 0 10px; height: 24px; max-width: 130px; width: auto; font-size: 0.750rem; font-weight: 500; color: #000; text-align: left; text-overflow: ellipsis; white-space: nowrap; line-height: 24px; background-color: #E7E7E7;
			@include icon(arrow01);
			&:before { display: block; position: absolute; top: 50%; right: 5px; margin-top: -3px; height: 10px; width: 20px; font-size: 15px; color: #000; line-height: 10px; text-align: center; }
		}
		.list-filter { display: none; box-sizing: border-box; overflow: auto; position: absolute; top: 24px; z-index: z("dropdown") + 1; padding: 3px 0; max-height: 310px; /*width: 100%;*/ border: 2px solid #DADADA; background-color: #fff;
			> li { height: 30px;
				label { display: block; padding-right: 10px; padding-left: 35px; height: 30px; line-height: 30px; font-size: 14px; color: #000; white-space: nowrap;
					&:hover { background-color: #f0f0f0; }
					.icheckbox { top: 50%; left: 9px; margin-top: -8px; }
				}
			}
		}
	}

	.ri-filter-container { position: relative; z-index: z("default");
		&:after { content: ''; clear: both; }

		.btn-toggle-options { display: inline-block; margin-bottom: 0; font-size: 0.875rem; font-weight: 500; color: #A9A7A7;
			&:after { content: '▲'; display: inline-block; margin: -2px 0 0 4px; font-size: 0.375rem; color: #898888; }

			&[data-state=is-close] { margin-bottom: 42px;
				&:after { content: '▼'; }
			}
		}

		.box { position: relative; margin-top: 5px; margin-bottom: 40px; padding: 20px 150px 20px 20px; border-top: 1px solid #E4E4E4; border-bottom: 1px solid #E4E4E4;
			label.title { display: inline-block; margin-right: 6px; font-size: 0.750rem; font-weight: 700; color: #000; }
			input[type=radio] { display: inline-block; margin-left: 10px; vertical-align: middle; }
			label.title-radio { font-size: 0.750rem; font-weight: 500; color: #000; }

			.line { position: relative; z-index: z("default") + 1;
				+ .line { z-index: z("default"); margin-top: 23px; }
			}
			.multiple-select { margin-right: 35px;
				+ .multiple-select { margin-right: 5px; margin-left: -30px; }
			}
		}
		.btn-normal.search { position: absolute; top: 50%; right: 20px; margin-top: -24px; min-width: 110px; }
	}

	
	.growth { font-family: $font-special-stack; font-size: 1.250rem; font-weight: 400;
		@include icon(growth);
		&:before { display: inline-block; margin: -2px 4px 0 0; height: 15px; width: 15px; font-size: 15px; line-height: 15px; }

		&.up { color: #E74E0F;
			&:before { transform: rotateX( 180deg ); }
		}
		&.down { color: #0DACEA; }

		&.size-small { font-size: 1.250rem;
			&:before { height: 12px; width: 12px; font-size: 12px; line-height: 12px; }
		}

		&.size-big { font-size: 1.375rem;
			&:before { height: 17px; width: 17px; font-size: 17px; line-height: 17px; }
		}

		.txt { display: none; }
	}

	.btn-goto { display: inline-block; padding: 0 18px; height: 30px; font-size: 16px; font-weight: 700; color: #9B9B9B; line-height: 30px; border: 1px solid #9B9B9B; border-raidus: 2px;
		@include icon(arrow03);
		&:before { display: inline-block; margin: -4px 8px 0 0; height: 12px; width: 14px; font-size: 15px; line-height: 12px; vertical-align: middle; }

		&:hover { color: #000; border: 1px solid #000; background-color: #fff; }
	}


	// tooltip
	.metering-tooltip { padding: 10px; width: 100px;
		p { font-size: 12px; font-weight: 500; color: #fff; line-height: 14px; }
	}


	.box-item {
		&:before { content: ''; display: block; position: absolute; top: 11px; right: 0; left: 0; height: 2px; background-color: #000; }
		&:after { content: ''; display: block; clear: both; }

		> .title { display: block; float: left; position: relative; z-index: z("default"); padding-right: 15px; padding-bottom: 25px; font-size: 16px; font-weight: 700; color: #000; line-height: 24px; background-color: #fff;
			.thumb { display: inline-block; cursor: pointer; overflow: hidden; margin-right: 5px; height: 24px; width: 24px; line-height: 24px; vertical-align: middle; border-radius: 100%;
				img { display: inline-block; height: 100%; width: 100%; }
			}
			.thumb-over { display: block; position: absolute; top: 50px; left: 50px; opacity: 0; }
		}

		> .content { display: block; clear: both;
			.column { float: left; box-sizing: border-box; }
			.tbl-none { box-sizing: border-box; padding: 30px; height: 100%; font-size: 20px; font-weight: 500; color: #9B9B9B; line-height: 1em; background-color: #F2F2F2; }
			.chart { }
		}

		// button warning
		.btn-warning { position: absolute; top: 11px; right: 34px; }
		.btn-warning { display: block; height: 34px; width: 34px; color: #fff; text-indent: -9999px; background-color: #E74E0F;
			@include icon(warning);
			&:before { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%; font-size: 18px; text-indent: 0px; line-height: 34px; text-align: center; }
		}

		// total
		.unit { display: block; margin: 0px 0 20px; padding: 0 0 0 0; font-size: 20px; font-weight: 500; color: #000; line-height: 1em;
			em { display: inline-block; margin-right: 5px; font-size: 50px; line-height: 1em; letter-spacing: -0.07em; }
		}

		// cumulative
		.cumulative { position: relative;
			.growth { float: right; margin-top: -55px; }
			.chart { height: 300px; }
		}

		.title-with-cost { clear: both; position: relative; overflow: hidden; min-height: 85px;
			.title { float: left; padding-top: 5px; width: 70px; font-size: 20px; font-weight: 500; color: #000; line-height: 20px; letter-spacing: -0.1em; }
			.unit { float: right; text-align: right; }
			.growth { display: block; position: absolute; top: 50px; right: 5px; }
			.out-of { display: block; position: absolute; top: 70px; right: 0px; padding-right: 5px; font-size: 20px; font-weight: 500; color: #9B9B9B; margin-top: -20px;
				em { display: inline-block; margin-left: 10px; min-width: 90px; color: #000; text-align: right; }
			}
		}

		// top5
		.top5 { position: relative;
			.tbl-data-v { margin-top: 20px; }
		}

		// compare last month
		.compare-last-month { position: relative;
			.title { margin-bottom: 20px; font-size: 16px; font-weight: 500; color: #000; text-align: center; line-height: 40px; border-bottom: 2px solid #CECECE; }
			.chart { height: 300px; }
		}

		// cost-by-account
		.cost-by-account {
			.tablescroll { margin-top: 20px; }
		}

		// budget status
		.budget {
			.chart { margin-top: 20px; }
			.chart.none { background-color: #F2F2F2;
				p { padding: 30px; font-size: 20px; font-weight: 500; color: #9B9B9B;
					@include icon(warning);
					&:before { display: block; margin-bottom: 30px; height: 32px; width: 40px; font-size: 30px; color: #9B9B9B; line-height: 32px; }
				}
			}
		}

	}

	.popover.warning { position: absolute; padding: 15px; min-width: 75px; font-size: 14px; font-weight: 500; color: #fff; line-height: 14px; width: 255px; border: 2px solid #fff; background-color: #E74E0F;
		.point { top: -10px; z-index: z("default");
				&:before { color: #E74E0F; }
		}
	}



	// table detail
	.tbl-data-v { width: 100%;
		.btn-txt-info { display: block; font-size: 14px; font-weight: 700; color: #000; line-height: 20px; vertical-align: middle;
			@include icon(info, after);
			&:after { display: inline-block; margin: -2px 0 0 5px; height: 14px; width: 14px; font-size: 14px; color: #959595; line-height: 1em; vertical-align: middle; }
		}

		thead {
			th, td { font-size: 14px; font-weight: 700; color: #000; text-align: left; line-height: 20px; border-bottom: 2px solid #CECECE; }
		}

		tfoot {
			th, td { font-size: 14px; font-weight: 700; color: #000; text-align: left; line-height: 25px; border-top: 2px solid #CECECE; }
		}

		tbody {
			th, td { font-size: 15px; font-weight: 500; color: #000; text-align: left; line-height: 33px; }
		}

		tr.warning {
			th, td { color: #E74E0F; }
		}

		.currency { display: inline-block; margin-top: -3px; height: 17px; width: 17px; font-size: 10px; font-weight: 500; font-style: normal; color: #fff; text-align: center; line-height: 17px; vertical-align: middle; border-radius: 100%; background-color: #000;
			&.dollar { font-size: 13px; }
		}
	}
	.tablescroll_wrapper { padding-top: 5px; }

	// tlb-data-v tooptip
	.tooltipster-metering .tooltipster-box { padding: 10px; width: 100px; font-size: 11px; color: #fff; line-height: 14px; background-color: #000; }




	// dashboard
	&.dashboard { background-color: #F5F5F5;
		.summary { box-sizing: border-box; padding: 50px 0 0 0; height: 580px; background: url('/assets/images/bg_metering_dashboard.jpg') center top repeat-x;
			.status { overflow: hidden; margin: 0 auto; width: 1140px;
				>li { float: left; box-sizing: border-box; padding: 0px; width: 33%;
					.title { font-size: 1.000rem; font-weight: 700; color: #9B9B9B; }
					.cost { position: relative; margin-top: 10px; height: 70px; font-family: $font-special-stack; font-size: 2.813rem; font-weight: 400; color: #fff; text-align: left; letter-spacing: -0.05em; }
					.term { display: inline-block; margin: -2px 0 0 10px; padding: 0 10px; font-family: $font-special-stack; font-size: 0.750rem; font-weight: 400; color: #9B9B9B; vertical-align: middle; height: 18px; line-height: 18px; border-radius: 20px; border: 1px solid #979797; }
					.remain { display: block; font-size: 15px; font-weight: 500; color: #9B9B9B; text-align: right; line-height: 30px; }
					// .growth { position: absolute; bottom: -40px; right: 0; }
				}
			}

			.page-sub-tabs { display: block; margin-top: 44px;
				> li { display: inline-block;
					a { color: #9B9B9B;
						&:hover,
						&.is-selected { color: #fff; }
					}

					+ li {
						&:before { background-color: #979797; }
					}
				}
			}

			.chart-container { margin-top: 25px; height: 250px; }
		}


		article.contents {
			.contents-inner { overflow: hidden; width: $contents-dashboard-width; }

			// list-column-complex
			.list-column-complex { overflow: hidden; margin-top: 50px; margin-bottom: 30px;
				> li { display: block; clear: both; box-sizing: border-box; padding: 0 0 50px 0;
					&.column-03 { float: left; clear: none; width: 33%; }
					&.column-02 { float: left; clear: none; width: 50%;
						&:nth-child(2n+1) { clear: both; padding-right: 35px; }
						&:nth-child(2n+2) { padding-left: 35px; }

						.dashbaord-box-item { min-height: 336px; }
					}
				}
			}

			/* 대쉬보드용 박스 */
			.dashbaord-box-item { overflow: hidden; position: relative; padding: 52px 70px 60px 70px; border-top: 3px solid #000; background-color: #fff;
				.btn-detail { position: absolute; top: -3px; right: 0; }
				.segmented-control { margin-top: -31px; margin-bottom: 40px; font-size: 1.000rem; }
				.content {
					&.left { box-sizing: border-box; float: left; padding-right: 35px; width: 50%; }
					&.right { box-sizing: border-box; float: right; padding-left: 35px; width: 50%; }

					> .title { display: block; margin-bottom: 39px; font-size: 1.000rem; font-weight: 700; color: #000; }
					.chart { background-color: rgba(0, 0, 0, 0.3); }
				}
			}

			/* none contents */
			.none-contents { display: block; position: relative; min-height: 295px; padding: 0 0 0 30px; background-color: #F2F2F2;
				p { display: block; position: absolute; top: 50%; margin-top: -50px; font-size: 20px; font-weight: 400; color: #9B9B9B; line-height: 1em;
					@include icon(warning);
					&:before { display: block; margin-bottom: 30px; height: 32px; width: 40px; font-size: 30px; color: #9B9B9B; line-height: 32px; }
				}
			}

			// summary
			.tbl-payment-summary { width: 100%; border-bottom: 2px solid #E5E5E5;
				> thead {
					> tr {
						> th { padding: 10px 0 7px 0; font-size: 15px; font-weight: 500; color: #959595; text-align: center; border-bottom: 2px solid #E5E5E5;
							&:last-child { padding-right: 0; }
						}
					}
				}
				> tbody {
					> tr {
						> .body-th { padding: 16px 30px 11px 0; font-family: $font-special-stack; font-size: 1.250rem; font-weight: 400; color: #000; vertical-align: top; border-top: 1px solid #E5E5E5;
							&:last-child { padding-right: 0; }
						}
						> th, > td { padding: 0 30px 0 0; font-family: $font-special-stack; font-size: 1.250rem; font-weight: 400; color: #959595; text-align: left; line-height: 27px;
							&:last-child { padding-right: 0; }
						}

						&.line-break {
							> th, > td { padding-bottom: 15px; }
						}

						.none { height: 383px; background-color: #F2F2F2; }
					}
				}

				.l { text-align: left; }
				.r { text-align: right; }
				.btn-txt-info { display: inline-block; font-size: 0.938rem; font-weight: 500; color: #959595; line-height: 20px; vertical-align: middle;
					@include icon(info, after);
					&:after { display: inline-block; margin: -4px 0 0 5px; height: 15px; width: 15px; font-size: 15px; color: #959595; line-height: 1em; vertical-align: middle; }
				}
				.btn-shared { display: inline-block; position: relative; margin-top: -4px; height: 22px; width: 22px; text-indent: -9999px; border-radius: 22px; vertical-align: middle; background-color: #000;
					@include icon(arrow01);
					&:before { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%; font-size: 12px; color: #fff; line-height: 22px; text-align: center; text-indent: 0;
						transform: rotate( -90deg );
					}
				}
				.vendor { display: inline-block; position: relative; padding: 0 0 0 $sc-icon-aws-small-width+5; 
					&:before { content: ''; display: block; position: absolute; top: 50%; left: 0; height: 40px; width: 40px; }

					&.aws {
						&:before { margin-top: -$sc-icon-aws-small-height/2 - 2; @include retina-sprite($sc-icon-aws-small-group); }
					}
					&.azure {
						&:before { margin-top: -$sc-icon-azure-small-height/2 - 2; @include retina-sprite($sc-icon-azure-small-group); }
					}
				}
			}

			.tbl-assets { margin-top: 3px; margin-bottom: 6px; width: 100%; 
				tbody {
					th { font-size: 0.750rem; font-weight: 400; color: #959595; text-align: left; line-height: 1.250em; }
					td { padding-left: 6px; font-size: 0.750rem; font-weight: 400; color: #959595; text-align: right; line-height: 1.250em; }
				}
			}

			// TOP5
			.top5-item { position: relative; overflow: hidden; padding: 17px 0 0 0; font-family: $font-special-stack;
				.title { display: block; margin-bottom: 10px; font-size: 1.000rem; font-weight: 400; color: #000; }
				
				.cost-graph { display: block; position: absolute; bottom: 3px; left: 0; height: 21px; width: 370px;
					.current { display: block; height: 15px; background-color: #E8E8E8;
						animation-name: fade-in-left; animation-duration: 0.3s; animation-fill-mode: both; animation-delay: 0.3s;
					}
					.last { display: block; height: 6px; background-color: #E8E8E8;
						animation-name: fade-in-left; animation-duration: 0.3s; animation-fill-mode: both; animation-delay: 0.3s;
					}
				}

				.cost { float: right; margin-top: -17px; text-align: right;
					.current { display: block; font-size: 1.250rem; font-weight: 400; color: #000; }
					.last { display: block; font-size: 0.750rem; font-weight: 400; color: #959595; line-height: 1.3em; }
				}
			}

			.list-top5 { margin-top: 40px; padding-top: 10px; border-top: 2px solid #E5E5E5;
				> li { clear: both;
					&:nth-child(1) { 
						.cost-graph .current { animation-delay: 0.3s; background-color: #0DACEA; }
						.cost-graph .last { animation-delay: 0.4s; }
					}
					&:nth-child(2) { 
						.cost-graph .current { animation-delay: 0.5s; background-color: #F7A80D; }
						.cost-graph .last { animation-delay: 0.6s; }
					}
					&:nth-child(3) { 
						.cost-graph .current { animation-delay: 0.7s; background-color: #E74E0F; }
						.cost-graph .last { animation-delay: 0.8s; }
					}
					&:nth-child(4) { 
						.cost-graph .current { animation-delay: 0.9s; background-color: #6651B3; }
						.cost-graph .last { animation-delay: 1.0s; }
					}
					&:nth-child(5) { 
						.cost-graph .current { animation-delay: 1.1s; background-color: #1C1C1C; }
						.cost-graph .last { animation-delay: 1.2s; }
					}
					&:nth-child(6) { 
						.cost-graph .current { animation-delay: 1.3s; background-color: #959595; }
						.cost-graph .last { animation-delay: 1.4s; }
					}
				}
			}

			// 계정별 비용 / 납부 내역 / 크레딧 현황
			.list-type-tbl { width: 100%; font-family: $font-special-stack; border-top: 2px solid #E5E5E5; border-bottom: 2px solid #E5E5E5;
				tbody {
					th { padding: 20px 0; border-top: 1px solid #E5E5E5; }
					td { padding: 20px 0; border-top: 1px solid #E5E5E5; }

					.r { text-align: right; }
				}

				.disabled {
					time { color: #c7c7c7; }
					.price {
						dt { color: #c7c7c7; }
						dd { color: #c7c7c7;
							strong { color: #c7c7c7; }
						}
					}
				}

				time { font-size: 1.250rem; font-weight: 400; color: #000; }

				.price { display: block; width: 100%; overflow: hidden;
					dt { display: block; clear: left; float: left; height: 25px; width: 30%; font-size: 0.938rem; font-weight: 500; color: #959595; line-height: 25px; vertical-align: middle; }
					dd { display: block; float: left; height: 25px; /*min-width: 174px;*/ width: 70%; font-size: 1.250rem; color: #959595; text-align: right; line-height: 25px; vertical-align: middle;
						strong { font-weight: 400; color: #000;
							&.overdue { color: #F00012; }
						}
					}
				}

				.pay-status { display: inline-block; box-sizing: border-box; position: relative; padding-left: 20px; height: 25px; width: 100px; font-size: 0.750rem; font-weight: 400; color: #fff; text-align: center; line-height: 25px; border-radius: 25px;
					&:before { display: block; position: absolute; top: 50%; left: 10px; margin-top: -7px; height: 12px; width: 14px; font-size: 12px; color: #fff; line-height: 12px; text-align: center; }

					&.unpaid { background-color: #000;
						@include icon(iks02);
					}
					&.overdue { background-color: #EF0F21;
						@include icon(close02);
					}
					&.paid { background-color: #C3C3C3;
						@include icon(check);
					}
				}

				.vendor { display: block; position: relative; padding: 0 0 0 $sc-icon-aws-big-width+10; font-size: 1.000rem; font-weight: 400; color: #000; line-height: 20px;
					&:before { content: ''; display: block; position: absolute; top: 50%; left: 0; height: 40px; width: 40px; }
					.uid { display: block; }

					&.aws {
						&:before { margin-top: -$sc-icon-aws-big-height/2 - 2; @include retina-sprite($sc-icon-aws-big-group); }
					}
					&.azure {
						&:before { margin-top: -$sc-icon-azure-big-height/2 - 2; @include retina-sprite($sc-icon-azure-big-group); }
					}
				}

				.cost {
					strong { display: block; font-size: 1.875rem; font-weight: 400; color: #000; line-height: 0.75em; }
				}
			}

			// 예산 현황
			.list-budget-status { font-family: $font-special-stack; border-top: 2px solid #E5E5E5; border-bottom: 2px solid #E5E5E5;
				> li { padding: 21px 0 21px 0; border-top: 2px solid #E5E5E5;
					&:first-child { border-top: 0; }
				}
			}

			.budget-status { overflow: hidden;
				.vendor { font-size: 1.250rem; color: #000;
					&:before { content: ''; display: inline-block; margin-right: 5px; }
					&.aws {
						&:before { @include retina-sprite($sc-icon-aws-small-group); }
					}
					&.azure {
						&:before { @include retina-sprite($sc-icon-azure-small-group); }
					}
				}
				.total { float: right; font-size: 1.125rem; color: #959595; }
				.used { font-size: 1.250rem; color: #000; }
				.balance { float: right; font-size: 1.250rem; color: #61AC0C; }
				.excess { float: right; font-size: 1.250rem; color: #F00012; }

				.budget-graph { display: block; overflow: hidden; position: relative; float: none; clear: both; margin: 17px 0 6px 0; height: 15px; width: 100%; background-color: #1C1C1C;
					.gage { display: block; float: right; height: 15px; background-color: #92D449;
						animation-name: fade-in-right; animation-duration: 0.6s; animation-fill-mode: both; animation-delay: 1s;
					}

					&.excess {
						.gage { background-color: #F00012;
							animation-delay: 1.3s;
						}
					}
				}
			}
		}
	}



	// billing
	.billing-summary { margin-bottom: 5px; width: 100%; font-weight: 700; color: rgba(0, 0, 0, 0.5); border: 2px solid #000; background-color: #fff;
		> .inner { position: relative; padding: 10px 10px; height: 200px; }
	
		.title { font-size: 14px;
			&.total { color: #fff; }
		}
		.cost { display: block; margin-top: 10px; font-family: $font-special-stack; font-size: 2.375rem; font-weight: 400; color: #000; }

		.currency { display: block; position: absolute; bottom: 25px;
			dt { display: block; font-size: 12px; line-height: 20px; }
			dd { display: block; font-size: 14px; line-height: 25px; border-top: 1px solid #979797; }
		}

		.status { position: relative; padding: 10px 0; min-height: 60px; background-color: #000;
			table { width: 100%; color: rgba(255, 255, 255, 0.5);
				tbody {
					th { padding-left: 10px; font-size: 12px; text-align: left; line-height: 20px; }
					td { padding-right: 10px; font-size: 12px; font-weight: 500; text-align: right; line-height: 20px; }
				}
			}

			.payment {
				&:before { content: ''; display: inline-block; margin: -2px 5px 0 0; height: 10px; width: 10px; border-radius: 10px; vertical-align: middle; }

				&.paid { color: #0DACEA;
					&:before { background-color: #0DACEA; }
				}
				&.not-paid { color: #F5A623; 
					&:before { background-color: #F5A623; }
				}
				&.overdue { color: #E74E0F; 
					&:before { background-color: #E74E0F; }
				}
			}

			.btn-goto { display: block; position: absolute; right: 5px; bottom: 10px; left: 5px; letter-spacing: -0.05em; }
		}

		// invert
		&.invert { color: rgba(255, 255, 255, 0.5);
			> .inner { background-color: #000; }

			.cost { color: #fff; }
			.currency { display: block; position: absolute; bottom: 25px;
				dd { border-top: 1px solid #979797; }
			}
		}
	}


	&.billing {
		.view-by { margin-bottom: 25px; width: 230px; }

		.vendor-cost { overflow: hidden; padding-top: 7px; padding-bottom: 40px;
			.month { float: right;
				.title { display: block; font-size: 14px; font-weight: 700; color: rgba(0, 0, 0, 0.5); }
				.cost { text-align: right;
					strong { display: block; float: right; font-family: $font-special-stack; font-size: 2.750rem; font-weight: 400; color: #000; vertical-align: middle;
						small { display: block; font-size: 16px; font-weight: 500; color: rgba(0, 0, 0, 0.3); line-height: 1em; }
					}
					.growth { display: block; float: right; margin-top: 15px; margin-left: 10px; }
				}

				&.last { margin-left: 70px;
					.cost {
						strong { color: rgba(0, 0, 0, 0.3); }
					}
				}
				&.this { }
			}
		}
	}


	// cost statistics
	&.statistics {
		.statistics-summary {
			.list-statistics-summary { overflow: hidden; padding: 0 40px;
				li { display: block; box-sizing: border-box; float: left; padding-right: 30px; width: 310px;
					.chart { clear: both; padding-top: 15px; height: 215px; }
				}
			}
		}
	}


	// budgeting
	&.budgeting {
		.title-sub { padding: 30px 0 10px 0; font-size: 30px; font-weight: 500; color: #000;
			.filter { display: inline-block; margin: -2px 0 0 25px; width: 200px; vertical-align: middle; }

			+ .page-tabs { margin-top: 25px; }
		}


		.box-item { margin-top: 40px;
			.btn-warning { position: absolute; top: 11px; right: 0px; }

			.content {
				.chart { height: 283px; background-color: rgba(0, 0, 0, 0.1); }
			}
		}

		.aggrid-uitls { padding-top: 50px; padding-bottom: 35px;
			.right-content {
				.btn-text { margin-top: 7px; margin-left: 10px; }
			}
		}
	}

	// cost optimization
	&.page-cost-optimization {
		article.contents { padding-bottom: 100px; }

		.left-view { overflow: hidden; float: left; width: 570px; }
		.right-view { overflow: hidden; float: right; width: 560px;
			.ri-chart { box-sizing: border-box; width: 100%; border: 1px solid #D2D2D2; }
		}
	}


	// credit information
	&.history.credit {
		.filter-util { margin: 5px 0 0 0; }
	}

}