body.portal {

	/* set permission */
	.permission { table-layout: fixed; width: 100%;
		thead {
			tr {
				th { height: 32px; font-size: 16px; font-weight: 700; color: #000; text-align: center; }
			}
		}

		tbody {
			tr { border-top: 2px solid rgba(151, 151, 151, 0.32);
				th { font-size: 18px; font-weight: 500; color: #000; text-align: left; }
				td { height: 46px; text-align: center;
					label { padding: 0; }
				}
			}
		}
	}

	/* vendor accounts */
	.vendor-accounts { padding-bottom: 35px;
		.title { display: block; margin-bottom: 5px; font-size: 16px; font-weight: 700; color: #000; }

		.key-code { overflow: hidden; 
			p { float: left; padding-right: 40px; }
			input[type=text] { padding-left: 30px; height: 65px; width: 390px; font-size: 28px; font-weight: 500; color: rgba(0, 0, 0, 0.36); border: 0px; background-color: #fff; }
		}

		.used-for { margin-top: 50px;
			.icheck { padding-left: 35px; min-width: 90px; }
		}

		.btns { margin-top: 50px; }
	}


	/* manage service group */
	.service-group { position: relative; padding: 30px 0 0 0px; min-height: 300px;
		.service-profile { display: block; float: left; width: 194px;
			.thumb { display: block; position: relative; overflow: hidden; height: 194px; width: 194px; border-radius: 100%;
				img { display: inline-block; max-height: 100%; }
				.btn-normal.small { display: block; position: absolute; bottom: 13px; left: 50%; margin-left: -32px; min-width: 63px; font-size: 18px; font-weight: 700; line-height: 27px; }
			}
			input[type=text] { display: block; box-sizing: border-box; margin-top: 20px; padding-left: 12px; height: 42px; width: 100%; font-size: 18px; font-weight: 500; color: rgba(0, 0, 0, 0.36); line-height: 42px; border: 0px; background-color: #F6F6F6; }

			+ .grid { float: right; width: 776px; }
		}
	}

	/* manage users */
	.list-users-search { overflow: hidden; padding: 35px 0;
		.right-content { float: right; }

		.search { display: block;
			@include icon(search);
			&:before { display: inline-block; margin-right: 10px; color: #999; line-height: 42px; vertical-align: middle; }

			input[type=text] { height: 42px; width: 30%; font-size: 20px; font-weight: 500; color: #000; border: 0px; line-height: 42px; }
		}
	}

	.list-single-check { border-bottom: 3px solid rgba(151, 151, 151, 0.32);
		> li { overflow: hidden; height: 82px; border-top: 3px solid rgba(151, 151, 151, 0.32);
			.user { float: left; position: relative; padding: 0px 0px 0px 100px; height: 82px; width: auto; background-color: #fff;
				.thumb { display: block; overflow: hidden; position: absolute; top: 50%; left: 10px; margin-top: -28px; height: 56px; width: 56px; border-radius: 50%; background-color: #d8d8d8;
					img { max-height: 100%; max-width: 100%; }
				}
				figcaption { font-size: 26px; font-weight: 500; color: #000; line-height: 82px;
					label {
						button { display: none; }

						&:hover {
							button { display: inline-block; }
						}
					}
				}
			}

			.group-title { float: left; padding-left: 20px; font-size: 26px; font-weight: 500; color: #000; line-height: 82px; }


			&.pending {
				.user {
					figcaption { color: rgba(0, 0, 0, 0.37);
						&:after { content: 'PENDING'; display: inline-block; margin-left: 20px; font-size: 18px; font-weight: 700; color: #E74E0F; }
					}
				}
			}

			.content { float: right; line-height: 82px; }
		}
	}
}