/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sc-asset-feature-01-name: 'sc-asset_feature_01';
$sc-asset-feature-01-x: 81px;
$sc-asset-feature-01-y: 86px;
$sc-asset-feature-01-offset-x: -81px;
$sc-asset-feature-01-offset-y: -86px;
$sc-asset-feature-01-width: 80px;
$sc-asset-feature-01-height: 80px;
$sc-asset-feature-01-total-width: 385px;
$sc-asset-feature-01-total-height: 458px;
$sc-asset-feature-01-image: '../images/sprites.png';
$sc-asset-feature-01: (81px, 86px, -81px, -86px, 80px, 80px, 385px, 458px, '../images/sprites.png', 'sc-asset_feature_01', );
$sc-asset-feature-02-name: 'sc-asset_feature_02';
$sc-asset-feature-02-x: 81px;
$sc-asset-feature-02-y: 0px;
$sc-asset-feature-02-offset-x: -81px;
$sc-asset-feature-02-offset-y: 0px;
$sc-asset-feature-02-width: 93px;
$sc-asset-feature-02-height: 80px;
$sc-asset-feature-02-total-width: 385px;
$sc-asset-feature-02-total-height: 458px;
$sc-asset-feature-02-image: '../images/sprites.png';
$sc-asset-feature-02: (81px, 0px, -81px, 0px, 93px, 80px, 385px, 458px, '../images/sprites.png', 'sc-asset_feature_02', );
$sc-bespin-logotype-name: 'sc-bespin-logotype';
$sc-bespin-logotype-x: 255px;
$sc-bespin-logotype-y: 0px;
$sc-bespin-logotype-offset-x: -255px;
$sc-bespin-logotype-offset-y: 0px;
$sc-bespin-logotype-width: 130px;
$sc-bespin-logotype-height: 12px;
$sc-bespin-logotype-total-width: 385px;
$sc-bespin-logotype-total-height: 458px;
$sc-bespin-logotype-image: '../images/sprites.png';
$sc-bespin-logotype: (255px, 0px, -255px, 0px, 130px, 12px, 385px, 458px, '../images/sprites.png', 'sc-bespin-logotype', );
$sc-bespin-cloud-name: 'sc-bespin_cloud';
$sc-bespin-cloud-x: 52px;
$sc-bespin-cloud-y: 0px;
$sc-bespin-cloud-offset-x: -52px;
$sc-bespin-cloud-offset-y: 0px;
$sc-bespin-cloud-width: 23px;
$sc-bespin-cloud-height: 376px;
$sc-bespin-cloud-total-width: 385px;
$sc-bespin-cloud-total-height: 458px;
$sc-bespin-cloud-image: '../images/sprites.png';
$sc-bespin-cloud: (52px, 0px, -52px, 0px, 23px, 376px, 385px, 458px, '../images/sprites.png', 'sc-bespin_cloud', );
$sc-bespin-cloud-02-name: 'sc-bespin_cloud_02';
$sc-bespin-cloud-02-x: 0px;
$sc-bespin-cloud-02-y: 0px;
$sc-bespin-cloud-02-offset-x: 0px;
$sc-bespin-cloud-02-offset-y: 0px;
$sc-bespin-cloud-02-width: 46px;
$sc-bespin-cloud-02-height: 458px;
$sc-bespin-cloud-02-total-width: 385px;
$sc-bespin-cloud-02-total-height: 458px;
$sc-bespin-cloud-02-image: '../images/sprites.png';
$sc-bespin-cloud-02: (0px, 0px, 0px, 0px, 46px, 458px, 385px, 458px, '../images/sprites.png', 'sc-bespin_cloud_02', );
$sc-btn-bookmark-name: 'sc-btn_bookmark';
$sc-btn-bookmark-x: 323px;
$sc-btn-bookmark-y: 108px;
$sc-btn-bookmark-offset-x: -323px;
$sc-btn-bookmark-offset-y: -108px;
$sc-btn-bookmark-width: 17px;
$sc-btn-bookmark-height: 21px;
$sc-btn-bookmark-total-width: 385px;
$sc-btn-bookmark-total-height: 458px;
$sc-btn-bookmark-image: '../images/sprites.png';
$sc-btn-bookmark: (323px, 108px, -323px, -108px, 17px, 21px, 385px, 458px, '../images/sprites.png', 'sc-btn_bookmark', );
$sc-btn-bookmark-selected-name: 'sc-btn_bookmark_selected';
$sc-btn-bookmark-selected-x: 368px;
$sc-btn-bookmark-selected-y: 63px;
$sc-btn-bookmark-selected-offset-x: -368px;
$sc-btn-bookmark-selected-offset-y: -63px;
$sc-btn-bookmark-selected-width: 17px;
$sc-btn-bookmark-selected-height: 21px;
$sc-btn-bookmark-selected-total-width: 385px;
$sc-btn-bookmark-selected-total-height: 458px;
$sc-btn-bookmark-selected-image: '../images/sprites.png';
$sc-btn-bookmark-selected: (368px, 63px, -368px, -63px, 17px, 21px, 385px, 458px, '../images/sprites.png', 'sc-btn_bookmark_selected', );
$sc-checked-name: 'sc-checked';
$sc-checked-x: 303px;
$sc-checked-y: 143px;
$sc-checked-offset-x: -303px;
$sc-checked-offset-y: -143px;
$sc-checked-width: 17px;
$sc-checked-height: 18px;
$sc-checked-total-width: 385px;
$sc-checked-total-height: 458px;
$sc-checked-image: '../images/sprites.png';
$sc-checked: (303px, 143px, -303px, -143px, 17px, 18px, 385px, 458px, '../images/sprites.png', 'sc-checked', );
$sc-checked-disabled-name: 'sc-checked_disabled';
$sc-checked-disabled-x: 278px;
$sc-checked-disabled-y: 167px;
$sc-checked-disabled-offset-x: -278px;
$sc-checked-disabled-offset-y: -167px;
$sc-checked-disabled-width: 17px;
$sc-checked-disabled-height: 17px;
$sc-checked-disabled-total-width: 385px;
$sc-checked-disabled-total-height: 458px;
$sc-checked-disabled-image: '../images/sprites.png';
$sc-checked-disabled: (278px, 167px, -278px, -167px, 17px, 17px, 385px, 458px, '../images/sprites.png', 'sc-checked_disabled', );
$sc-footer-cloud-name: 'sc-footer_cloud';
$sc-footer-cloud-x: 81px;
$sc-footer-cloud-y: 258px;
$sc-footer-cloud-offset-x: -81px;
$sc-footer-cloud-offset-y: -258px;
$sc-footer-cloud-width: 41px;
$sc-footer-cloud-height: 138px;
$sc-footer-cloud-total-width: 385px;
$sc-footer-cloud-total-height: 458px;
$sc-footer-cloud-image: '../images/sprites.png';
$sc-footer-cloud: (81px, 258px, -81px, -258px, 41px, 138px, 385px, 458px, '../images/sprites.png', 'sc-footer_cloud', );
$sc-icon-aliyun-name: 'sc-icon_aliyun';
$sc-icon-aliyun-x: 255px;
$sc-icon-aliyun-y: 18px;
$sc-icon-aliyun-offset-x: -255px;
$sc-icon-aliyun-offset-y: -18px;
$sc-icon-aliyun-width: 39px;
$sc-icon-aliyun-height: 39px;
$sc-icon-aliyun-total-width: 385px;
$sc-icon-aliyun-total-height: 458px;
$sc-icon-aliyun-image: '../images/sprites.png';
$sc-icon-aliyun: (255px, 18px, -255px, -18px, 39px, 39px, 385px, 458px, '../images/sprites.png', 'sc-icon_aliyun', );
$sc-icon-aws-name: 'sc-icon_aws';
$sc-icon-aws-x: 255px;
$sc-icon-aws-y: 63px;
$sc-icon-aws-offset-x: -255px;
$sc-icon-aws-offset-y: -63px;
$sc-icon-aws-width: 39px;
$sc-icon-aws-height: 39px;
$sc-icon-aws-total-width: 385px;
$sc-icon-aws-total-height: 458px;
$sc-icon-aws-image: '../images/sprites.png';
$sc-icon-aws: (255px, 63px, -255px, -63px, 39px, 39px, 385px, 458px, '../images/sprites.png', 'sc-icon_aws', );
$sc-icon-azure-name: 'sc-icon_azure';
$sc-icon-azure-x: 300px;
$sc-icon-azure-y: 18px;
$sc-icon-azure-offset-x: -300px;
$sc-icon-azure-offset-y: -18px;
$sc-icon-azure-width: 39px;
$sc-icon-azure-height: 39px;
$sc-icon-azure-total-width: 385px;
$sc-icon-azure-total-height: 458px;
$sc-icon-azure-image: '../images/sprites.png';
$sc-icon-azure: (300px, 18px, -300px, -18px, 39px, 39px, 385px, 458px, '../images/sprites.png', 'sc-icon_azure', );
$sc-icon-cloud-name: 'sc-icon_cloud';
$sc-icon-cloud-x: 345px;
$sc-icon-cloud-y: 18px;
$sc-icon-cloud-offset-x: -345px;
$sc-icon-cloud-offset-y: -18px;
$sc-icon-cloud-width: 39px;
$sc-icon-cloud-height: 39px;
$sc-icon-cloud-total-width: 385px;
$sc-icon-cloud-total-height: 458px;
$sc-icon-cloud-image: '../images/sprites.png';
$sc-icon-cloud: (345px, 18px, -345px, -18px, 39px, 39px, 385px, 458px, '../images/sprites.png', 'sc-icon_cloud', );
$sc-icon-dot-name: 'sc-icon_dot';
$sc-icon-dot-x: 370px;
$sc-icon-dot-y: 108px;
$sc-icon-dot-offset-x: -370px;
$sc-icon-dot-offset-y: -108px;
$sc-icon-dot-width: 8px;
$sc-icon-dot-height: 8px;
$sc-icon-dot-total-width: 385px;
$sc-icon-dot-total-height: 458px;
$sc-icon-dot-image: '../images/sprites.png';
$sc-icon-dot: (370px, 108px, -370px, -108px, 8px, 8px, 385px, 458px, '../images/sprites.png', 'sc-icon_dot', );
$sc-icon-minus-name: 'sc-icon_minus';
$sc-icon-minus-x: 289px;
$sc-icon-minus-y: 108px;
$sc-icon-minus-offset-x: -289px;
$sc-icon-minus-offset-y: -108px;
$sc-icon-minus-width: 28px;
$sc-icon-minus-height: 29px;
$sc-icon-minus-total-width: 385px;
$sc-icon-minus-total-height: 458px;
$sc-icon-minus-image: '../images/sprites.png';
$sc-icon-minus: (289px, 108px, -289px, -108px, 28px, 29px, 385px, 458px, '../images/sprites.png', 'sc-icon_minus', );
$sc-icon-minus-selected-name: 'sc-icon_minus_selected';
$sc-icon-minus-selected-x: 300px;
$sc-icon-minus-selected-y: 63px;
$sc-icon-minus-selected-offset-x: -300px;
$sc-icon-minus-selected-offset-y: -63px;
$sc-icon-minus-selected-width: 28px;
$sc-icon-minus-selected-height: 29px;
$sc-icon-minus-selected-total-width: 385px;
$sc-icon-minus-selected-total-height: 458px;
$sc-icon-minus-selected-image: '../images/sprites.png';
$sc-icon-minus-selected: (300px, 63px, -300px, -63px, 28px, 29px, 385px, 458px, '../images/sprites.png', 'sc-icon_minus_selected', );
$sc-icon-plus-name: 'sc-icon_plus';
$sc-icon-plus-x: 334px;
$sc-icon-plus-y: 63px;
$sc-icon-plus-offset-x: -334px;
$sc-icon-plus-offset-y: -63px;
$sc-icon-plus-width: 28px;
$sc-icon-plus-height: 29px;
$sc-icon-plus-total-width: 385px;
$sc-icon-plus-total-height: 458px;
$sc-icon-plus-image: '../images/sprites.png';
$sc-icon-plus: (334px, 63px, -334px, -63px, 28px, 29px, 385px, 458px, '../images/sprites.png', 'sc-icon_plus', );
$sc-icon-plus-selected-name: 'sc-icon_plus_selected';
$sc-icon-plus-selected-x: 255px;
$sc-icon-plus-selected-y: 108px;
$sc-icon-plus-selected-offset-x: -255px;
$sc-icon-plus-selected-offset-y: -108px;
$sc-icon-plus-selected-width: 28px;
$sc-icon-plus-selected-height: 29px;
$sc-icon-plus-selected-total-width: 385px;
$sc-icon-plus-selected-total-height: 458px;
$sc-icon-plus-selected-image: '../images/sprites.png';
$sc-icon-plus-selected: (255px, 108px, -255px, -108px, 28px, 29px, 385px, 458px, '../images/sprites.png', 'sc-icon_plus_selected', );
$sc-indeterminate-name: 'sc-indeterminate';
$sc-indeterminate-x: 326px;
$sc-indeterminate-y: 143px;
$sc-indeterminate-offset-x: -326px;
$sc-indeterminate-offset-y: -143px;
$sc-indeterminate-width: 17px;
$sc-indeterminate-height: 18px;
$sc-indeterminate-total-width: 385px;
$sc-indeterminate-total-height: 458px;
$sc-indeterminate-image: '../images/sprites.png';
$sc-indeterminate: (326px, 143px, -326px, -143px, 17px, 18px, 385px, 458px, '../images/sprites.png', 'sc-indeterminate', );
$sc-metering-feature-01-name: 'sc-metering_feature_01';
$sc-metering-feature-01-x: 81px;
$sc-metering-feature-01-y: 172px;
$sc-metering-feature-01-offset-x: -81px;
$sc-metering-feature-01-offset-y: -172px;
$sc-metering-feature-01-width: 76px;
$sc-metering-feature-01-height: 80px;
$sc-metering-feature-01-total-width: 385px;
$sc-metering-feature-01-total-height: 458px;
$sc-metering-feature-01-image: '../images/sprites.png';
$sc-metering-feature-01: (81px, 172px, -81px, -172px, 76px, 80px, 385px, 458px, '../images/sprites.png', 'sc-metering_feature_01', );
$sc-metering-feature-02-name: 'sc-metering_feature_02';
$sc-metering-feature-02-x: 180px;
$sc-metering-feature-02-y: 344px;
$sc-metering-feature-02-offset-x: -180px;
$sc-metering-feature-02-offset-y: -344px;
$sc-metering-feature-02-width: 26px;
$sc-metering-feature-02-height: 80px;
$sc-metering-feature-02-total-width: 385px;
$sc-metering-feature-02-total-height: 458px;
$sc-metering-feature-02-image: '../images/sprites.png';
$sc-metering-feature-02: (180px, 344px, -180px, -344px, 26px, 80px, 385px, 458px, '../images/sprites.png', 'sc-metering_feature_02', );
$sc-metering-feature-03-name: 'sc-metering_feature_03';
$sc-metering-feature-03-x: 180px;
$sc-metering-feature-03-y: 258px;
$sc-metering-feature-03-offset-x: -180px;
$sc-metering-feature-03-offset-y: -258px;
$sc-metering-feature-03-width: 51px;
$sc-metering-feature-03-height: 80px;
$sc-metering-feature-03-total-width: 385px;
$sc-metering-feature-03-total-height: 458px;
$sc-metering-feature-03-image: '../images/sprites.png';
$sc-metering-feature-03: (180px, 258px, -180px, -258px, 51px, 80px, 385px, 458px, '../images/sprites.png', 'sc-metering_feature_03', );
$sc-monitoring-feature-01-name: 'sc-monitoring_feature_01';
$sc-monitoring-feature-01-x: 180px;
$sc-monitoring-feature-01-y: 0px;
$sc-monitoring-feature-01-offset-x: -180px;
$sc-monitoring-feature-01-offset-y: 0px;
$sc-monitoring-feature-01-width: 69px;
$sc-monitoring-feature-01-height: 80px;
$sc-monitoring-feature-01-total-width: 385px;
$sc-monitoring-feature-01-total-height: 458px;
$sc-monitoring-feature-01-image: '../images/sprites.png';
$sc-monitoring-feature-01: (180px, 0px, -180px, 0px, 69px, 80px, 385px, 458px, '../images/sprites.png', 'sc-monitoring_feature_01', );
$sc-monitoring-feature-02-name: 'sc-monitoring_feature_02';
$sc-monitoring-feature-02-x: 180px;
$sc-monitoring-feature-02-y: 86px;
$sc-monitoring-feature-02-offset-x: -180px;
$sc-monitoring-feature-02-offset-y: -86px;
$sc-monitoring-feature-02-width: 61px;
$sc-monitoring-feature-02-height: 80px;
$sc-monitoring-feature-02-total-width: 385px;
$sc-monitoring-feature-02-total-height: 458px;
$sc-monitoring-feature-02-image: '../images/sprites.png';
$sc-monitoring-feature-02: (180px, 86px, -180px, -86px, 61px, 80px, 385px, 458px, '../images/sprites.png', 'sc-monitoring_feature_02', );
$sc-monitoring-feature-03-name: 'sc-monitoring_feature_03';
$sc-monitoring-feature-03-x: 180px;
$sc-monitoring-feature-03-y: 172px;
$sc-monitoring-feature-03-offset-x: -180px;
$sc-monitoring-feature-03-offset-y: -172px;
$sc-monitoring-feature-03-width: 60px;
$sc-monitoring-feature-03-height: 80px;
$sc-monitoring-feature-03-total-width: 385px;
$sc-monitoring-feature-03-total-height: 458px;
$sc-monitoring-feature-03-image: '../images/sprites.png';
$sc-monitoring-feature-03: (180px, 172px, -180px, -172px, 60px, 80px, 385px, 458px, '../images/sprites.png', 'sc-monitoring_feature_03', );
$sc-pending-name: 'sc-pending';
$sc-pending-x: 279px;
$sc-pending-y: 143px;
$sc-pending-offset-x: -279px;
$sc-pending-offset-y: -143px;
$sc-pending-width: 18px;
$sc-pending-height: 18px;
$sc-pending-total-width: 385px;
$sc-pending-total-height: 458px;
$sc-pending-image: '../images/sprites.png';
$sc-pending: (279px, 143px, -279px, -143px, 18px, 18px, 385px, 458px, '../images/sprites.png', 'sc-pending', );
$sc-rchecked-name: 'sc-rchecked';
$sc-rchecked-x: 301px;
$sc-rchecked-y: 167px;
$sc-rchecked-offset-x: -301px;
$sc-rchecked-offset-y: -167px;
$sc-rchecked-width: 17px;
$sc-rchecked-height: 17px;
$sc-rchecked-total-width: 385px;
$sc-rchecked-total-height: 458px;
$sc-rchecked-image: '../images/sprites.png';
$sc-rchecked: (301px, 167px, -301px, -167px, 17px, 17px, 385px, 458px, '../images/sprites.png', 'sc-rchecked', );
$sc-rchecked-disabled-name: 'sc-rchecked_disabled';
$sc-rchecked-disabled-x: 349px;
$sc-rchecked-disabled-y: 143px;
$sc-rchecked-disabled-offset-x: -349px;
$sc-rchecked-disabled-offset-y: -143px;
$sc-rchecked-disabled-width: 17px;
$sc-rchecked-disabled-height: 17px;
$sc-rchecked-disabled-total-width: 385px;
$sc-rchecked-disabled-total-height: 458px;
$sc-rchecked-disabled-image: '../images/sprites.png';
$sc-rchecked-disabled: (349px, 143px, -349px, -143px, 17px, 17px, 385px, 458px, '../images/sprites.png', 'sc-rchecked_disabled', );
$sc-runchecked-name: 'sc-runchecked';
$sc-runchecked-x: 255px;
$sc-runchecked-y: 167px;
$sc-runchecked-offset-x: -255px;
$sc-runchecked-offset-y: -167px;
$sc-runchecked-width: 17px;
$sc-runchecked-height: 17px;
$sc-runchecked-total-width: 385px;
$sc-runchecked-total-height: 458px;
$sc-runchecked-image: '../images/sprites.png';
$sc-runchecked: (255px, 167px, -255px, -167px, 17px, 17px, 385px, 458px, '../images/sprites.png', 'sc-runchecked', );
$sc-sort-asc-name: 'sc-sort_asc';
$sc-sort-asc-x: 324px;
$sc-sort-asc-y: 167px;
$sc-sort-asc-offset-x: -324px;
$sc-sort-asc-offset-y: -167px;
$sc-sort-asc-width: 17px;
$sc-sort-asc-height: 10px;
$sc-sort-asc-total-width: 385px;
$sc-sort-asc-total-height: 458px;
$sc-sort-asc-image: '../images/sprites.png';
$sc-sort-asc: (324px, 167px, -324px, -167px, 17px, 10px, 385px, 458px, '../images/sprites.png', 'sc-sort_asc', );
$sc-sort-desc-name: 'sc-sort_desc';
$sc-sort-desc-x: 347px;
$sc-sort-desc-y: 167px;
$sc-sort-desc-offset-x: -347px;
$sc-sort-desc-offset-y: -167px;
$sc-sort-desc-width: 17px;
$sc-sort-desc-height: 10px;
$sc-sort-desc-total-width: 385px;
$sc-sort-desc-total-height: 458px;
$sc-sort-desc-image: '../images/sprites.png';
$sc-sort-desc: (347px, 167px, -347px, -167px, 17px, 10px, 385px, 458px, '../images/sprites.png', 'sc-sort_desc', );
$sc-sort-none-name: 'sc-sort_none';
$sc-sort-none-x: 255px;
$sc-sort-none-y: 190px;
$sc-sort-none-offset-x: -255px;
$sc-sort-none-offset-y: -190px;
$sc-sort-none-width: 17px;
$sc-sort-none-height: 10px;
$sc-sort-none-total-width: 385px;
$sc-sort-none-total-height: 458px;
$sc-sort-none-image: '../images/sprites.png';
$sc-sort-none: (255px, 190px, -255px, -190px, 17px, 10px, 385px, 458px, '../images/sprites.png', 'sc-sort_none', );
$sc-unchecked-name: 'sc-unchecked';
$sc-unchecked-x: 255px;
$sc-unchecked-y: 143px;
$sc-unchecked-offset-x: -255px;
$sc-unchecked-offset-y: -143px;
$sc-unchecked-width: 18px;
$sc-unchecked-height: 18px;
$sc-unchecked-total-width: 385px;
$sc-unchecked-total-height: 458px;
$sc-unchecked-image: '../images/sprites.png';
$sc-unchecked: (255px, 143px, -255px, -143px, 18px, 18px, 385px, 458px, '../images/sprites.png', 'sc-unchecked', );
$sc-unchecked-disabled-name: 'sc-unchecked_disabled';
$sc-unchecked-disabled-x: 346px;
$sc-unchecked-disabled-y: 108px;
$sc-unchecked-disabled-offset-x: -346px;
$sc-unchecked-disabled-offset-y: -108px;
$sc-unchecked-disabled-width: 18px;
$sc-unchecked-disabled-height: 18px;
$sc-unchecked-disabled-total-width: 385px;
$sc-unchecked-disabled-total-height: 458px;
$sc-unchecked-disabled-image: '../images/sprites.png';
$sc-unchecked-disabled: (346px, 108px, -346px, -108px, 18px, 18px, 385px, 458px, '../images/sprites.png', 'sc-unchecked_disabled', );
$sc-asset-feature-01-2x-name: 'sc-asset_feature_01@2x';
$sc-asset-feature-01-2x-x: 162px;
$sc-asset-feature-01-2x-y: 172px;
$sc-asset-feature-01-2x-offset-x: -162px;
$sc-asset-feature-01-2x-offset-y: -172px;
$sc-asset-feature-01-2x-width: 160px;
$sc-asset-feature-01-2x-height: 160px;
$sc-asset-feature-01-2x-total-width: 770px;
$sc-asset-feature-01-2x-total-height: 916px;
$sc-asset-feature-01-2x-image: '../images/sprites@2x.png';
$sc-asset-feature-01-2x: (162px, 172px, -162px, -172px, 160px, 160px, 770px, 916px, '../images/sprites@2x.png', 'sc-asset_feature_01@2x', );
$sc-asset-feature-02-2x-name: 'sc-asset_feature_02@2x';
$sc-asset-feature-02-2x-x: 162px;
$sc-asset-feature-02-2x-y: 0px;
$sc-asset-feature-02-2x-offset-x: -162px;
$sc-asset-feature-02-2x-offset-y: 0px;
$sc-asset-feature-02-2x-width: 186px;
$sc-asset-feature-02-2x-height: 160px;
$sc-asset-feature-02-2x-total-width: 770px;
$sc-asset-feature-02-2x-total-height: 916px;
$sc-asset-feature-02-2x-image: '../images/sprites@2x.png';
$sc-asset-feature-02-2x: (162px, 0px, -162px, 0px, 186px, 160px, 770px, 916px, '../images/sprites@2x.png', 'sc-asset_feature_02@2x', );
$sc-bespin-logotype-2x-name: 'sc-bespin-logotype@2x';
$sc-bespin-logotype-2x-x: 510px;
$sc-bespin-logotype-2x-y: 0px;
$sc-bespin-logotype-2x-offset-x: -510px;
$sc-bespin-logotype-2x-offset-y: 0px;
$sc-bespin-logotype-2x-width: 260px;
$sc-bespin-logotype-2x-height: 24px;
$sc-bespin-logotype-2x-total-width: 770px;
$sc-bespin-logotype-2x-total-height: 916px;
$sc-bespin-logotype-2x-image: '../images/sprites@2x.png';
$sc-bespin-logotype-2x: (510px, 0px, -510px, 0px, 260px, 24px, 770px, 916px, '../images/sprites@2x.png', 'sc-bespin-logotype@2x', );
$sc-bespin-cloud-2x-name: 'sc-bespin_cloud@2x';
$sc-bespin-cloud-2x-x: 104px;
$sc-bespin-cloud-2x-y: 0px;
$sc-bespin-cloud-2x-offset-x: -104px;
$sc-bespin-cloud-2x-offset-y: 0px;
$sc-bespin-cloud-2x-width: 46px;
$sc-bespin-cloud-2x-height: 752px;
$sc-bespin-cloud-2x-total-width: 770px;
$sc-bespin-cloud-2x-total-height: 916px;
$sc-bespin-cloud-2x-image: '../images/sprites@2x.png';
$sc-bespin-cloud-2x: (104px, 0px, -104px, 0px, 46px, 752px, 770px, 916px, '../images/sprites@2x.png', 'sc-bespin_cloud@2x', );
$sc-bespin-cloud-02-2x-name: 'sc-bespin_cloud_02@2x';
$sc-bespin-cloud-02-2x-x: 0px;
$sc-bespin-cloud-02-2x-y: 0px;
$sc-bespin-cloud-02-2x-offset-x: 0px;
$sc-bespin-cloud-02-2x-offset-y: 0px;
$sc-bespin-cloud-02-2x-width: 92px;
$sc-bespin-cloud-02-2x-height: 916px;
$sc-bespin-cloud-02-2x-total-width: 770px;
$sc-bespin-cloud-02-2x-total-height: 916px;
$sc-bespin-cloud-02-2x-image: '../images/sprites@2x.png';
$sc-bespin-cloud-02-2x: (0px, 0px, 0px, 0px, 92px, 916px, 770px, 916px, '../images/sprites@2x.png', 'sc-bespin_cloud_02@2x', );
$sc-btn-bookmark-2x-name: 'sc-btn_bookmark@2x';
$sc-btn-bookmark-2x-x: 646px;
$sc-btn-bookmark-2x-y: 216px;
$sc-btn-bookmark-2x-offset-x: -646px;
$sc-btn-bookmark-2x-offset-y: -216px;
$sc-btn-bookmark-2x-width: 34px;
$sc-btn-bookmark-2x-height: 42px;
$sc-btn-bookmark-2x-total-width: 770px;
$sc-btn-bookmark-2x-total-height: 916px;
$sc-btn-bookmark-2x-image: '../images/sprites@2x.png';
$sc-btn-bookmark-2x: (646px, 216px, -646px, -216px, 34px, 42px, 770px, 916px, '../images/sprites@2x.png', 'sc-btn_bookmark@2x', );
$sc-btn-bookmark-selected-2x-name: 'sc-btn_bookmark_selected@2x';
$sc-btn-bookmark-selected-2x-x: 736px;
$sc-btn-bookmark-selected-2x-y: 126px;
$sc-btn-bookmark-selected-2x-offset-x: -736px;
$sc-btn-bookmark-selected-2x-offset-y: -126px;
$sc-btn-bookmark-selected-2x-width: 34px;
$sc-btn-bookmark-selected-2x-height: 42px;
$sc-btn-bookmark-selected-2x-total-width: 770px;
$sc-btn-bookmark-selected-2x-total-height: 916px;
$sc-btn-bookmark-selected-2x-image: '../images/sprites@2x.png';
$sc-btn-bookmark-selected-2x: (736px, 126px, -736px, -126px, 34px, 42px, 770px, 916px, '../images/sprites@2x.png', 'sc-btn_bookmark_selected@2x', );
$sc-checked-2x-name: 'sc-checked@2x';
$sc-checked-2x-x: 606px;
$sc-checked-2x-y: 286px;
$sc-checked-2x-offset-x: -606px;
$sc-checked-2x-offset-y: -286px;
$sc-checked-2x-width: 34px;
$sc-checked-2x-height: 36px;
$sc-checked-2x-total-width: 770px;
$sc-checked-2x-total-height: 916px;
$sc-checked-2x-image: '../images/sprites@2x.png';
$sc-checked-2x: (606px, 286px, -606px, -286px, 34px, 36px, 770px, 916px, '../images/sprites@2x.png', 'sc-checked@2x', );
$sc-checked-disabled-2x-name: 'sc-checked_disabled@2x';
$sc-checked-disabled-2x-x: 556px;
$sc-checked-disabled-2x-y: 334px;
$sc-checked-disabled-2x-offset-x: -556px;
$sc-checked-disabled-2x-offset-y: -334px;
$sc-checked-disabled-2x-width: 34px;
$sc-checked-disabled-2x-height: 34px;
$sc-checked-disabled-2x-total-width: 770px;
$sc-checked-disabled-2x-total-height: 916px;
$sc-checked-disabled-2x-image: '../images/sprites@2x.png';
$sc-checked-disabled-2x: (556px, 334px, -556px, -334px, 34px, 34px, 770px, 916px, '../images/sprites@2x.png', 'sc-checked_disabled@2x', );
$sc-footer-cloud-2x-name: 'sc-footer_cloud@2x';
$sc-footer-cloud-2x-x: 162px;
$sc-footer-cloud-2x-y: 516px;
$sc-footer-cloud-2x-offset-x: -162px;
$sc-footer-cloud-2x-offset-y: -516px;
$sc-footer-cloud-2x-width: 82px;
$sc-footer-cloud-2x-height: 276px;
$sc-footer-cloud-2x-total-width: 770px;
$sc-footer-cloud-2x-total-height: 916px;
$sc-footer-cloud-2x-image: '../images/sprites@2x.png';
$sc-footer-cloud-2x: (162px, 516px, -162px, -516px, 82px, 276px, 770px, 916px, '../images/sprites@2x.png', 'sc-footer_cloud@2x', );
$sc-icon-aliyun-2x-name: 'sc-icon_aliyun@2x';
$sc-icon-aliyun-2x-x: 510px;
$sc-icon-aliyun-2x-y: 36px;
$sc-icon-aliyun-2x-offset-x: -510px;
$sc-icon-aliyun-2x-offset-y: -36px;
$sc-icon-aliyun-2x-width: 78px;
$sc-icon-aliyun-2x-height: 78px;
$sc-icon-aliyun-2x-total-width: 770px;
$sc-icon-aliyun-2x-total-height: 916px;
$sc-icon-aliyun-2x-image: '../images/sprites@2x.png';
$sc-icon-aliyun-2x: (510px, 36px, -510px, -36px, 78px, 78px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_aliyun@2x', );
$sc-icon-aws-2x-name: 'sc-icon_aws@2x';
$sc-icon-aws-2x-x: 510px;
$sc-icon-aws-2x-y: 126px;
$sc-icon-aws-2x-offset-x: -510px;
$sc-icon-aws-2x-offset-y: -126px;
$sc-icon-aws-2x-width: 78px;
$sc-icon-aws-2x-height: 78px;
$sc-icon-aws-2x-total-width: 770px;
$sc-icon-aws-2x-total-height: 916px;
$sc-icon-aws-2x-image: '../images/sprites@2x.png';
$sc-icon-aws-2x: (510px, 126px, -510px, -126px, 78px, 78px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_aws@2x', );
$sc-icon-azure-2x-name: 'sc-icon_azure@2x';
$sc-icon-azure-2x-x: 600px;
$sc-icon-azure-2x-y: 36px;
$sc-icon-azure-2x-offset-x: -600px;
$sc-icon-azure-2x-offset-y: -36px;
$sc-icon-azure-2x-width: 78px;
$sc-icon-azure-2x-height: 78px;
$sc-icon-azure-2x-total-width: 770px;
$sc-icon-azure-2x-total-height: 916px;
$sc-icon-azure-2x-image: '../images/sprites@2x.png';
$sc-icon-azure-2x: (600px, 36px, -600px, -36px, 78px, 78px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_azure@2x', );
$sc-icon-cloud-2x-name: 'sc-icon_cloud@2x';
$sc-icon-cloud-2x-x: 690px;
$sc-icon-cloud-2x-y: 36px;
$sc-icon-cloud-2x-offset-x: -690px;
$sc-icon-cloud-2x-offset-y: -36px;
$sc-icon-cloud-2x-width: 78px;
$sc-icon-cloud-2x-height: 78px;
$sc-icon-cloud-2x-total-width: 770px;
$sc-icon-cloud-2x-total-height: 916px;
$sc-icon-cloud-2x-image: '../images/sprites@2x.png';
$sc-icon-cloud-2x: (690px, 36px, -690px, -36px, 78px, 78px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_cloud@2x', );
$sc-icon-dot-2x-name: 'sc-icon_dot@2x';
$sc-icon-dot-2x-x: 740px;
$sc-icon-dot-2x-y: 216px;
$sc-icon-dot-2x-offset-x: -740px;
$sc-icon-dot-2x-offset-y: -216px;
$sc-icon-dot-2x-width: 16px;
$sc-icon-dot-2x-height: 16px;
$sc-icon-dot-2x-total-width: 770px;
$sc-icon-dot-2x-total-height: 916px;
$sc-icon-dot-2x-image: '../images/sprites@2x.png';
$sc-icon-dot-2x: (740px, 216px, -740px, -216px, 16px, 16px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_dot@2x', );
$sc-icon-minus-2x-name: 'sc-icon_minus@2x';
$sc-icon-minus-2x-x: 578px;
$sc-icon-minus-2x-y: 216px;
$sc-icon-minus-2x-offset-x: -578px;
$sc-icon-minus-2x-offset-y: -216px;
$sc-icon-minus-2x-width: 56px;
$sc-icon-minus-2x-height: 58px;
$sc-icon-minus-2x-total-width: 770px;
$sc-icon-minus-2x-total-height: 916px;
$sc-icon-minus-2x-image: '../images/sprites@2x.png';
$sc-icon-minus-2x: (578px, 216px, -578px, -216px, 56px, 58px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_minus@2x', );
$sc-icon-minus-selected-2x-name: 'sc-icon_minus_selected@2x';
$sc-icon-minus-selected-2x-x: 600px;
$sc-icon-minus-selected-2x-y: 126px;
$sc-icon-minus-selected-2x-offset-x: -600px;
$sc-icon-minus-selected-2x-offset-y: -126px;
$sc-icon-minus-selected-2x-width: 56px;
$sc-icon-minus-selected-2x-height: 58px;
$sc-icon-minus-selected-2x-total-width: 770px;
$sc-icon-minus-selected-2x-total-height: 916px;
$sc-icon-minus-selected-2x-image: '../images/sprites@2x.png';
$sc-icon-minus-selected-2x: (600px, 126px, -600px, -126px, 56px, 58px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_minus_selected@2x', );
$sc-icon-plus-2x-name: 'sc-icon_plus@2x';
$sc-icon-plus-2x-x: 668px;
$sc-icon-plus-2x-y: 126px;
$sc-icon-plus-2x-offset-x: -668px;
$sc-icon-plus-2x-offset-y: -126px;
$sc-icon-plus-2x-width: 56px;
$sc-icon-plus-2x-height: 58px;
$sc-icon-plus-2x-total-width: 770px;
$sc-icon-plus-2x-total-height: 916px;
$sc-icon-plus-2x-image: '../images/sprites@2x.png';
$sc-icon-plus-2x: (668px, 126px, -668px, -126px, 56px, 58px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_plus@2x', );
$sc-icon-plus-selected-2x-name: 'sc-icon_plus_selected@2x';
$sc-icon-plus-selected-2x-x: 510px;
$sc-icon-plus-selected-2x-y: 216px;
$sc-icon-plus-selected-2x-offset-x: -510px;
$sc-icon-plus-selected-2x-offset-y: -216px;
$sc-icon-plus-selected-2x-width: 56px;
$sc-icon-plus-selected-2x-height: 58px;
$sc-icon-plus-selected-2x-total-width: 770px;
$sc-icon-plus-selected-2x-total-height: 916px;
$sc-icon-plus-selected-2x-image: '../images/sprites@2x.png';
$sc-icon-plus-selected-2x: (510px, 216px, -510px, -216px, 56px, 58px, 770px, 916px, '../images/sprites@2x.png', 'sc-icon_plus_selected@2x', );
$sc-indeterminate-2x-name: 'sc-indeterminate@2x';
$sc-indeterminate-2x-x: 652px;
$sc-indeterminate-2x-y: 286px;
$sc-indeterminate-2x-offset-x: -652px;
$sc-indeterminate-2x-offset-y: -286px;
$sc-indeterminate-2x-width: 34px;
$sc-indeterminate-2x-height: 36px;
$sc-indeterminate-2x-total-width: 770px;
$sc-indeterminate-2x-total-height: 916px;
$sc-indeterminate-2x-image: '../images/sprites@2x.png';
$sc-indeterminate-2x: (652px, 286px, -652px, -286px, 34px, 36px, 770px, 916px, '../images/sprites@2x.png', 'sc-indeterminate@2x', );
$sc-metering-feature-01-2x-name: 'sc-metering_feature_01@2x';
$sc-metering-feature-01-2x-x: 162px;
$sc-metering-feature-01-2x-y: 344px;
$sc-metering-feature-01-2x-offset-x: -162px;
$sc-metering-feature-01-2x-offset-y: -344px;
$sc-metering-feature-01-2x-width: 152px;
$sc-metering-feature-01-2x-height: 160px;
$sc-metering-feature-01-2x-total-width: 770px;
$sc-metering-feature-01-2x-total-height: 916px;
$sc-metering-feature-01-2x-image: '../images/sprites@2x.png';
$sc-metering-feature-01-2x: (162px, 344px, -162px, -344px, 152px, 160px, 770px, 916px, '../images/sprites@2x.png', 'sc-metering_feature_01@2x', );
$sc-metering-feature-02-2x-name: 'sc-metering_feature_02@2x';
$sc-metering-feature-02-2x-x: 360px;
$sc-metering-feature-02-2x-y: 688px;
$sc-metering-feature-02-2x-offset-x: -360px;
$sc-metering-feature-02-2x-offset-y: -688px;
$sc-metering-feature-02-2x-width: 52px;
$sc-metering-feature-02-2x-height: 160px;
$sc-metering-feature-02-2x-total-width: 770px;
$sc-metering-feature-02-2x-total-height: 916px;
$sc-metering-feature-02-2x-image: '../images/sprites@2x.png';
$sc-metering-feature-02-2x: (360px, 688px, -360px, -688px, 52px, 160px, 770px, 916px, '../images/sprites@2x.png', 'sc-metering_feature_02@2x', );
$sc-metering-feature-03-2x-name: 'sc-metering_feature_03@2x';
$sc-metering-feature-03-2x-x: 360px;
$sc-metering-feature-03-2x-y: 516px;
$sc-metering-feature-03-2x-offset-x: -360px;
$sc-metering-feature-03-2x-offset-y: -516px;
$sc-metering-feature-03-2x-width: 102px;
$sc-metering-feature-03-2x-height: 160px;
$sc-metering-feature-03-2x-total-width: 770px;
$sc-metering-feature-03-2x-total-height: 916px;
$sc-metering-feature-03-2x-image: '../images/sprites@2x.png';
$sc-metering-feature-03-2x: (360px, 516px, -360px, -516px, 102px, 160px, 770px, 916px, '../images/sprites@2x.png', 'sc-metering_feature_03@2x', );
$sc-monitoring-feature-01-2x-name: 'sc-monitoring_feature_01@2x';
$sc-monitoring-feature-01-2x-x: 360px;
$sc-monitoring-feature-01-2x-y: 0px;
$sc-monitoring-feature-01-2x-offset-x: -360px;
$sc-monitoring-feature-01-2x-offset-y: 0px;
$sc-monitoring-feature-01-2x-width: 138px;
$sc-monitoring-feature-01-2x-height: 160px;
$sc-monitoring-feature-01-2x-total-width: 770px;
$sc-monitoring-feature-01-2x-total-height: 916px;
$sc-monitoring-feature-01-2x-image: '../images/sprites@2x.png';
$sc-monitoring-feature-01-2x: (360px, 0px, -360px, 0px, 138px, 160px, 770px, 916px, '../images/sprites@2x.png', 'sc-monitoring_feature_01@2x', );
$sc-monitoring-feature-02-2x-name: 'sc-monitoring_feature_02@2x';
$sc-monitoring-feature-02-2x-x: 360px;
$sc-monitoring-feature-02-2x-y: 172px;
$sc-monitoring-feature-02-2x-offset-x: -360px;
$sc-monitoring-feature-02-2x-offset-y: -172px;
$sc-monitoring-feature-02-2x-width: 122px;
$sc-monitoring-feature-02-2x-height: 160px;
$sc-monitoring-feature-02-2x-total-width: 770px;
$sc-monitoring-feature-02-2x-total-height: 916px;
$sc-monitoring-feature-02-2x-image: '../images/sprites@2x.png';
$sc-monitoring-feature-02-2x: (360px, 172px, -360px, -172px, 122px, 160px, 770px, 916px, '../images/sprites@2x.png', 'sc-monitoring_feature_02@2x', );
$sc-monitoring-feature-03-2x-name: 'sc-monitoring_feature_03@2x';
$sc-monitoring-feature-03-2x-x: 360px;
$sc-monitoring-feature-03-2x-y: 344px;
$sc-monitoring-feature-03-2x-offset-x: -360px;
$sc-monitoring-feature-03-2x-offset-y: -344px;
$sc-monitoring-feature-03-2x-width: 120px;
$sc-monitoring-feature-03-2x-height: 160px;
$sc-monitoring-feature-03-2x-total-width: 770px;
$sc-monitoring-feature-03-2x-total-height: 916px;
$sc-monitoring-feature-03-2x-image: '../images/sprites@2x.png';
$sc-monitoring-feature-03-2x: (360px, 344px, -360px, -344px, 120px, 160px, 770px, 916px, '../images/sprites@2x.png', 'sc-monitoring_feature_03@2x', );
$sc-pending-2x-name: 'sc-pending@2x';
$sc-pending-2x-x: 558px;
$sc-pending-2x-y: 286px;
$sc-pending-2x-offset-x: -558px;
$sc-pending-2x-offset-y: -286px;
$sc-pending-2x-width: 36px;
$sc-pending-2x-height: 36px;
$sc-pending-2x-total-width: 770px;
$sc-pending-2x-total-height: 916px;
$sc-pending-2x-image: '../images/sprites@2x.png';
$sc-pending-2x: (558px, 286px, -558px, -286px, 36px, 36px, 770px, 916px, '../images/sprites@2x.png', 'sc-pending@2x', );
$sc-rchecked-2x-name: 'sc-rchecked@2x';
$sc-rchecked-2x-x: 602px;
$sc-rchecked-2x-y: 334px;
$sc-rchecked-2x-offset-x: -602px;
$sc-rchecked-2x-offset-y: -334px;
$sc-rchecked-2x-width: 34px;
$sc-rchecked-2x-height: 34px;
$sc-rchecked-2x-total-width: 770px;
$sc-rchecked-2x-total-height: 916px;
$sc-rchecked-2x-image: '../images/sprites@2x.png';
$sc-rchecked-2x: (602px, 334px, -602px, -334px, 34px, 34px, 770px, 916px, '../images/sprites@2x.png', 'sc-rchecked@2x', );
$sc-rchecked-disabled-2x-name: 'sc-rchecked_disabled@2x';
$sc-rchecked-disabled-2x-x: 698px;
$sc-rchecked-disabled-2x-y: 286px;
$sc-rchecked-disabled-2x-offset-x: -698px;
$sc-rchecked-disabled-2x-offset-y: -286px;
$sc-rchecked-disabled-2x-width: 34px;
$sc-rchecked-disabled-2x-height: 34px;
$sc-rchecked-disabled-2x-total-width: 770px;
$sc-rchecked-disabled-2x-total-height: 916px;
$sc-rchecked-disabled-2x-image: '../images/sprites@2x.png';
$sc-rchecked-disabled-2x: (698px, 286px, -698px, -286px, 34px, 34px, 770px, 916px, '../images/sprites@2x.png', 'sc-rchecked_disabled@2x', );
$sc-runchecked-2x-name: 'sc-runchecked@2x';
$sc-runchecked-2x-x: 510px;
$sc-runchecked-2x-y: 334px;
$sc-runchecked-2x-offset-x: -510px;
$sc-runchecked-2x-offset-y: -334px;
$sc-runchecked-2x-width: 34px;
$sc-runchecked-2x-height: 34px;
$sc-runchecked-2x-total-width: 770px;
$sc-runchecked-2x-total-height: 916px;
$sc-runchecked-2x-image: '../images/sprites@2x.png';
$sc-runchecked-2x: (510px, 334px, -510px, -334px, 34px, 34px, 770px, 916px, '../images/sprites@2x.png', 'sc-runchecked@2x', );
$sc-sort-asc-2x-name: 'sc-sort_asc@2x';
$sc-sort-asc-2x-x: 648px;
$sc-sort-asc-2x-y: 334px;
$sc-sort-asc-2x-offset-x: -648px;
$sc-sort-asc-2x-offset-y: -334px;
$sc-sort-asc-2x-width: 34px;
$sc-sort-asc-2x-height: 20px;
$sc-sort-asc-2x-total-width: 770px;
$sc-sort-asc-2x-total-height: 916px;
$sc-sort-asc-2x-image: '../images/sprites@2x.png';
$sc-sort-asc-2x: (648px, 334px, -648px, -334px, 34px, 20px, 770px, 916px, '../images/sprites@2x.png', 'sc-sort_asc@2x', );
$sc-sort-desc-2x-name: 'sc-sort_desc@2x';
$sc-sort-desc-2x-x: 694px;
$sc-sort-desc-2x-y: 334px;
$sc-sort-desc-2x-offset-x: -694px;
$sc-sort-desc-2x-offset-y: -334px;
$sc-sort-desc-2x-width: 34px;
$sc-sort-desc-2x-height: 20px;
$sc-sort-desc-2x-total-width: 770px;
$sc-sort-desc-2x-total-height: 916px;
$sc-sort-desc-2x-image: '../images/sprites@2x.png';
$sc-sort-desc-2x: (694px, 334px, -694px, -334px, 34px, 20px, 770px, 916px, '../images/sprites@2x.png', 'sc-sort_desc@2x', );
$sc-sort-none-2x-name: 'sc-sort_none@2x';
$sc-sort-none-2x-x: 510px;
$sc-sort-none-2x-y: 380px;
$sc-sort-none-2x-offset-x: -510px;
$sc-sort-none-2x-offset-y: -380px;
$sc-sort-none-2x-width: 34px;
$sc-sort-none-2x-height: 20px;
$sc-sort-none-2x-total-width: 770px;
$sc-sort-none-2x-total-height: 916px;
$sc-sort-none-2x-image: '../images/sprites@2x.png';
$sc-sort-none-2x: (510px, 380px, -510px, -380px, 34px, 20px, 770px, 916px, '../images/sprites@2x.png', 'sc-sort_none@2x', );
$sc-unchecked-2x-name: 'sc-unchecked@2x';
$sc-unchecked-2x-x: 510px;
$sc-unchecked-2x-y: 286px;
$sc-unchecked-2x-offset-x: -510px;
$sc-unchecked-2x-offset-y: -286px;
$sc-unchecked-2x-width: 36px;
$sc-unchecked-2x-height: 36px;
$sc-unchecked-2x-total-width: 770px;
$sc-unchecked-2x-total-height: 916px;
$sc-unchecked-2x-image: '../images/sprites@2x.png';
$sc-unchecked-2x: (510px, 286px, -510px, -286px, 36px, 36px, 770px, 916px, '../images/sprites@2x.png', 'sc-unchecked@2x', );
$sc-unchecked-disabled-2x-name: 'sc-unchecked_disabled@2x';
$sc-unchecked-disabled-2x-x: 692px;
$sc-unchecked-disabled-2x-y: 216px;
$sc-unchecked-disabled-2x-offset-x: -692px;
$sc-unchecked-disabled-2x-offset-y: -216px;
$sc-unchecked-disabled-2x-width: 36px;
$sc-unchecked-disabled-2x-height: 36px;
$sc-unchecked-disabled-2x-total-width: 770px;
$sc-unchecked-disabled-2x-total-height: 916px;
$sc-unchecked-disabled-2x-image: '../images/sprites@2x.png';
$sc-unchecked-disabled-2x: (692px, 216px, -692px, -216px, 36px, 36px, 770px, 916px, '../images/sprites@2x.png', 'sc-unchecked_disabled@2x', );
$spritesheet-width: 385px;
$spritesheet-height: 458px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($sc-asset-feature-01, $sc-asset-feature-02, $sc-bespin-logotype, $sc-bespin-cloud, $sc-bespin-cloud-02, $sc-btn-bookmark, $sc-btn-bookmark-selected, $sc-checked, $sc-checked-disabled, $sc-footer-cloud, $sc-icon-aliyun, $sc-icon-aws, $sc-icon-azure, $sc-icon-cloud, $sc-icon-dot, $sc-icon-minus, $sc-icon-minus-selected, $sc-icon-plus, $sc-icon-plus-selected, $sc-indeterminate, $sc-metering-feature-01, $sc-metering-feature-02, $sc-metering-feature-03, $sc-monitoring-feature-01, $sc-monitoring-feature-02, $sc-monitoring-feature-03, $sc-pending, $sc-rchecked, $sc-rchecked-disabled, $sc-runchecked, $sc-sort-asc, $sc-sort-desc, $sc-sort-none, $sc-unchecked, $sc-unchecked-disabled, );
$spritesheet: (385px, 458px, '../images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 770px;
$retina-spritesheet-height: 916px;
$retina-spritesheet-image: '../images/sprites@2x.png';
$retina-spritesheet-sprites: ($sc-asset-feature-01-2x, $sc-asset-feature-02-2x, $sc-bespin-logotype-2x, $sc-bespin-cloud-2x, $sc-bespin-cloud-02-2x, $sc-btn-bookmark-2x, $sc-btn-bookmark-selected-2x, $sc-checked-2x, $sc-checked-disabled-2x, $sc-footer-cloud-2x, $sc-icon-aliyun-2x, $sc-icon-aws-2x, $sc-icon-azure-2x, $sc-icon-cloud-2x, $sc-icon-dot-2x, $sc-icon-minus-2x, $sc-icon-minus-selected-2x, $sc-icon-plus-2x, $sc-icon-plus-selected-2x, $sc-indeterminate-2x, $sc-metering-feature-01-2x, $sc-metering-feature-02-2x, $sc-metering-feature-03-2x, $sc-monitoring-feature-01-2x, $sc-monitoring-feature-02-2x, $sc-monitoring-feature-03-2x, $sc-pending-2x, $sc-rchecked-2x, $sc-rchecked-disabled-2x, $sc-runchecked-2x, $sc-sort-asc-2x, $sc-sort-desc-2x, $sc-sort-none-2x, $sc-unchecked-2x, $sc-unchecked-disabled-2x, );
$retina-spritesheet: (770px, 916px, '../images/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sc-asset-feature-01-group-name: 'sc-asset_feature_01';
$sc-asset-feature-01-group: ('sc-asset_feature_01', $sc-asset-feature-01, $sc-asset-feature-01-2x, );
$sc-asset-feature-02-group-name: 'sc-asset_feature_02';
$sc-asset-feature-02-group: ('sc-asset_feature_02', $sc-asset-feature-02, $sc-asset-feature-02-2x, );
$sc-bespin-logotype-group-name: 'sc-bespin-logotype';
$sc-bespin-logotype-group: ('sc-bespin-logotype', $sc-bespin-logotype, $sc-bespin-logotype-2x, );
$sc-bespin-cloud-group-name: 'sc-bespin_cloud';
$sc-bespin-cloud-group: ('sc-bespin_cloud', $sc-bespin-cloud, $sc-bespin-cloud-2x, );
$sc-bespin-cloud-02-group-name: 'sc-bespin_cloud_02';
$sc-bespin-cloud-02-group: ('sc-bespin_cloud_02', $sc-bespin-cloud-02, $sc-bespin-cloud-02-2x, );
$sc-btn-bookmark-group-name: 'sc-btn_bookmark';
$sc-btn-bookmark-group: ('sc-btn_bookmark', $sc-btn-bookmark, $sc-btn-bookmark-2x, );
$sc-btn-bookmark-selected-group-name: 'sc-btn_bookmark_selected';
$sc-btn-bookmark-selected-group: ('sc-btn_bookmark_selected', $sc-btn-bookmark-selected, $sc-btn-bookmark-selected-2x, );
$sc-checked-group-name: 'sc-checked';
$sc-checked-group: ('sc-checked', $sc-checked, $sc-checked-2x, );
$sc-checked-disabled-group-name: 'sc-checked_disabled';
$sc-checked-disabled-group: ('sc-checked_disabled', $sc-checked-disabled, $sc-checked-disabled-2x, );
$sc-footer-cloud-group-name: 'sc-footer_cloud';
$sc-footer-cloud-group: ('sc-footer_cloud', $sc-footer-cloud, $sc-footer-cloud-2x, );
$sc-icon-aliyun-group-name: 'sc-icon_aliyun';
$sc-icon-aliyun-group: ('sc-icon_aliyun', $sc-icon-aliyun, $sc-icon-aliyun-2x, );
$sc-icon-aws-group-name: 'sc-icon_aws';
$sc-icon-aws-group: ('sc-icon_aws', $sc-icon-aws, $sc-icon-aws-2x, );
$sc-icon-azure-group-name: 'sc-icon_azure';
$sc-icon-azure-group: ('sc-icon_azure', $sc-icon-azure, $sc-icon-azure-2x, );
$sc-icon-cloud-group-name: 'sc-icon_cloud';
$sc-icon-cloud-group: ('sc-icon_cloud', $sc-icon-cloud, $sc-icon-cloud-2x, );
$sc-icon-dot-group-name: 'sc-icon_dot';
$sc-icon-dot-group: ('sc-icon_dot', $sc-icon-dot, $sc-icon-dot-2x, );
$sc-icon-minus-group-name: 'sc-icon_minus';
$sc-icon-minus-group: ('sc-icon_minus', $sc-icon-minus, $sc-icon-minus-2x, );
$sc-icon-minus-selected-group-name: 'sc-icon_minus_selected';
$sc-icon-minus-selected-group: ('sc-icon_minus_selected', $sc-icon-minus-selected, $sc-icon-minus-selected-2x, );
$sc-icon-plus-group-name: 'sc-icon_plus';
$sc-icon-plus-group: ('sc-icon_plus', $sc-icon-plus, $sc-icon-plus-2x, );
$sc-icon-plus-selected-group-name: 'sc-icon_plus_selected';
$sc-icon-plus-selected-group: ('sc-icon_plus_selected', $sc-icon-plus-selected, $sc-icon-plus-selected-2x, );
$sc-indeterminate-group-name: 'sc-indeterminate';
$sc-indeterminate-group: ('sc-indeterminate', $sc-indeterminate, $sc-indeterminate-2x, );
$sc-metering-feature-01-group-name: 'sc-metering_feature_01';
$sc-metering-feature-01-group: ('sc-metering_feature_01', $sc-metering-feature-01, $sc-metering-feature-01-2x, );
$sc-metering-feature-02-group-name: 'sc-metering_feature_02';
$sc-metering-feature-02-group: ('sc-metering_feature_02', $sc-metering-feature-02, $sc-metering-feature-02-2x, );
$sc-metering-feature-03-group-name: 'sc-metering_feature_03';
$sc-metering-feature-03-group: ('sc-metering_feature_03', $sc-metering-feature-03, $sc-metering-feature-03-2x, );
$sc-monitoring-feature-01-group-name: 'sc-monitoring_feature_01';
$sc-monitoring-feature-01-group: ('sc-monitoring_feature_01', $sc-monitoring-feature-01, $sc-monitoring-feature-01-2x, );
$sc-monitoring-feature-02-group-name: 'sc-monitoring_feature_02';
$sc-monitoring-feature-02-group: ('sc-monitoring_feature_02', $sc-monitoring-feature-02, $sc-monitoring-feature-02-2x, );
$sc-monitoring-feature-03-group-name: 'sc-monitoring_feature_03';
$sc-monitoring-feature-03-group: ('sc-monitoring_feature_03', $sc-monitoring-feature-03, $sc-monitoring-feature-03-2x, );
$sc-pending-group-name: 'sc-pending';
$sc-pending-group: ('sc-pending', $sc-pending, $sc-pending-2x, );
$sc-rchecked-group-name: 'sc-rchecked';
$sc-rchecked-group: ('sc-rchecked', $sc-rchecked, $sc-rchecked-2x, );
$sc-rchecked-disabled-group-name: 'sc-rchecked_disabled';
$sc-rchecked-disabled-group: ('sc-rchecked_disabled', $sc-rchecked-disabled, $sc-rchecked-disabled-2x, );
$sc-runchecked-group-name: 'sc-runchecked';
$sc-runchecked-group: ('sc-runchecked', $sc-runchecked, $sc-runchecked-2x, );
$sc-sort-asc-group-name: 'sc-sort_asc';
$sc-sort-asc-group: ('sc-sort_asc', $sc-sort-asc, $sc-sort-asc-2x, );
$sc-sort-desc-group-name: 'sc-sort_desc';
$sc-sort-desc-group: ('sc-sort_desc', $sc-sort-desc, $sc-sort-desc-2x, );
$sc-sort-none-group-name: 'sc-sort_none';
$sc-sort-none-group: ('sc-sort_none', $sc-sort-none, $sc-sort-none-2x, );
$sc-unchecked-group-name: 'sc-unchecked';
$sc-unchecked-group: ('sc-unchecked', $sc-unchecked, $sc-unchecked-2x, );
$sc-unchecked-disabled-group-name: 'sc-unchecked_disabled';
$sc-unchecked-disabled-group: ('sc-unchecked_disabled', $sc-unchecked-disabled, $sc-unchecked-disabled-2x, );
$retina-groups: ($sc-asset-feature-01-group, $sc-asset-feature-02-group, $sc-bespin-logotype-group, $sc-bespin-cloud-group, $sc-bespin-cloud-02-group, $sc-btn-bookmark-group, $sc-btn-bookmark-selected-group, $sc-checked-group, $sc-checked-disabled-group, $sc-footer-cloud-group, $sc-icon-aliyun-group, $sc-icon-aws-group, $sc-icon-azure-group, $sc-icon-cloud-group, $sc-icon-dot-group, $sc-icon-minus-group, $sc-icon-minus-selected-group, $sc-icon-plus-group, $sc-icon-plus-selected-group, $sc-indeterminate-group, $sc-metering-feature-01-group, $sc-metering-feature-02-group, $sc-metering-feature-03-group, $sc-monitoring-feature-01-group, $sc-monitoring-feature-02-group, $sc-monitoring-feature-03-group, $sc-pending-group, $sc-rchecked-group, $sc-rchecked-disabled-group, $sc-runchecked-group, $sc-sort-asc-group, $sc-sort-desc-group, $sc-sort-none-group, $sc-unchecked-group, $sc-unchecked-disabled-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
