/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sc-bespin-logotype-name: 'sc-bespin-logotype';
$sc-bespin-logotype-x: 0px;
$sc-bespin-logotype-y: 0px;
$sc-bespin-logotype-offset-x: 0px;
$sc-bespin-logotype-offset-y: 0px;
$sc-bespin-logotype-width: 173px;
$sc-bespin-logotype-height: 16px;
$sc-bespin-logotype-total-width: 173px;
$sc-bespin-logotype-total-height: 64px;
$sc-bespin-logotype-image: '../images/sprites.png';
$sc-bespin-logotype: (0px, 0px, 0px, 0px, 173px, 16px, 173px, 64px, '../images/sprites.png', 'sc-bespin-logotype', );
$sc-checked-name: 'sc-checked';
$sc-checked-x: 0px;
$sc-checked-y: 22px;
$sc-checked-offset-x: 0px;
$sc-checked-offset-y: -22px;
$sc-checked-width: 23px;
$sc-checked-height: 23px;
$sc-checked-total-width: 173px;
$sc-checked-total-height: 64px;
$sc-checked-image: '../images/sprites.png';
$sc-checked: (0px, 22px, 0px, -22px, 23px, 23px, 173px, 64px, '../images/sprites.png', 'sc-checked', );
$sc-pending-name: 'sc-pending';
$sc-pending-x: 29px;
$sc-pending-y: 22px;
$sc-pending-offset-x: -29px;
$sc-pending-offset-y: -22px;
$sc-pending-width: 23px;
$sc-pending-height: 23px;
$sc-pending-total-width: 173px;
$sc-pending-total-height: 64px;
$sc-pending-image: '../images/sprites.png';
$sc-pending: (29px, 22px, -29px, -22px, 23px, 23px, 173px, 64px, '../images/sprites.png', 'sc-pending', );
$sc-rchecked-name: 'sc-rchecked';
$sc-rchecked-x: 58px;
$sc-rchecked-y: 22px;
$sc-rchecked-offset-x: -58px;
$sc-rchecked-offset-y: -22px;
$sc-rchecked-width: 23px;
$sc-rchecked-height: 23px;
$sc-rchecked-total-width: 173px;
$sc-rchecked-total-height: 64px;
$sc-rchecked-image: '../images/sprites.png';
$sc-rchecked: (58px, 22px, -58px, -22px, 23px, 23px, 173px, 64px, '../images/sprites.png', 'sc-rchecked', );
$sc-runchecked-name: 'sc-runchecked';
$sc-runchecked-x: 87px;
$sc-runchecked-y: 22px;
$sc-runchecked-offset-x: -87px;
$sc-runchecked-offset-y: -22px;
$sc-runchecked-width: 23px;
$sc-runchecked-height: 23px;
$sc-runchecked-total-width: 173px;
$sc-runchecked-total-height: 64px;
$sc-runchecked-image: '../images/sprites.png';
$sc-runchecked: (87px, 22px, -87px, -22px, 23px, 23px, 173px, 64px, '../images/sprites.png', 'sc-runchecked', );
$sc-sort-asc-name: 'sc-sort_asc';
$sc-sort-asc-x: 145px;
$sc-sort-asc-y: 22px;
$sc-sort-asc-offset-x: -145px;
$sc-sort-asc-offset-y: -22px;
$sc-sort-asc-width: 22px;
$sc-sort-asc-height: 13px;
$sc-sort-asc-total-width: 173px;
$sc-sort-asc-total-height: 64px;
$sc-sort-asc-image: '../images/sprites.png';
$sc-sort-asc: (145px, 22px, -145px, -22px, 22px, 13px, 173px, 64px, '../images/sprites.png', 'sc-sort_asc', );
$sc-sort-desc-name: 'sc-sort_desc';
$sc-sort-desc-x: 0px;
$sc-sort-desc-y: 51px;
$sc-sort-desc-offset-x: 0px;
$sc-sort-desc-offset-y: -51px;
$sc-sort-desc-width: 22px;
$sc-sort-desc-height: 13px;
$sc-sort-desc-total-width: 173px;
$sc-sort-desc-total-height: 64px;
$sc-sort-desc-image: '../images/sprites.png';
$sc-sort-desc: (0px, 51px, 0px, -51px, 22px, 13px, 173px, 64px, '../images/sprites.png', 'sc-sort_desc', );
$sc-sort-none-name: 'sc-sort_none';
$sc-sort-none-x: 28px;
$sc-sort-none-y: 51px;
$sc-sort-none-offset-x: -28px;
$sc-sort-none-offset-y: -51px;
$sc-sort-none-width: 22px;
$sc-sort-none-height: 13px;
$sc-sort-none-total-width: 173px;
$sc-sort-none-total-height: 64px;
$sc-sort-none-image: '../images/sprites.png';
$sc-sort-none: (28px, 51px, -28px, -51px, 22px, 13px, 173px, 64px, '../images/sprites.png', 'sc-sort_none', );
$sc-unchecked-name: 'sc-unchecked';
$sc-unchecked-x: 116px;
$sc-unchecked-y: 22px;
$sc-unchecked-offset-x: -116px;
$sc-unchecked-offset-y: -22px;
$sc-unchecked-width: 23px;
$sc-unchecked-height: 23px;
$sc-unchecked-total-width: 173px;
$sc-unchecked-total-height: 64px;
$sc-unchecked-image: '../images/sprites.png';
$sc-unchecked: (116px, 22px, -116px, -22px, 23px, 23px, 173px, 64px, '../images/sprites.png', 'sc-unchecked', );
$sc-bespin-logotype-2x-name: 'sc-bespin-logotype@2x';
$sc-bespin-logotype-2x-x: 0px;
$sc-bespin-logotype-2x-y: 0px;
$sc-bespin-logotype-2x-offset-x: 0px;
$sc-bespin-logotype-2x-offset-y: 0px;
$sc-bespin-logotype-2x-width: 346px;
$sc-bespin-logotype-2x-height: 32px;
$sc-bespin-logotype-2x-total-width: 346px;
$sc-bespin-logotype-2x-total-height: 128px;
$sc-bespin-logotype-2x-image: '../images/sprites@2x.png';
$sc-bespin-logotype-2x: (0px, 0px, 0px, 0px, 346px, 32px, 346px, 128px, '../images/sprites@2x.png', 'sc-bespin-logotype@2x', );
$sc-checked-2x-name: 'sc-checked@2x';
$sc-checked-2x-x: 0px;
$sc-checked-2x-y: 44px;
$sc-checked-2x-offset-x: 0px;
$sc-checked-2x-offset-y: -44px;
$sc-checked-2x-width: 46px;
$sc-checked-2x-height: 46px;
$sc-checked-2x-total-width: 346px;
$sc-checked-2x-total-height: 128px;
$sc-checked-2x-image: '../images/sprites@2x.png';
$sc-checked-2x: (0px, 44px, 0px, -44px, 46px, 46px, 346px, 128px, '../images/sprites@2x.png', 'sc-checked@2x', );
$sc-pending-2x-name: 'sc-pending@2x';
$sc-pending-2x-x: 58px;
$sc-pending-2x-y: 44px;
$sc-pending-2x-offset-x: -58px;
$sc-pending-2x-offset-y: -44px;
$sc-pending-2x-width: 46px;
$sc-pending-2x-height: 46px;
$sc-pending-2x-total-width: 346px;
$sc-pending-2x-total-height: 128px;
$sc-pending-2x-image: '../images/sprites@2x.png';
$sc-pending-2x: (58px, 44px, -58px, -44px, 46px, 46px, 346px, 128px, '../images/sprites@2x.png', 'sc-pending@2x', );
$sc-rchecked-2x-name: 'sc-rchecked@2x';
$sc-rchecked-2x-x: 116px;
$sc-rchecked-2x-y: 44px;
$sc-rchecked-2x-offset-x: -116px;
$sc-rchecked-2x-offset-y: -44px;
$sc-rchecked-2x-width: 46px;
$sc-rchecked-2x-height: 46px;
$sc-rchecked-2x-total-width: 346px;
$sc-rchecked-2x-total-height: 128px;
$sc-rchecked-2x-image: '../images/sprites@2x.png';
$sc-rchecked-2x: (116px, 44px, -116px, -44px, 46px, 46px, 346px, 128px, '../images/sprites@2x.png', 'sc-rchecked@2x', );
$sc-runchecked-2x-name: 'sc-runchecked@2x';
$sc-runchecked-2x-x: 174px;
$sc-runchecked-2x-y: 44px;
$sc-runchecked-2x-offset-x: -174px;
$sc-runchecked-2x-offset-y: -44px;
$sc-runchecked-2x-width: 46px;
$sc-runchecked-2x-height: 46px;
$sc-runchecked-2x-total-width: 346px;
$sc-runchecked-2x-total-height: 128px;
$sc-runchecked-2x-image: '../images/sprites@2x.png';
$sc-runchecked-2x: (174px, 44px, -174px, -44px, 46px, 46px, 346px, 128px, '../images/sprites@2x.png', 'sc-runchecked@2x', );
$sc-sort-asc-2x-name: 'sc-sort_asc@2x';
$sc-sort-asc-2x-x: 290px;
$sc-sort-asc-2x-y: 44px;
$sc-sort-asc-2x-offset-x: -290px;
$sc-sort-asc-2x-offset-y: -44px;
$sc-sort-asc-2x-width: 44px;
$sc-sort-asc-2x-height: 26px;
$sc-sort-asc-2x-total-width: 346px;
$sc-sort-asc-2x-total-height: 128px;
$sc-sort-asc-2x-image: '../images/sprites@2x.png';
$sc-sort-asc-2x: (290px, 44px, -290px, -44px, 44px, 26px, 346px, 128px, '../images/sprites@2x.png', 'sc-sort_asc@2x', );
$sc-sort-desc-2x-name: 'sc-sort_desc@2x';
$sc-sort-desc-2x-x: 0px;
$sc-sort-desc-2x-y: 102px;
$sc-sort-desc-2x-offset-x: 0px;
$sc-sort-desc-2x-offset-y: -102px;
$sc-sort-desc-2x-width: 44px;
$sc-sort-desc-2x-height: 26px;
$sc-sort-desc-2x-total-width: 346px;
$sc-sort-desc-2x-total-height: 128px;
$sc-sort-desc-2x-image: '../images/sprites@2x.png';
$sc-sort-desc-2x: (0px, 102px, 0px, -102px, 44px, 26px, 346px, 128px, '../images/sprites@2x.png', 'sc-sort_desc@2x', );
$sc-sort-none-2x-name: 'sc-sort_none@2x';
$sc-sort-none-2x-x: 56px;
$sc-sort-none-2x-y: 102px;
$sc-sort-none-2x-offset-x: -56px;
$sc-sort-none-2x-offset-y: -102px;
$sc-sort-none-2x-width: 44px;
$sc-sort-none-2x-height: 26px;
$sc-sort-none-2x-total-width: 346px;
$sc-sort-none-2x-total-height: 128px;
$sc-sort-none-2x-image: '../images/sprites@2x.png';
$sc-sort-none-2x: (56px, 102px, -56px, -102px, 44px, 26px, 346px, 128px, '../images/sprites@2x.png', 'sc-sort_none@2x', );
$sc-unchecked-2x-name: 'sc-unchecked@2x';
$sc-unchecked-2x-x: 232px;
$sc-unchecked-2x-y: 44px;
$sc-unchecked-2x-offset-x: -232px;
$sc-unchecked-2x-offset-y: -44px;
$sc-unchecked-2x-width: 46px;
$sc-unchecked-2x-height: 46px;
$sc-unchecked-2x-total-width: 346px;
$sc-unchecked-2x-total-height: 128px;
$sc-unchecked-2x-image: '../images/sprites@2x.png';
$sc-unchecked-2x: (232px, 44px, -232px, -44px, 46px, 46px, 346px, 128px, '../images/sprites@2x.png', 'sc-unchecked@2x', );
$spritesheet-width: 173px;
$spritesheet-height: 64px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($sc-bespin-logotype, $sc-checked, $sc-pending, $sc-rchecked, $sc-runchecked, $sc-sort-asc, $sc-sort-desc, $sc-sort-none, $sc-unchecked, );
$spritesheet: (173px, 64px, '../images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 346px;
$retina-spritesheet-height: 128px;
$retina-spritesheet-image: '../images/sprites@2x.png';
$retina-spritesheet-sprites: ($sc-bespin-logotype-2x, $sc-checked-2x, $sc-pending-2x, $sc-rchecked-2x, $sc-runchecked-2x, $sc-sort-asc-2x, $sc-sort-desc-2x, $sc-sort-none-2x, $sc-unchecked-2x, );
$retina-spritesheet: (346px, 128px, '../images/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sc-bespin-logotype-group-name: 'sc-bespin-logotype';
$sc-bespin-logotype-group: ('sc-bespin-logotype', $sc-bespin-logotype, $sc-bespin-logotype-2x, );
$sc-checked-group-name: 'sc-checked';
$sc-checked-group: ('sc-checked', $sc-checked, $sc-checked-2x, );
$sc-pending-group-name: 'sc-pending';
$sc-pending-group: ('sc-pending', $sc-pending, $sc-pending-2x, );
$sc-rchecked-group-name: 'sc-rchecked';
$sc-rchecked-group: ('sc-rchecked', $sc-rchecked, $sc-rchecked-2x, );
$sc-runchecked-group-name: 'sc-runchecked';
$sc-runchecked-group: ('sc-runchecked', $sc-runchecked, $sc-runchecked-2x, );
$sc-sort-asc-group-name: 'sc-sort_asc';
$sc-sort-asc-group: ('sc-sort_asc', $sc-sort-asc, $sc-sort-asc-2x, );
$sc-sort-desc-group-name: 'sc-sort_desc';
$sc-sort-desc-group: ('sc-sort_desc', $sc-sort-desc, $sc-sort-desc-2x, );
$sc-sort-none-group-name: 'sc-sort_none';
$sc-sort-none-group: ('sc-sort_none', $sc-sort-none, $sc-sort-none-2x, );
$sc-unchecked-group-name: 'sc-unchecked';
$sc-unchecked-group: ('sc-unchecked', $sc-unchecked, $sc-unchecked-2x, );
$retina-groups: ($sc-bespin-logotype-group, $sc-checked-group, $sc-pending-group, $sc-rchecked-group, $sc-runchecked-group, $sc-sort-asc-group, $sc-sort-desc-group, $sc-sort-none-group, $sc-unchecked-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
