/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sc-bespin-logotype-name: 'sc-bespin-logotype';
$sc-bespin-logotype-x: 76px;
$sc-bespin-logotype-y: 0px;
$sc-bespin-logotype-offset-x: -76px;
$sc-bespin-logotype-offset-y: 0px;
$sc-bespin-logotype-width: 130px;
$sc-bespin-logotype-height: 12px;
$sc-bespin-logotype-total-width: 206px;
$sc-bespin-logotype-total-height: 376px;
$sc-bespin-logotype-image: '../images/sprites.png';
$sc-bespin-logotype: (76px, 0px, -76px, 0px, 130px, 12px, 206px, 376px, '../images/sprites.png', 'sc-bespin-logotype', );
$sc-bespin-cloud-name: 'sc-bespin_cloud';
$sc-bespin-cloud-x: 0px;
$sc-bespin-cloud-y: 0px;
$sc-bespin-cloud-offset-x: 0px;
$sc-bespin-cloud-offset-y: 0px;
$sc-bespin-cloud-width: 23px;
$sc-bespin-cloud-height: 376px;
$sc-bespin-cloud-total-width: 206px;
$sc-bespin-cloud-total-height: 376px;
$sc-bespin-cloud-image: '../images/sprites.png';
$sc-bespin-cloud: (0px, 0px, 0px, 0px, 23px, 376px, 206px, 376px, '../images/sprites.png', 'sc-bespin_cloud', );
$sc-btn-bookmark-name: 'sc-btn_bookmark';
$sc-btn-bookmark-x: 144px;
$sc-btn-bookmark-y: 108px;
$sc-btn-bookmark-offset-x: -144px;
$sc-btn-bookmark-offset-y: -108px;
$sc-btn-bookmark-width: 17px;
$sc-btn-bookmark-height: 21px;
$sc-btn-bookmark-total-width: 206px;
$sc-btn-bookmark-total-height: 376px;
$sc-btn-bookmark-image: '../images/sprites.png';
$sc-btn-bookmark: (144px, 108px, -144px, -108px, 17px, 21px, 206px, 376px, '../images/sprites.png', 'sc-btn_bookmark', );
$sc-btn-bookmark-selected-name: 'sc-btn_bookmark_selected';
$sc-btn-bookmark-selected-x: 189px;
$sc-btn-bookmark-selected-y: 63px;
$sc-btn-bookmark-selected-offset-x: -189px;
$sc-btn-bookmark-selected-offset-y: -63px;
$sc-btn-bookmark-selected-width: 17px;
$sc-btn-bookmark-selected-height: 21px;
$sc-btn-bookmark-selected-total-width: 206px;
$sc-btn-bookmark-selected-total-height: 376px;
$sc-btn-bookmark-selected-image: '../images/sprites.png';
$sc-btn-bookmark-selected: (189px, 63px, -189px, -63px, 17px, 21px, 206px, 376px, '../images/sprites.png', 'sc-btn_bookmark_selected', );
$sc-checked-name: 'sc-checked';
$sc-checked-x: 147px;
$sc-checked-y: 143px;
$sc-checked-offset-x: -147px;
$sc-checked-offset-y: -143px;
$sc-checked-width: 17px;
$sc-checked-height: 18px;
$sc-checked-total-width: 206px;
$sc-checked-total-height: 376px;
$sc-checked-image: '../images/sprites.png';
$sc-checked: (147px, 143px, -147px, -143px, 17px, 18px, 206px, 376px, '../images/sprites.png', 'sc-checked', );
$sc-checked-disabled-name: 'sc-checked_disabled';
$sc-checked-disabled-x: 170px;
$sc-checked-disabled-y: 143px;
$sc-checked-disabled-offset-x: -170px;
$sc-checked-disabled-offset-y: -143px;
$sc-checked-disabled-width: 17px;
$sc-checked-disabled-height: 17px;
$sc-checked-disabled-total-width: 206px;
$sc-checked-disabled-total-height: 376px;
$sc-checked-disabled-image: '../images/sprites.png';
$sc-checked-disabled: (170px, 143px, -170px, -143px, 17px, 17px, 206px, 376px, '../images/sprites.png', 'sc-checked_disabled', );
$sc-footer-cloud-name: 'sc-footer_cloud';
$sc-footer-cloud-x: 29px;
$sc-footer-cloud-y: 0px;
$sc-footer-cloud-offset-x: -29px;
$sc-footer-cloud-offset-y: 0px;
$sc-footer-cloud-width: 41px;
$sc-footer-cloud-height: 138px;
$sc-footer-cloud-total-width: 206px;
$sc-footer-cloud-total-height: 376px;
$sc-footer-cloud-image: '../images/sprites.png';
$sc-footer-cloud: (29px, 0px, -29px, 0px, 41px, 138px, 206px, 376px, '../images/sprites.png', 'sc-footer_cloud', );
$sc-icon-aliyun-name: 'sc-icon_aliyun';
$sc-icon-aliyun-x: 76px;
$sc-icon-aliyun-y: 18px;
$sc-icon-aliyun-offset-x: -76px;
$sc-icon-aliyun-offset-y: -18px;
$sc-icon-aliyun-width: 39px;
$sc-icon-aliyun-height: 39px;
$sc-icon-aliyun-total-width: 206px;
$sc-icon-aliyun-total-height: 376px;
$sc-icon-aliyun-image: '../images/sprites.png';
$sc-icon-aliyun: (76px, 18px, -76px, -18px, 39px, 39px, 206px, 376px, '../images/sprites.png', 'sc-icon_aliyun', );
$sc-icon-aws-name: 'sc-icon_aws';
$sc-icon-aws-x: 121px;
$sc-icon-aws-y: 18px;
$sc-icon-aws-offset-x: -121px;
$sc-icon-aws-offset-y: -18px;
$sc-icon-aws-width: 39px;
$sc-icon-aws-height: 39px;
$sc-icon-aws-total-width: 206px;
$sc-icon-aws-total-height: 376px;
$sc-icon-aws-image: '../images/sprites.png';
$sc-icon-aws: (121px, 18px, -121px, -18px, 39px, 39px, 206px, 376px, '../images/sprites.png', 'sc-icon_aws', );
$sc-icon-azure-name: 'sc-icon_azure';
$sc-icon-azure-x: 166px;
$sc-icon-azure-y: 18px;
$sc-icon-azure-offset-x: -166px;
$sc-icon-azure-offset-y: -18px;
$sc-icon-azure-width: 39px;
$sc-icon-azure-height: 39px;
$sc-icon-azure-total-width: 206px;
$sc-icon-azure-total-height: 376px;
$sc-icon-azure-image: '../images/sprites.png';
$sc-icon-azure: (166px, 18px, -166px, -18px, 39px, 39px, 206px, 376px, '../images/sprites.png', 'sc-icon_azure', );
$sc-icon-cloud-name: 'sc-icon_cloud';
$sc-icon-cloud-x: 76px;
$sc-icon-cloud-y: 63px;
$sc-icon-cloud-offset-x: -76px;
$sc-icon-cloud-offset-y: -63px;
$sc-icon-cloud-width: 39px;
$sc-icon-cloud-height: 39px;
$sc-icon-cloud-total-width: 206px;
$sc-icon-cloud-total-height: 376px;
$sc-icon-cloud-image: '../images/sprites.png';
$sc-icon-cloud: (76px, 63px, -76px, -63px, 39px, 39px, 206px, 376px, '../images/sprites.png', 'sc-icon_cloud', );
$sc-icon-minus-name: 'sc-icon_minus';
$sc-icon-minus-x: 76px;
$sc-icon-minus-y: 108px;
$sc-icon-minus-offset-x: -76px;
$sc-icon-minus-offset-y: -108px;
$sc-icon-minus-width: 28px;
$sc-icon-minus-height: 29px;
$sc-icon-minus-total-width: 206px;
$sc-icon-minus-total-height: 376px;
$sc-icon-minus-image: '../images/sprites.png';
$sc-icon-minus: (76px, 108px, -76px, -108px, 28px, 29px, 206px, 376px, '../images/sprites.png', 'sc-icon_minus', );
$sc-icon-minus-selected-name: 'sc-icon_minus_selected';
$sc-icon-minus-selected-x: 155px;
$sc-icon-minus-selected-y: 63px;
$sc-icon-minus-selected-offset-x: -155px;
$sc-icon-minus-selected-offset-y: -63px;
$sc-icon-minus-selected-width: 28px;
$sc-icon-minus-selected-height: 29px;
$sc-icon-minus-selected-total-width: 206px;
$sc-icon-minus-selected-total-height: 376px;
$sc-icon-minus-selected-image: '../images/sprites.png';
$sc-icon-minus-selected: (155px, 63px, -155px, -63px, 28px, 29px, 206px, 376px, '../images/sprites.png', 'sc-icon_minus_selected', );
$sc-icon-plus-name: 'sc-icon_plus';
$sc-icon-plus-x: 121px;
$sc-icon-plus-y: 63px;
$sc-icon-plus-offset-x: -121px;
$sc-icon-plus-offset-y: -63px;
$sc-icon-plus-width: 28px;
$sc-icon-plus-height: 29px;
$sc-icon-plus-total-width: 206px;
$sc-icon-plus-total-height: 376px;
$sc-icon-plus-image: '../images/sprites.png';
$sc-icon-plus: (121px, 63px, -121px, -63px, 28px, 29px, 206px, 376px, '../images/sprites.png', 'sc-icon_plus', );
$sc-icon-plus-selected-name: 'sc-icon_plus_selected';
$sc-icon-plus-selected-x: 110px;
$sc-icon-plus-selected-y: 108px;
$sc-icon-plus-selected-offset-x: -110px;
$sc-icon-plus-selected-offset-y: -108px;
$sc-icon-plus-selected-width: 28px;
$sc-icon-plus-selected-height: 29px;
$sc-icon-plus-selected-total-width: 206px;
$sc-icon-plus-selected-total-height: 376px;
$sc-icon-plus-selected-image: '../images/sprites.png';
$sc-icon-plus-selected: (110px, 108px, -110px, -108px, 28px, 29px, 206px, 376px, '../images/sprites.png', 'sc-icon_plus_selected', );
$sc-indeterminate-name: 'sc-indeterminate';
$sc-indeterminate-x: 124px;
$sc-indeterminate-y: 143px;
$sc-indeterminate-offset-x: -124px;
$sc-indeterminate-offset-y: -143px;
$sc-indeterminate-width: 17px;
$sc-indeterminate-height: 18px;
$sc-indeterminate-total-width: 206px;
$sc-indeterminate-total-height: 376px;
$sc-indeterminate-image: '../images/sprites.png';
$sc-indeterminate: (124px, 143px, -124px, -143px, 17px, 18px, 206px, 376px, '../images/sprites.png', 'sc-indeterminate', );
$sc-pending-name: 'sc-pending';
$sc-pending-x: 76px;
$sc-pending-y: 143px;
$sc-pending-offset-x: -76px;
$sc-pending-offset-y: -143px;
$sc-pending-width: 18px;
$sc-pending-height: 18px;
$sc-pending-total-width: 206px;
$sc-pending-total-height: 376px;
$sc-pending-image: '../images/sprites.png';
$sc-pending: (76px, 143px, -76px, -143px, 18px, 18px, 206px, 376px, '../images/sprites.png', 'sc-pending', );
$sc-rchecked-name: 'sc-rchecked';
$sc-rchecked-x: 99px;
$sc-rchecked-y: 167px;
$sc-rchecked-offset-x: -99px;
$sc-rchecked-offset-y: -167px;
$sc-rchecked-width: 17px;
$sc-rchecked-height: 17px;
$sc-rchecked-total-width: 206px;
$sc-rchecked-total-height: 376px;
$sc-rchecked-image: '../images/sprites.png';
$sc-rchecked: (99px, 167px, -99px, -167px, 17px, 17px, 206px, 376px, '../images/sprites.png', 'sc-rchecked', );
$sc-rchecked-disabled-name: 'sc-rchecked_disabled';
$sc-rchecked-disabled-x: 122px;
$sc-rchecked-disabled-y: 167px;
$sc-rchecked-disabled-offset-x: -122px;
$sc-rchecked-disabled-offset-y: -167px;
$sc-rchecked-disabled-width: 17px;
$sc-rchecked-disabled-height: 17px;
$sc-rchecked-disabled-total-width: 206px;
$sc-rchecked-disabled-total-height: 376px;
$sc-rchecked-disabled-image: '../images/sprites.png';
$sc-rchecked-disabled: (122px, 167px, -122px, -167px, 17px, 17px, 206px, 376px, '../images/sprites.png', 'sc-rchecked_disabled', );
$sc-runchecked-name: 'sc-runchecked';
$sc-runchecked-x: 76px;
$sc-runchecked-y: 167px;
$sc-runchecked-offset-x: -76px;
$sc-runchecked-offset-y: -167px;
$sc-runchecked-width: 17px;
$sc-runchecked-height: 17px;
$sc-runchecked-total-width: 206px;
$sc-runchecked-total-height: 376px;
$sc-runchecked-image: '../images/sprites.png';
$sc-runchecked: (76px, 167px, -76px, -167px, 17px, 17px, 206px, 376px, '../images/sprites.png', 'sc-runchecked', );
$sc-sort-asc-name: 'sc-sort_asc';
$sc-sort-asc-x: 76px;
$sc-sort-asc-y: 190px;
$sc-sort-asc-offset-x: -76px;
$sc-sort-asc-offset-y: -190px;
$sc-sort-asc-width: 17px;
$sc-sort-asc-height: 10px;
$sc-sort-asc-total-width: 206px;
$sc-sort-asc-total-height: 376px;
$sc-sort-asc-image: '../images/sprites.png';
$sc-sort-asc: (76px, 190px, -76px, -190px, 17px, 10px, 206px, 376px, '../images/sprites.png', 'sc-sort_asc', );
$sc-sort-desc-name: 'sc-sort_desc';
$sc-sort-desc-x: 145px;
$sc-sort-desc-y: 167px;
$sc-sort-desc-offset-x: -145px;
$sc-sort-desc-offset-y: -167px;
$sc-sort-desc-width: 17px;
$sc-sort-desc-height: 10px;
$sc-sort-desc-total-width: 206px;
$sc-sort-desc-total-height: 376px;
$sc-sort-desc-image: '../images/sprites.png';
$sc-sort-desc: (145px, 167px, -145px, -167px, 17px, 10px, 206px, 376px, '../images/sprites.png', 'sc-sort_desc', );
$sc-sort-none-name: 'sc-sort_none';
$sc-sort-none-x: 168px;
$sc-sort-none-y: 167px;
$sc-sort-none-offset-x: -168px;
$sc-sort-none-offset-y: -167px;
$sc-sort-none-width: 17px;
$sc-sort-none-height: 10px;
$sc-sort-none-total-width: 206px;
$sc-sort-none-total-height: 376px;
$sc-sort-none-image: '../images/sprites.png';
$sc-sort-none: (168px, 167px, -168px, -167px, 17px, 10px, 206px, 376px, '../images/sprites.png', 'sc-sort_none', );
$sc-unchecked-name: 'sc-unchecked';
$sc-unchecked-x: 100px;
$sc-unchecked-y: 143px;
$sc-unchecked-offset-x: -100px;
$sc-unchecked-offset-y: -143px;
$sc-unchecked-width: 18px;
$sc-unchecked-height: 18px;
$sc-unchecked-total-width: 206px;
$sc-unchecked-total-height: 376px;
$sc-unchecked-image: '../images/sprites.png';
$sc-unchecked: (100px, 143px, -100px, -143px, 18px, 18px, 206px, 376px, '../images/sprites.png', 'sc-unchecked', );
$sc-unchecked-disabled-name: 'sc-unchecked_disabled';
$sc-unchecked-disabled-x: 167px;
$sc-unchecked-disabled-y: 108px;
$sc-unchecked-disabled-offset-x: -167px;
$sc-unchecked-disabled-offset-y: -108px;
$sc-unchecked-disabled-width: 18px;
$sc-unchecked-disabled-height: 18px;
$sc-unchecked-disabled-total-width: 206px;
$sc-unchecked-disabled-total-height: 376px;
$sc-unchecked-disabled-image: '../images/sprites.png';
$sc-unchecked-disabled: (167px, 108px, -167px, -108px, 18px, 18px, 206px, 376px, '../images/sprites.png', 'sc-unchecked_disabled', );
$sc-bespin-logotype-2x-name: 'sc-bespin-logotype@2x';
$sc-bespin-logotype-2x-x: 152px;
$sc-bespin-logotype-2x-y: 0px;
$sc-bespin-logotype-2x-offset-x: -152px;
$sc-bespin-logotype-2x-offset-y: 0px;
$sc-bespin-logotype-2x-width: 260px;
$sc-bespin-logotype-2x-height: 24px;
$sc-bespin-logotype-2x-total-width: 412px;
$sc-bespin-logotype-2x-total-height: 752px;
$sc-bespin-logotype-2x-image: '../images/sprites@2x.png';
$sc-bespin-logotype-2x: (152px, 0px, -152px, 0px, 260px, 24px, 412px, 752px, '../images/sprites@2x.png', 'sc-bespin-logotype@2x', );
$sc-bespin-cloud-2x-name: 'sc-bespin_cloud@2x';
$sc-bespin-cloud-2x-x: 0px;
$sc-bespin-cloud-2x-y: 0px;
$sc-bespin-cloud-2x-offset-x: 0px;
$sc-bespin-cloud-2x-offset-y: 0px;
$sc-bespin-cloud-2x-width: 46px;
$sc-bespin-cloud-2x-height: 752px;
$sc-bespin-cloud-2x-total-width: 412px;
$sc-bespin-cloud-2x-total-height: 752px;
$sc-bespin-cloud-2x-image: '../images/sprites@2x.png';
$sc-bespin-cloud-2x: (0px, 0px, 0px, 0px, 46px, 752px, 412px, 752px, '../images/sprites@2x.png', 'sc-bespin_cloud@2x', );
$sc-btn-bookmark-2x-name: 'sc-btn_bookmark@2x';
$sc-btn-bookmark-2x-x: 288px;
$sc-btn-bookmark-2x-y: 216px;
$sc-btn-bookmark-2x-offset-x: -288px;
$sc-btn-bookmark-2x-offset-y: -216px;
$sc-btn-bookmark-2x-width: 34px;
$sc-btn-bookmark-2x-height: 42px;
$sc-btn-bookmark-2x-total-width: 412px;
$sc-btn-bookmark-2x-total-height: 752px;
$sc-btn-bookmark-2x-image: '../images/sprites@2x.png';
$sc-btn-bookmark-2x: (288px, 216px, -288px, -216px, 34px, 42px, 412px, 752px, '../images/sprites@2x.png', 'sc-btn_bookmark@2x', );
$sc-btn-bookmark-selected-2x-name: 'sc-btn_bookmark_selected@2x';
$sc-btn-bookmark-selected-2x-x: 378px;
$sc-btn-bookmark-selected-2x-y: 126px;
$sc-btn-bookmark-selected-2x-offset-x: -378px;
$sc-btn-bookmark-selected-2x-offset-y: -126px;
$sc-btn-bookmark-selected-2x-width: 34px;
$sc-btn-bookmark-selected-2x-height: 42px;
$sc-btn-bookmark-selected-2x-total-width: 412px;
$sc-btn-bookmark-selected-2x-total-height: 752px;
$sc-btn-bookmark-selected-2x-image: '../images/sprites@2x.png';
$sc-btn-bookmark-selected-2x: (378px, 126px, -378px, -126px, 34px, 42px, 412px, 752px, '../images/sprites@2x.png', 'sc-btn_bookmark_selected@2x', );
$sc-checked-2x-name: 'sc-checked@2x';
$sc-checked-2x-x: 294px;
$sc-checked-2x-y: 286px;
$sc-checked-2x-offset-x: -294px;
$sc-checked-2x-offset-y: -286px;
$sc-checked-2x-width: 34px;
$sc-checked-2x-height: 36px;
$sc-checked-2x-total-width: 412px;
$sc-checked-2x-total-height: 752px;
$sc-checked-2x-image: '../images/sprites@2x.png';
$sc-checked-2x: (294px, 286px, -294px, -286px, 34px, 36px, 412px, 752px, '../images/sprites@2x.png', 'sc-checked@2x', );
$sc-checked-disabled-2x-name: 'sc-checked_disabled@2x';
$sc-checked-disabled-2x-x: 340px;
$sc-checked-disabled-2x-y: 286px;
$sc-checked-disabled-2x-offset-x: -340px;
$sc-checked-disabled-2x-offset-y: -286px;
$sc-checked-disabled-2x-width: 34px;
$sc-checked-disabled-2x-height: 34px;
$sc-checked-disabled-2x-total-width: 412px;
$sc-checked-disabled-2x-total-height: 752px;
$sc-checked-disabled-2x-image: '../images/sprites@2x.png';
$sc-checked-disabled-2x: (340px, 286px, -340px, -286px, 34px, 34px, 412px, 752px, '../images/sprites@2x.png', 'sc-checked_disabled@2x', );
$sc-footer-cloud-2x-name: 'sc-footer_cloud@2x';
$sc-footer-cloud-2x-x: 58px;
$sc-footer-cloud-2x-y: 0px;
$sc-footer-cloud-2x-offset-x: -58px;
$sc-footer-cloud-2x-offset-y: 0px;
$sc-footer-cloud-2x-width: 82px;
$sc-footer-cloud-2x-height: 276px;
$sc-footer-cloud-2x-total-width: 412px;
$sc-footer-cloud-2x-total-height: 752px;
$sc-footer-cloud-2x-image: '../images/sprites@2x.png';
$sc-footer-cloud-2x: (58px, 0px, -58px, 0px, 82px, 276px, 412px, 752px, '../images/sprites@2x.png', 'sc-footer_cloud@2x', );
$sc-icon-aliyun-2x-name: 'sc-icon_aliyun@2x';
$sc-icon-aliyun-2x-x: 152px;
$sc-icon-aliyun-2x-y: 36px;
$sc-icon-aliyun-2x-offset-x: -152px;
$sc-icon-aliyun-2x-offset-y: -36px;
$sc-icon-aliyun-2x-width: 78px;
$sc-icon-aliyun-2x-height: 78px;
$sc-icon-aliyun-2x-total-width: 412px;
$sc-icon-aliyun-2x-total-height: 752px;
$sc-icon-aliyun-2x-image: '../images/sprites@2x.png';
$sc-icon-aliyun-2x: (152px, 36px, -152px, -36px, 78px, 78px, 412px, 752px, '../images/sprites@2x.png', 'sc-icon_aliyun@2x', );
$sc-icon-aws-2x-name: 'sc-icon_aws@2x';
$sc-icon-aws-2x-x: 242px;
$sc-icon-aws-2x-y: 36px;
$sc-icon-aws-2x-offset-x: -242px;
$sc-icon-aws-2x-offset-y: -36px;
$sc-icon-aws-2x-width: 78px;
$sc-icon-aws-2x-height: 78px;
$sc-icon-aws-2x-total-width: 412px;
$sc-icon-aws-2x-total-height: 752px;
$sc-icon-aws-2x-image: '../images/sprites@2x.png';
$sc-icon-aws-2x: (242px, 36px, -242px, -36px, 78px, 78px, 412px, 752px, '../images/sprites@2x.png', 'sc-icon_aws@2x', );
$sc-icon-azure-2x-name: 'sc-icon_azure@2x';
$sc-icon-azure-2x-x: 332px;
$sc-icon-azure-2x-y: 36px;
$sc-icon-azure-2x-offset-x: -332px;
$sc-icon-azure-2x-offset-y: -36px;
$sc-icon-azure-2x-width: 78px;
$sc-icon-azure-2x-height: 78px;
$sc-icon-azure-2x-total-width: 412px;
$sc-icon-azure-2x-total-height: 752px;
$sc-icon-azure-2x-image: '../images/sprites@2x.png';
$sc-icon-azure-2x: (332px, 36px, -332px, -36px, 78px, 78px, 412px, 752px, '../images/sprites@2x.png', 'sc-icon_azure@2x', );
$sc-icon-cloud-2x-name: 'sc-icon_cloud@2x';
$sc-icon-cloud-2x-x: 152px;
$sc-icon-cloud-2x-y: 126px;
$sc-icon-cloud-2x-offset-x: -152px;
$sc-icon-cloud-2x-offset-y: -126px;
$sc-icon-cloud-2x-width: 78px;
$sc-icon-cloud-2x-height: 78px;
$sc-icon-cloud-2x-total-width: 412px;
$sc-icon-cloud-2x-total-height: 752px;
$sc-icon-cloud-2x-image: '../images/sprites@2x.png';
$sc-icon-cloud-2x: (152px, 126px, -152px, -126px, 78px, 78px, 412px, 752px, '../images/sprites@2x.png', 'sc-icon_cloud@2x', );
$sc-icon-minus-2x-name: 'sc-icon_minus@2x';
$sc-icon-minus-2x-x: 152px;
$sc-icon-minus-2x-y: 216px;
$sc-icon-minus-2x-offset-x: -152px;
$sc-icon-minus-2x-offset-y: -216px;
$sc-icon-minus-2x-width: 56px;
$sc-icon-minus-2x-height: 58px;
$sc-icon-minus-2x-total-width: 412px;
$sc-icon-minus-2x-total-height: 752px;
$sc-icon-minus-2x-image: '../images/sprites@2x.png';
$sc-icon-minus-2x: (152px, 216px, -152px, -216px, 56px, 58px, 412px, 752px, '../images/sprites@2x.png', 'sc-icon_minus@2x', );
$sc-icon-minus-selected-2x-name: 'sc-icon_minus_selected@2x';
$sc-icon-minus-selected-2x-x: 310px;
$sc-icon-minus-selected-2x-y: 126px;
$sc-icon-minus-selected-2x-offset-x: -310px;
$sc-icon-minus-selected-2x-offset-y: -126px;
$sc-icon-minus-selected-2x-width: 56px;
$sc-icon-minus-selected-2x-height: 58px;
$sc-icon-minus-selected-2x-total-width: 412px;
$sc-icon-minus-selected-2x-total-height: 752px;
$sc-icon-minus-selected-2x-image: '../images/sprites@2x.png';
$sc-icon-minus-selected-2x: (310px, 126px, -310px, -126px, 56px, 58px, 412px, 752px, '../images/sprites@2x.png', 'sc-icon_minus_selected@2x', );
$sc-icon-plus-2x-name: 'sc-icon_plus@2x';
$sc-icon-plus-2x-x: 242px;
$sc-icon-plus-2x-y: 126px;
$sc-icon-plus-2x-offset-x: -242px;
$sc-icon-plus-2x-offset-y: -126px;
$sc-icon-plus-2x-width: 56px;
$sc-icon-plus-2x-height: 58px;
$sc-icon-plus-2x-total-width: 412px;
$sc-icon-plus-2x-total-height: 752px;
$sc-icon-plus-2x-image: '../images/sprites@2x.png';
$sc-icon-plus-2x: (242px, 126px, -242px, -126px, 56px, 58px, 412px, 752px, '../images/sprites@2x.png', 'sc-icon_plus@2x', );
$sc-icon-plus-selected-2x-name: 'sc-icon_plus_selected@2x';
$sc-icon-plus-selected-2x-x: 220px;
$sc-icon-plus-selected-2x-y: 216px;
$sc-icon-plus-selected-2x-offset-x: -220px;
$sc-icon-plus-selected-2x-offset-y: -216px;
$sc-icon-plus-selected-2x-width: 56px;
$sc-icon-plus-selected-2x-height: 58px;
$sc-icon-plus-selected-2x-total-width: 412px;
$sc-icon-plus-selected-2x-total-height: 752px;
$sc-icon-plus-selected-2x-image: '../images/sprites@2x.png';
$sc-icon-plus-selected-2x: (220px, 216px, -220px, -216px, 56px, 58px, 412px, 752px, '../images/sprites@2x.png', 'sc-icon_plus_selected@2x', );
$sc-indeterminate-2x-name: 'sc-indeterminate@2x';
$sc-indeterminate-2x-x: 248px;
$sc-indeterminate-2x-y: 286px;
$sc-indeterminate-2x-offset-x: -248px;
$sc-indeterminate-2x-offset-y: -286px;
$sc-indeterminate-2x-width: 34px;
$sc-indeterminate-2x-height: 36px;
$sc-indeterminate-2x-total-width: 412px;
$sc-indeterminate-2x-total-height: 752px;
$sc-indeterminate-2x-image: '../images/sprites@2x.png';
$sc-indeterminate-2x: (248px, 286px, -248px, -286px, 34px, 36px, 412px, 752px, '../images/sprites@2x.png', 'sc-indeterminate@2x', );
$sc-pending-2x-name: 'sc-pending@2x';
$sc-pending-2x-x: 152px;
$sc-pending-2x-y: 286px;
$sc-pending-2x-offset-x: -152px;
$sc-pending-2x-offset-y: -286px;
$sc-pending-2x-width: 36px;
$sc-pending-2x-height: 36px;
$sc-pending-2x-total-width: 412px;
$sc-pending-2x-total-height: 752px;
$sc-pending-2x-image: '../images/sprites@2x.png';
$sc-pending-2x: (152px, 286px, -152px, -286px, 36px, 36px, 412px, 752px, '../images/sprites@2x.png', 'sc-pending@2x', );
$sc-rchecked-2x-name: 'sc-rchecked@2x';
$sc-rchecked-2x-x: 198px;
$sc-rchecked-2x-y: 334px;
$sc-rchecked-2x-offset-x: -198px;
$sc-rchecked-2x-offset-y: -334px;
$sc-rchecked-2x-width: 34px;
$sc-rchecked-2x-height: 34px;
$sc-rchecked-2x-total-width: 412px;
$sc-rchecked-2x-total-height: 752px;
$sc-rchecked-2x-image: '../images/sprites@2x.png';
$sc-rchecked-2x: (198px, 334px, -198px, -334px, 34px, 34px, 412px, 752px, '../images/sprites@2x.png', 'sc-rchecked@2x', );
$sc-rchecked-disabled-2x-name: 'sc-rchecked_disabled@2x';
$sc-rchecked-disabled-2x-x: 244px;
$sc-rchecked-disabled-2x-y: 334px;
$sc-rchecked-disabled-2x-offset-x: -244px;
$sc-rchecked-disabled-2x-offset-y: -334px;
$sc-rchecked-disabled-2x-width: 34px;
$sc-rchecked-disabled-2x-height: 34px;
$sc-rchecked-disabled-2x-total-width: 412px;
$sc-rchecked-disabled-2x-total-height: 752px;
$sc-rchecked-disabled-2x-image: '../images/sprites@2x.png';
$sc-rchecked-disabled-2x: (244px, 334px, -244px, -334px, 34px, 34px, 412px, 752px, '../images/sprites@2x.png', 'sc-rchecked_disabled@2x', );
$sc-runchecked-2x-name: 'sc-runchecked@2x';
$sc-runchecked-2x-x: 152px;
$sc-runchecked-2x-y: 334px;
$sc-runchecked-2x-offset-x: -152px;
$sc-runchecked-2x-offset-y: -334px;
$sc-runchecked-2x-width: 34px;
$sc-runchecked-2x-height: 34px;
$sc-runchecked-2x-total-width: 412px;
$sc-runchecked-2x-total-height: 752px;
$sc-runchecked-2x-image: '../images/sprites@2x.png';
$sc-runchecked-2x: (152px, 334px, -152px, -334px, 34px, 34px, 412px, 752px, '../images/sprites@2x.png', 'sc-runchecked@2x', );
$sc-sort-asc-2x-name: 'sc-sort_asc@2x';
$sc-sort-asc-2x-x: 152px;
$sc-sort-asc-2x-y: 380px;
$sc-sort-asc-2x-offset-x: -152px;
$sc-sort-asc-2x-offset-y: -380px;
$sc-sort-asc-2x-width: 34px;
$sc-sort-asc-2x-height: 20px;
$sc-sort-asc-2x-total-width: 412px;
$sc-sort-asc-2x-total-height: 752px;
$sc-sort-asc-2x-image: '../images/sprites@2x.png';
$sc-sort-asc-2x: (152px, 380px, -152px, -380px, 34px, 20px, 412px, 752px, '../images/sprites@2x.png', 'sc-sort_asc@2x', );
$sc-sort-desc-2x-name: 'sc-sort_desc@2x';
$sc-sort-desc-2x-x: 290px;
$sc-sort-desc-2x-y: 334px;
$sc-sort-desc-2x-offset-x: -290px;
$sc-sort-desc-2x-offset-y: -334px;
$sc-sort-desc-2x-width: 34px;
$sc-sort-desc-2x-height: 20px;
$sc-sort-desc-2x-total-width: 412px;
$sc-sort-desc-2x-total-height: 752px;
$sc-sort-desc-2x-image: '../images/sprites@2x.png';
$sc-sort-desc-2x: (290px, 334px, -290px, -334px, 34px, 20px, 412px, 752px, '../images/sprites@2x.png', 'sc-sort_desc@2x', );
$sc-sort-none-2x-name: 'sc-sort_none@2x';
$sc-sort-none-2x-x: 336px;
$sc-sort-none-2x-y: 334px;
$sc-sort-none-2x-offset-x: -336px;
$sc-sort-none-2x-offset-y: -334px;
$sc-sort-none-2x-width: 34px;
$sc-sort-none-2x-height: 20px;
$sc-sort-none-2x-total-width: 412px;
$sc-sort-none-2x-total-height: 752px;
$sc-sort-none-2x-image: '../images/sprites@2x.png';
$sc-sort-none-2x: (336px, 334px, -336px, -334px, 34px, 20px, 412px, 752px, '../images/sprites@2x.png', 'sc-sort_none@2x', );
$sc-unchecked-2x-name: 'sc-unchecked@2x';
$sc-unchecked-2x-x: 200px;
$sc-unchecked-2x-y: 286px;
$sc-unchecked-2x-offset-x: -200px;
$sc-unchecked-2x-offset-y: -286px;
$sc-unchecked-2x-width: 36px;
$sc-unchecked-2x-height: 36px;
$sc-unchecked-2x-total-width: 412px;
$sc-unchecked-2x-total-height: 752px;
$sc-unchecked-2x-image: '../images/sprites@2x.png';
$sc-unchecked-2x: (200px, 286px, -200px, -286px, 36px, 36px, 412px, 752px, '../images/sprites@2x.png', 'sc-unchecked@2x', );
$sc-unchecked-disabled-2x-name: 'sc-unchecked_disabled@2x';
$sc-unchecked-disabled-2x-x: 334px;
$sc-unchecked-disabled-2x-y: 216px;
$sc-unchecked-disabled-2x-offset-x: -334px;
$sc-unchecked-disabled-2x-offset-y: -216px;
$sc-unchecked-disabled-2x-width: 36px;
$sc-unchecked-disabled-2x-height: 36px;
$sc-unchecked-disabled-2x-total-width: 412px;
$sc-unchecked-disabled-2x-total-height: 752px;
$sc-unchecked-disabled-2x-image: '../images/sprites@2x.png';
$sc-unchecked-disabled-2x: (334px, 216px, -334px, -216px, 36px, 36px, 412px, 752px, '../images/sprites@2x.png', 'sc-unchecked_disabled@2x', );
$spritesheet-width: 206px;
$spritesheet-height: 376px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($sc-bespin-logotype, $sc-bespin-cloud, $sc-btn-bookmark, $sc-btn-bookmark-selected, $sc-checked, $sc-checked-disabled, $sc-footer-cloud, $sc-icon-aliyun, $sc-icon-aws, $sc-icon-azure, $sc-icon-cloud, $sc-icon-minus, $sc-icon-minus-selected, $sc-icon-plus, $sc-icon-plus-selected, $sc-indeterminate, $sc-pending, $sc-rchecked, $sc-rchecked-disabled, $sc-runchecked, $sc-sort-asc, $sc-sort-desc, $sc-sort-none, $sc-unchecked, $sc-unchecked-disabled, );
$spritesheet: (206px, 376px, '../images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 412px;
$retina-spritesheet-height: 752px;
$retina-spritesheet-image: '../images/sprites@2x.png';
$retina-spritesheet-sprites: ($sc-bespin-logotype-2x, $sc-bespin-cloud-2x, $sc-btn-bookmark-2x, $sc-btn-bookmark-selected-2x, $sc-checked-2x, $sc-checked-disabled-2x, $sc-footer-cloud-2x, $sc-icon-aliyun-2x, $sc-icon-aws-2x, $sc-icon-azure-2x, $sc-icon-cloud-2x, $sc-icon-minus-2x, $sc-icon-minus-selected-2x, $sc-icon-plus-2x, $sc-icon-plus-selected-2x, $sc-indeterminate-2x, $sc-pending-2x, $sc-rchecked-2x, $sc-rchecked-disabled-2x, $sc-runchecked-2x, $sc-sort-asc-2x, $sc-sort-desc-2x, $sc-sort-none-2x, $sc-unchecked-2x, $sc-unchecked-disabled-2x, );
$retina-spritesheet: (412px, 752px, '../images/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sc-bespin-logotype-group-name: 'sc-bespin-logotype';
$sc-bespin-logotype-group: ('sc-bespin-logotype', $sc-bespin-logotype, $sc-bespin-logotype-2x, );
$sc-bespin-cloud-group-name: 'sc-bespin_cloud';
$sc-bespin-cloud-group: ('sc-bespin_cloud', $sc-bespin-cloud, $sc-bespin-cloud-2x, );
$sc-btn-bookmark-group-name: 'sc-btn_bookmark';
$sc-btn-bookmark-group: ('sc-btn_bookmark', $sc-btn-bookmark, $sc-btn-bookmark-2x, );
$sc-btn-bookmark-selected-group-name: 'sc-btn_bookmark_selected';
$sc-btn-bookmark-selected-group: ('sc-btn_bookmark_selected', $sc-btn-bookmark-selected, $sc-btn-bookmark-selected-2x, );
$sc-checked-group-name: 'sc-checked';
$sc-checked-group: ('sc-checked', $sc-checked, $sc-checked-2x, );
$sc-checked-disabled-group-name: 'sc-checked_disabled';
$sc-checked-disabled-group: ('sc-checked_disabled', $sc-checked-disabled, $sc-checked-disabled-2x, );
$sc-footer-cloud-group-name: 'sc-footer_cloud';
$sc-footer-cloud-group: ('sc-footer_cloud', $sc-footer-cloud, $sc-footer-cloud-2x, );
$sc-icon-aliyun-group-name: 'sc-icon_aliyun';
$sc-icon-aliyun-group: ('sc-icon_aliyun', $sc-icon-aliyun, $sc-icon-aliyun-2x, );
$sc-icon-aws-group-name: 'sc-icon_aws';
$sc-icon-aws-group: ('sc-icon_aws', $sc-icon-aws, $sc-icon-aws-2x, );
$sc-icon-azure-group-name: 'sc-icon_azure';
$sc-icon-azure-group: ('sc-icon_azure', $sc-icon-azure, $sc-icon-azure-2x, );
$sc-icon-cloud-group-name: 'sc-icon_cloud';
$sc-icon-cloud-group: ('sc-icon_cloud', $sc-icon-cloud, $sc-icon-cloud-2x, );
$sc-icon-minus-group-name: 'sc-icon_minus';
$sc-icon-minus-group: ('sc-icon_minus', $sc-icon-minus, $sc-icon-minus-2x, );
$sc-icon-minus-selected-group-name: 'sc-icon_minus_selected';
$sc-icon-minus-selected-group: ('sc-icon_minus_selected', $sc-icon-minus-selected, $sc-icon-minus-selected-2x, );
$sc-icon-plus-group-name: 'sc-icon_plus';
$sc-icon-plus-group: ('sc-icon_plus', $sc-icon-plus, $sc-icon-plus-2x, );
$sc-icon-plus-selected-group-name: 'sc-icon_plus_selected';
$sc-icon-plus-selected-group: ('sc-icon_plus_selected', $sc-icon-plus-selected, $sc-icon-plus-selected-2x, );
$sc-indeterminate-group-name: 'sc-indeterminate';
$sc-indeterminate-group: ('sc-indeterminate', $sc-indeterminate, $sc-indeterminate-2x, );
$sc-pending-group-name: 'sc-pending';
$sc-pending-group: ('sc-pending', $sc-pending, $sc-pending-2x, );
$sc-rchecked-group-name: 'sc-rchecked';
$sc-rchecked-group: ('sc-rchecked', $sc-rchecked, $sc-rchecked-2x, );
$sc-rchecked-disabled-group-name: 'sc-rchecked_disabled';
$sc-rchecked-disabled-group: ('sc-rchecked_disabled', $sc-rchecked-disabled, $sc-rchecked-disabled-2x, );
$sc-runchecked-group-name: 'sc-runchecked';
$sc-runchecked-group: ('sc-runchecked', $sc-runchecked, $sc-runchecked-2x, );
$sc-sort-asc-group-name: 'sc-sort_asc';
$sc-sort-asc-group: ('sc-sort_asc', $sc-sort-asc, $sc-sort-asc-2x, );
$sc-sort-desc-group-name: 'sc-sort_desc';
$sc-sort-desc-group: ('sc-sort_desc', $sc-sort-desc, $sc-sort-desc-2x, );
$sc-sort-none-group-name: 'sc-sort_none';
$sc-sort-none-group: ('sc-sort_none', $sc-sort-none, $sc-sort-none-2x, );
$sc-unchecked-group-name: 'sc-unchecked';
$sc-unchecked-group: ('sc-unchecked', $sc-unchecked, $sc-unchecked-2x, );
$sc-unchecked-disabled-group-name: 'sc-unchecked_disabled';
$sc-unchecked-disabled-group: ('sc-unchecked_disabled', $sc-unchecked-disabled, $sc-unchecked-disabled-2x, );
$retina-groups: ($sc-bespin-logotype-group, $sc-bespin-cloud-group, $sc-btn-bookmark-group, $sc-btn-bookmark-selected-group, $sc-checked-group, $sc-checked-disabled-group, $sc-footer-cloud-group, $sc-icon-aliyun-group, $sc-icon-aws-group, $sc-icon-azure-group, $sc-icon-cloud-group, $sc-icon-minus-group, $sc-icon-minus-selected-group, $sc-icon-plus-group, $sc-icon-plus-selected-group, $sc-indeterminate-group, $sc-pending-group, $sc-rchecked-group, $sc-rchecked-disabled-group, $sc-runchecked-group, $sc-sort-asc-group, $sc-sort-desc-group, $sc-sort-none-group, $sc-unchecked-group, $sc-unchecked-disabled-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
