@charset "utf-8";

@import url(noyh.css);
@import url(nanumgothic.css);


/**
 * variable
 */
$font-base-stack: 'Noyh', 'Nanum Gothic', 'Malgun Gothic', Gulim, Dotum, sans-serif;
$contents-width: 1440px;
$column-left-width: 310px;
$column-right-width: 1010px;
$column-padding: 40px;


/**
 * colors
 */
$sunflower-yellow: #ffdc00;
$twilight: #6759a2;
$vermillion: #e74e0f;
$azure: #009ee2;
$white: #fff;
$gray: #e7e7e7;
$black: #000;



body { background-color: #fff; }

@import "base";
@import "icons";
@import "sprites";
@import "sprites_portal";
@import "sprites_asset";
@import "sprites_metering";

@import "selectric";
@import "aggrid-theme-bg";
@import "daterangepicker_custom";


/**
 * z-index
**/
$z-layers: (
	'modal':            1000,
	'modaless':          900,
	'gnb':	             800,
	'dropdown':          500,
	'hover':             200,
	'tooltip':           100,
	'default':             1,
	'bottomless-pit': -10000
);

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
	}

	@return map-get($z-layers, $layer);
}


/**
 * states
 */



/**
 * import
 */
@import "layout";
@import "components";
@import "portal";
@import "asset";
@import "metering";
