@charset "utf-8";

@import url(notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(magnific-popup.css);
@import url(jquery-confirm.css);


/**
 * variable
 */
$font-base-stack: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif;
$font-special-stack: 'Montserrat', 'Apple SD Gothic', sans-serif;
$contents-dashboard-width: 1350px;
$contents-width: 1200px;
$column-left-width: 300px;
$column-right-width: 800px;
$column-padding: 20px;


body { background-color: #fff; }

@import "base";

@import "icons";
@import "sprites";
@import "sprites_portal";
@import "sprites_asset";
@import "sprites_metering";


/**
 * z-index
**/
$z-layers: (
	'modal':            1000,
	'modaless':          900,
	'gnb':	             800,
	'dropdown':          500,
	'hover':             200,
	'tooltip':           100,
	'default':             1,
	'bottomless-pit': -10000
);

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
	}

	@return map-get($z-layers, $layer);
}



/**
 * keyframes
 */
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

@include keyframes(rotate) {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/**
 * import
 */
@import "slick";
@import "selectric";
@import "aggrid-theme-bg";
@import "daterangepicker_custom";
@import "tooltipster";

@import "global_menu";
@import "layout";

@import "animate";
@import "components";
@import "portal";
@import "asset";
@import "metering";
