@charset "utf-8";

/**
 * variable
 */
$font-base-stack: 'Noto Sans Korean', 'Apple SD Gothic', sans-serif;
$font-special-stack: 'Montserrat', 'Apple SD Gothic', sans-serif;
$contents-dashboard-width: 1350px;
$contents-width: 1200px;
$column-left-width: 300px;
$column-right-width: 800px;
$column-padding: 20px;

body { background-color: #fff; }

// @import "base";

@import "icons";
@import "layout_sprites";


/**
 * z-index
**/
$z-layers: (
	'modal':            1000,
	'modaless':          900,
	'gnb':	             800,
	'dropdown':          500,
	'hover':             200,
	'tooltip':           100,
	'default':             1,
	'bottomless-pit': -10000
);

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
	}

	@return map-get($z-layers, $layer);
}



/**
 * keyframes
 */
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

@include keyframes(rotate) {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/**
 * import
 */
@import "global_menu";
@import "layout_footer";
