/* 
 * Noyh Web Fonts
 */
 
@font-face {
  font-family: 'Noyh';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/eot/Noyh-Regular.eot);
  src: url(../fonts/eot/Noyh-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/woff/Noyh-Regular.woff2) format('woff2'),
       url(../fonts/woff/Noyh-Regular.woff) format('woff'),
       url(../fonts/ttf/Noyh-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noyh';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/eot/Noyh-SemiLight.eot);
  src: url(../fonts/eot/Noyh-SemiLight.eot?#iefix) format('embedded-opentype'),
       url(../fonts/woff/Noyh-SemiLight.woff2) format('woff2'),
       url(../fonts/woff/Noyh-SemiLight.woff) format('woff'),
       url(../fonts/ttf/Noyh-SemiLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Noyh';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/eot/Noyh-Bold.eot);
  src: url(../fonts/eot/Noyh-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/woff/Noyh-Bold.woff2) format('woff2'),
       url(../fonts/woff/Noyh-Bold.woff) format('woff'),
       url(../fonts/ttf/Noyh-Bold.ttf) format('truetype');
}